<div class="container-fluid ">

  <div class="row mrgn-bt-10 mrgn-tp-100" *ngIf = "!readable">
    <div class="col-md-12">
  <!--    <button mat-raised-button color="primary" style="margin-right:10px" (click)="editCourse()">Edit</button> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12" *ngIf="coUpdated">
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong> Congrats!</strong> Course Updated Successfully.
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf = "readable">
    <div class="col-md-12">
      <button (click)="backButton()" [ngClass] ="{'has-path':path.length}" style="margin-right: 7px;">
        <mat-icon title="Back">arrow_back</mat-icon>
      </button>
      <span *ngFor="let path of path" class="path-span">{{path.path_name}} <mat-icon class="path-icon">arrow_right</mat-icon></span>

    </div>
  </div>
  <div class="row" *ngIf = "readable && !courseModules">
     <span style="float:right"><a class="cursor" (click)="modulesOfCourse()">view modules</a></span>
  </div>
  <div *ngIf = "!courseModules" class="row course-main">
    <div class="col-md-12 pd-tp-10">
      <form [formGroup]="basicGroup">
        <mat-form-field class="example-full-width mrgn-2-per" appearance="outline">
          <mat-label>Course Name</mat-label>
          <input matInput placeholder="" formControlName="basicCtrl" required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline"
        >
          <mat-label>Course Type</mat-label>
          <select matNativeControl formControlName="basicCtrl2"  required>
            <option value="PRIVATE">Private</option>
            <option value="PUBLIC">Public</option>

          </select>
        </mat-form-field>

      </form>
    </div>

  </div>

  <div class="row" *ngIf = "!courseModules">
    <div class="col-md-12 course-main mrgn-tp-10 pd-tp-10" style="margin-bottom:100px">
      <form [formGroup]="imgGroup">

        <mat-form-field class="example-full-width mrgn-2-per" appearance="outline">
          <mat-label>Heading</mat-label>
          <input matInput placeholder="" formControlName="imgCtrl1" required>
        </mat-form-field>

        <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
          <mat-label>Status</mat-label>
          <select matNativeControl formControlName="imgCtrl2" required>
            <option value="ACTIVE">ACTIVE</option>
            <option value="BLOCKED">BLOCKED</option>
            <option value="UNDER_REVIEW">UNDER_REVIEW</option>
            <option value="NON_ACTIVE">NON_ACTIVE</option>
            <option value="INITIATED">INITIATED</option>

          </select>
        </mat-form-field>

        <div class="quart-width " style="display:inline">

   <!-- <input #upload type='file' name="file" accept="image/*" style="display:none" /> -->
        </div>

        <div *ngIf="coursePic" style="float: right;">
          <img [src]="coursePic" alt="" width="60" height="60">
        </div>
      </form>
      <div class="row">
        <div class="col-md-12 ">

          <!-- <ng-multiselect-dropdown [placeholder]="'Select Groups'" name="permissions" [data]="dropdownList"
                [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown> -->

        </div>
      </div>
      <div class="row" style="padding:15px">
        <div class="col-md-12" style="border:1px solid grey;padding-bottom:7px">
          <div class="row">
            <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Content(if
              any)</h4>

          </div>
          <div class="row">
            <div class="col-md-6">
              <div *ngIf="edit">
        <!--      <button mat-raised-button color="primary" (click)="clickUpload2()"> Images/Videos/Pdf</button>
                <input #upload2 type='file' name="file" accept="image/*,video/*,.pdf" (change)="processFile(upload2)"
                  style="display:none" /> -->
              </div>
              <div *ngIf="joinedcourse._albums" class="image-gallery mrgn-tp-20">
                <div *ngFor="let image of joinedcourse._albums; let i=index" class="img-row">
               <img *ngIf="i<5" class="img-frame" width="60" height="90" [src]="image.thumb" [title]="image.caption" (click)="open(i,joinedcourse._albums )" />
                    <div *ngIf="i==5" (click)="open(i,joinedcourse._albums )" class="pic-plus cursor"><mat-icon>add</mat-icon><span class="fs-20">{{joinedcourse._albums.length-5}}</span></div>
                </div>
            </div>

            </div>

            <div class="col-md-6" *ngIf = "!edit && video">
              <h5 style="text-align:center">External Videos</h5>
              <img width="348"  class=" cursor" *ngIf="!showExt" (click)="showExt = !showExt" height="180" [src]="video.default_thumbnail_url?video.default_thumbnail_url:video.medium_thumbnail_url">
              <iframe  *ngIf="showExt" frameborder="0" allowfullscreen="1" title="YouTube video player"
                width="348" height="180" [src]="video.video_url |safe"></iframe>
            </div>

           <div class="col-md-6" *ngIf = "edit">
            <form [formGroup]="extData">
              <mat-form-field class="course-full-width mrgn-2-per" appearance="outline">
                <mat-label>External Video Links</mat-label>
                <input matInput placeholder="" value="" formControlName="extDataCtrl1">
              </mat-form-field>
             </form>
           </div>
          </div>
        </div>
      </div>

      <form [formGroup]="detailGroup" style="border:1px solid grey">
        <div class="row">
          <div class="col-md-12">
            <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Details</h4>

          </div>
        </div>
        <mat-form-field class="quart-width mrgn-2-per" style="margin-left:10px" appearance="outline">
          <mat-label>Category</mat-label>
          <input matInput placeholder="" formControlName="detailCtrl1" required>
        </mat-form-field>

        <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
          <mat-label>Is Educational</mat-label>
          <select matNativeControl formControlName="detailCtrl2" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </mat-form-field>

        <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
          <mat-label>Language</mat-label>
          <select matNativeControl formControlName="detailCtrl3" required>
            <option value="Hindi">Hindi</option>
            <option value="English">English</option>
            <option value="Urdu">Urdu</option>
          </select>
        </mat-form-field>

      </form>

      <form [formGroup]="courseGroup" style="border:1px solid grey;margin-top: 15px">
        <div class="row">
          <div class="col-md-12">
            <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Course
              For</h4>

          </div>
        </div>
        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
          <mat-label>Course</mat-label>
          <input matInput placeholder="" formControlName="courseCtrl1" required>
        </mat-form-field>

        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
          <mat-label>Stream</mat-label>
          <input matInput placeholder="" formControlName="courseCtrl2" required>
        </mat-form-field>

        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
          <mat-label>Class</mat-label>
          <input matInput placeholder="" formControlName="courseCtrl3" required>
        </mat-form-field>

        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
          <mat-label>Sub-Class</mat-label>
          <input matInput placeholder="" formControlName="courseCtrl4" required>
        </mat-form-field>

        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
          <mat-label>Subject</mat-label>
          <input matInput placeholder="" formControlName="courseCtrl5" required>
        </mat-form-field>

        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
          <mat-label>Chapter</mat-label>
          <input matInput placeholder="" formControlName="courseCtrl6" required>
        </mat-form-field>

        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
          <mat-label>Concept</mat-label>
          <input matInput placeholder="" formControlName="courseCtrl7" required>
        </mat-form-field>



      </form>

      <form [formGroup]="descGroup" style="margin-top: 15px">

        <mat-form-field class="course-full-width" appearance="outline">
          <mat-label>Course Description</mat-label>
          <textarea matInput placeholder="" formControlName="descCtrl1"></textarea>
        </mat-form-field>

      </form>

      <hr>
      <div class="row">
       <div class="col-md-12">
      <div class="row course-side" style="margin-top:15px;margin-bottom: 15px;">
        <h3>Modules List</h3>
        <div *ngIf="arrOfModules">
          <ul>
            <li *ngFor="let i of arrOfModules[0]">
              
               <a (click)="moduleView(i)">{{i.module_name}}</a> 
            </li>
          </ul>
        </div>
    </div>
    </div>
  

        <hr>
        <app-joined-module-view *ngIf="moduleShow" [joinedmodule]="curModule"></app-joined-module-view>
      </div>


      <div *ngIf="edit">
        <button mat-raised-button color="primary" style="margin-right:10px" (click)="updateCourse()">Update</button>

        <button mat-raised-button>Reset</button>
      </div>

    </div>
  </div>

  <div class="row course-list" style="margin-top:15px" *ngIf = "courseModules">
    <ul>
        <li *ngFor="let module of courseModules" (dblclick)="openModulesofModules(module);curModule = undefined" title="double click to view modules">
             <a class="cursor" [ngClass]="{'red-link':curModule == module && activeLink}" (click)="curModule = module;activeLink = true" title="view module">{{module.module_name}}</a>
        </li>
      </ul>
 </div>

 <app-module-view *ngIf = "curModule && !moduleShow" [module]="curModule" [readable] = "true" (childModules) = showChildModules($event)></app-module-view>

</div>