<body class="about-us">
  <noscript>
      <iframe src="http://www.googletagmanager.com/ns.html?id=GTM-TB9ZRN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <header class="reverse">









    <nav id="main-nav" class="clearfix">
        <div id="main-nav-div-holder">
            <a id="main-nav-logo-holder" href="index.html">
                <img class="home-nav" src="assets/images/scholars_logo.png" />
            </a>

            <div id="menu-wrapper" class="clearfix reverse-float-right">

                <ul>
                    <li (click)="navigateToPages('main')">


                        <a>Home</a>

                    </li>
                    <li (click)="navigateToPages('about-us')">


                        <a>About Us</a>

                    </li>



                    <li>

                        <a (click)="navigateToPages('company')">
                            Company

                        </a>



                    </li>

                    <li>

                        <a (click)="navigateToPages('product')">
                            Product
                        </a>


                    </li>
                    <li>

                        <a (click)="navigateToPages('platform')">
                            Platform
                        </a>
                    </li>
                    <li (click)="navigateToPages('login')">

                        <a>
                            Log in
                        </a>
                    </li>

                </ul>


            </div>
        </div>
    </nav>
    <nav class="active mrgn_tp" *ngIf="showNavbar==true">

           <span class="close" (click)=' closemenuoptions()'>&times;</span>

        <ul>
            <li (click)="navigateToPages('main')">


                <a>Home</a>

            </li>
            <li (click)="navigateToPages('about-us')">


                <a>About Us</a>

            </li>



            <li>

                <a (click)="navigateToPages('company')">
                    Company

                </a>



            </li>

            <li>

                <a (click)="navigateToPages('product')">
                    Product
                </a>


            </li>
            <li>

                <a (click)="navigateToPages('platform')">
                    Platform
                </a>
            </li>
            <li (click)="navigateToPages('login')">

                <a>
                    Log in
                </a>
            </li>

        </ul>

       
    </nav>
    <!--nav end-->
    <div id="topmostnav"  class="menu-btn midnight-blue mrgn_top ">




        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-xs-9">
                    <a id="main-nav-logo-holder" href="index.html">
                        <img class="home-nav" src="assets/images/scholars_logo.png" />
                    </a>


                </div>
                <div class="col-sm-3 col-xs-3">
                <a (click)="menuClicked(showNavbar)">
                    <i class="fa fa-bars"></i>
                </a>
                 </div>
            </div>
        </div>





    </div>
    <!--menu-btn end-->



</header>

  <div>

      <div class="hero our-story img-responsive" id="herosec" data-stellar-vertical-offset="300" data-stellar-background-ratio="1.75">
         
      </div>

      <section class="mysec">
          <div class="page-intro">
        
              <p>It’s a breath of fresh air. It’s an educational revolution. It’s a powerful new way to–pardon our
                  optimism–change the world. It’s a rapidly growing company with an industry-pushing platform, 1,100+
                  talented
                  employees, and millions of passionate students and teachers. And, sure, there’s also a pretty
                  incredible
                  product in there, too.</p>
          </div>


      </section>

     

      <section id="quick-facts">
          <div class="clearfix">
              <h2> Our Products </h2>

              <p style="color:black">
                  Description: Cheer on your favorite red and white team in eye-popping style with these red & white striped game bib overalls! Each pair is made of 100 percent cotton for a comfortable, breathable fit regardless of the weather and includes easily adjustable shoulder straps for fans with long torsos. Whether you’re on rickety bleachers on a Friday night or trying to get on television at the Sunday morning tailgate, our red & white striped game bibs will make you stand out in the crowd and leave an impression. These particular bib overalls are also great as casual Clauswear for any Saint Nicks who might be taking in a game during the holiday offseason!

                  Why we love it: Gamebibs doesn’t spend a whole lot of time on the fabric composition of their colorful merch; however, they do show real, actual people using it in their product photos and present helpful use cases in their product descriptions. It’s not a strategy that every ecommerce store can use in product descriptions. UGC — user generated content — is hard to develop organically, but if you’ve got a strong brand and appeal to folks who utilize social media — like college football fans — then it can be a great asset to your product pages.
                </p>
          </div>
      </section>
      <section id="video_about-us">
       

          <div class="video-matte aboutUs"></div>
      </section>

      <div class="contact_Us" [class.move-contact]="showContactUs">
        <button class="openbtn" (click)='showContactUs = !showContactUs'>
            <ul>
                <li> C</li>
                <li> O</li>
                <li>N </li>
                <li> T</li>
                <li> A</li>
                <li> C</li>
                <li> T</li><br>
                <li> U</li>
                <li> S</li>
            </ul>
        </button>

    </div>

  </div>

  <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2019 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Scholarsbook</a>. All Rights Reserved.
                </div>
                <!-- <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </footer>

    <div class="container_contact">





        <div id="mySidebar" class=" container_contact sidebar" [class.show-contact]="showContactUs">
            
            <div style="text-align:center">
                <h2>Contact Us</h2>

            </div>
            <div class="row_contact">

                <div class="">
                    <form action="/action_page.php">
                        <label for="fname" class="col-md-12 col-xs-12 ">First Name *</label>
                        <input type="text" class="col-md-12 col-xs-12 " id="fname" name="firstname" placeholder="Your name..">
                        <label for="lname" class="col-md-12 col-xs-12 ">Last Name *</label>
                        <input type="text" class="col-md-12 col-xs-12 " id="lname" name="lastname" placeholder="Your last name..">
                        <label for="fname" class="col-md-12 col-xs-12 ">Email *</label>
                        <input type="text" class="col-md-12 col-xs-12 " id="fname" name="firstname" placeholder="Your email">
                        <label for="fname " class="col-md-12 col-xs-12 ">Company *</label>
                        <input type="text" class="col-md-12 col-xs-12 " id="fname" name="firstname" placeholder="Current Company">

                        <label for="country" class="col-md-12 col-xs-12 ">Country</label>
                        <select id="country " class="col-md-12 col-xs-12 " name="country">
                            <option value="australia">Australia</option>
                            <option value="canada">Canada</option>
                            <option value="usa">USA</option>
                        </select>

                        <label for="subject" class="col-md-12 col-xs-12 ">Subject</label>
                        <textarea id="subject" class="col-md-12 col-xs-12 " name="subject" placeholder="Write something.."
                            style="height:170px"></textarea>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>