
<div class="container mrgn-tp-80 mrgn-bt-100">
   <mat-card class="mat-elevation-z10">
  <mat-tab-group [color]="color" [backgroundColor]="bgColor">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">home</mat-icon>
        Home
      </ng-template>
      <div class="container-fluid">
        <div class="row course-home">
          <div class="col-md-2">
            <img src="https://www.w3schools.com/css/img_5terre.jpg" class="img-circle" width="100" height="100">
          </div>
          <div class="col-md-8">
            <h1> Welcome To Course Manager</h1>
          </div>
        </div>
      </div>

      <br />
      <br />
      <br />
    
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-12 ">
            <div class="row">
              
              <div class="col-md-12" *ngIf="courseAdded">
                <div class="alert alert-dismissible alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong> Congrats!</strong> Course Added Successfully.
                </div>
              </div>
              <div class="col-md-12" *ngIf="moduleAdded">
                <div class="alert alert-dismissible alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong> Congrats!</strong> Module Added Successfully.
                </div>
              </div>
              <div class="col-md-12" *ngIf="submoduleAdded">
                <div class="alert alert-dismissible alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong> Congrats!</strong>  Sub Module Added Successfully.
                </div>
              </div>
            </div>
          </div>
       <!---  <div class="col-md-12 path-cont">
            <button (click)="backButton()" [ngClass]="{'has-path':path.length>1, 'blocked':path.length==1}" style="margin-right: 7px;">
              <mat-icon title="Back"> arrow_back</mat-icon>
            </button> 

            <span *ngFor="let path of path" class="path-span">{{path.path_name}} <mat-icon class="path-icon">arrow_right</mat-icon></span>
          </div>
          <div class="col-md-12 menu-container">
            <span class="course-menu" (click)="newModule = false;newCourse = true" style="margin-right: 23px;">
              New Course
            </span>
            <span *ngIf="curCourse || curModule" (click)="newModule = true;newCourse = false" class="course-menu">
              Add Module
            </span>
          </div> -->

          <mat-card class="col-md-2 mat-elevation-z6">
            <h3>My Courses</h3>
            <!---<ng-container *ngIf="userCourses.length">
              <li *ngFor="let course of userCourses">
                <a (click)="courseSelected(course)">{{course.course_name}}</a>
              </li>
            </ng-container> -->
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
              <!-- This is the tree node template for leaf nodes -->
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <li class="mat-tree-node">
                  <!-- use a disabled button to provide padding for tree leaf -->
                  <button mat-icon-button disabled></button>
                 <span (click) = "courseSelected(node.course)"> {{node.name}}</span>
                </li>
              </mat-tree-node>
              <!-- This is the tree node template for expandable nodes -->
              <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <li>
                  <div class="mat-tree-node">
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'toggle ' + node.name">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                   <span>{{node.name}}</span> 
                  </div>
                  <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </ul>
                </li>
              </mat-nested-tree-node>
            </mat-tree>
            
          </mat-card>
          

          
<!--<mat-card class="col-md-8 mat-elevation-z5">-->
          <div class="col-md-8 course-list mat-elevation-z4">
            
            <div class="row">
              <ul *ngIf="!courseModules && showCourse">
                <li (dblclick)="openModules(showCourse);curCourse = undefined" title="double click to view modules">
                  <a class="cursor" [ngClass]="{'red-link':curCourse == showCourse && activeLink}" (click)="curCourse = showCourse;activeLink = true;isReadable = true"
                    title="view course">{{showCourse.course_name}}</a>
                </li>
              </ul>
            </div>

          <!--  <div class="row">
 <ul *ngIf="courseModules">
                <li *ngFor="let module of courseModules" (dblclick)="openModulesofModules(module);curModule = undefined"
                  title="double click to view modules">
                  <a class="cursor" [ngClass]="{'red-link':curModule == module && activeLink}" (click)="curModule = module;"
                    title="view module">{{module.module_name}}</a>
                </li>
              </ul>
            </div> -->

           
          

            <app-course-view *ngIf="curCourse" [course]="curCourse" [readable]="isReadable"></app-course-view>
            <app-module-view *ngIf="curModule" [module]="curModule"></app-module-view>
            <ng-container *ngIf="searchedCourses">
              <h4>Search results for "{{searchText}}"</h4>
              <app-course-search *ngFor="let course of searchedCourses" [course]="course" (emitCourse)="gotCourse = $event"></app-course-search>
            </ng-container>
          </div>
            
          <mat-card class="col-md-2 mat-elevation-z6">
            <h3>My Joined Courses</h3>
            <ng-container *ngIf="dataForJoinedCouses.length > 0 ">
              <li *ngFor="let course of dataForJoinedCouses">
                  <a class="cursor" [ngClass]="{'red-link':curCourse == course && activeLink}" (click)="courseSelected(course)" title ="view course">{{this.course.course_name}}</a>
            </li>
           
            
            </ng-container >
  
<!--  <li *ngFor="let cous of dataForJoinedCouses | slice:fromSizeforjoinedCourses:toSizeforJoinedCourses">
  <li>   <a (click)="courseSelected(course)">{{this.course.course_name}}</a>
           </li>
           SEE MORE JOINED COURSES  <div class="col-md-12 cursor" *ngIf="dataForJoinedCouses.length>4">
                  <a style="display: block;text-align: center" (click)='seeMoreJoinedCourses(fromSizeforjoinedCourses,toSizeforJoinedCourses)'>See
                      more</a>
              </div>
            </ng-container>-->
             
          </mat-card>
         
        </div>
        <br />
        <br />
        <button class="col-md-2 course-side "   *ngIf="curCourse || curModule" (click)="newModule = true;newCourse = true;" style="margin-left: 0%">ADD MODULES</button>
        <div class="panel-group" *ngIf=" newModule" style="margin-top:80px">
            <div class="panel panel-default" style="padding:20px">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse1">New Module</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row course-main">
                    <div class="col-md-12 pd-tp-10">
                      <form [formGroup]="basicGroup">
                        <mat-form-field class="example-full-width mrgn-2-per" appearance="outline">
                          <mat-label>Module Name</mat-label>
                          <input matInput placeholder="" value="" formControlName="basicCtrl" required>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Module Type</mat-label>
                          <select matNativeControl formControlName="basicCtrl2" required>
                            <option value="COURSE_MODULE">Course Module</option>

                          </select>
                        </mat-form-field>

                      </form>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-12 course-main mrgn-tp-10 pd-tp-10">
                      <form [formGroup]="imgGroup">

                        <mat-form-field class="example-full-width mrgn-2-per" appearance="outline">
                          <mat-label>Heading</mat-label>
                          <input matInput placeholder="" value="" formControlName="imgCtrl1" required>
                        </mat-form-field>

                        <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
                          <mat-label>Status</mat-label>
                          <select matNativeControl formControlName="imgCtrl2" required>
                            <option value="ACTIVE">ACTIVE</option>
                            <option value="BLOCKED">BLOCKED</option>
                            <option value="UNDER_REVIEW">UNDER_REVIEW</option>
                            <option value="NON_ACTIVE">NON_ACTIVE</option>
                            <option value="INITIATED">INITIATED</option>

                          </select>
                        </mat-form-field>

                        <div class="quart-width " style="display:inline">

                          <button mat-raised-button color="primary" (click)="clickUpload()">Module Image</button>
                          <input #upload type='file' name="file" accept="image/*" style="display:none" (change)="coMoIMG(upload)" />
                          <ng-container *ngIf="imgResponse.message">
                            <div *ngIf="imgResponse.message >0" style="border:1px solid grey; width:100%;margin-top: 5px">
                              <div class="up-progress" role="progressbar" [style.width.%]="imgResponse.message"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                {{imgResponse.message}}%
                              </div>
                            </div>
                          </ng-container>
                        </div>
                        <div style="float: right;" *ngIf="coMoImageSRCS">
                          <app-course-thumbnail [info]="coMoImageSRCS" [edit]="false"></app-course-thumbnail>
                        </div>
                      </form>
                      <div class="row">
                        <div class="col-md-12 ">

                          <ng-multiselect-dropdown [placeholder]="'Select Groups'" name="permissions" [data]="dropdownList"
                            [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)">
                          </ng-multiselect-dropdown>

                        </div>
                      </div>
                      <div class="row" style="padding:15px">
                        <div class="col-md-12" style="border:1px solid grey;padding-bottom:7px">
                          <div class="row">
                            <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Content(if
                              any)</h4>

                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <button mat-raised-button color="primary" (click)="clickUpload2()"> Images/Videos/Pdf</button>
                              <input #upload2 type='file' name="file" accept="image/*,video/*,.pdf" (change)="processFile(upload2)"
                                style="display:none" />

                              <ng-container *ngIf="uploadResponse.message">
                                <div *ngIf="uploadResponse.message >0" style="border:1px solid grey; width:100%;margin-top: 5px">
                                  <div class="up-progress" role="progressbar" [style.width.%]="uploadResponse.message"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    {{uploadResponse.message}}%
                                  </div>
                                </div>
                              </ng-container>
                              <div class="mrgn-tp-10">
                                <ng-container *ngIf="imageSRCS.length">
                                  <app-course-thumbnail *ngFor="let imageSRC of imageSRCS; index as i" [info]="imageSRC"
                                    [edit]="false" [index]="i"></app-course-thumbnail>
                                </ng-container>
                                <ng-container *ngIf="pdfData.length">
                                  <app-course-thumbnail *ngFor="let pdf of pdfData; index as i" [info]="pdf" [edit]="false"
                                    [index]="i"></app-course-thumbnail>
                                </ng-container>
                                <ng-container *ngIf="videoSRCS.length">
                                  <app-course-thumbnail *ngFor="let videoSRC of videoSRCS; index as i" [info]="videoSRC"
                                    [edit]="false" [index]="i"></app-course-thumbnail>
                                </ng-container>

                              </div>
                            </div>

                            <div class="col-md-6">
                              Ext Links
                            </div>
                          </div>
                        </div>
                      </div>

                      <form [formGroup]="detailGroup" style="border:1px solid grey">
                        <div class="row">
                          <div class="col-md-12">
                            <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Details</h4>

                          </div>
                        </div>
                        <mat-form-field class="quart-width mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Category</mat-label>
                          <input matInput placeholder="" value="" formControlName="detailCtrl1" required>
                        </mat-form-field>

                        <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
                          <mat-label>Is Educational</mat-label>
                          <select matNativeControl formControlName="detailCtrl2" required>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                          </select>
                        </mat-form-field>

                        <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
                          <mat-label>Language</mat-label>
                          <select matNativeControl formControlName="detailCtrl3" required>
                            <option value="Hindi">Hindi</option>
                            <option value="English">English</option>
                            <option value="Urdu">Urdu</option>
                          </select>
                        </mat-form-field>

                      </form>

                      <form [formGroup]="courseGroup" style="border:1px solid grey;margin-top: 15px">
                        <div class="row">
                          <div class="col-md-12">
                            <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Module
                              For</h4>

                          </div>
                        </div>
                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Course</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl1" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Stream</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl2" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Class</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl3" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Sub-Class</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl4" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Subject</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl5" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Chapter</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl6" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Concept</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl7" required>
                        </mat-form-field>



                      </form>

                      <form [formGroup]="descGroup" style="margin-top: 15px">

                        <mat-form-field class="course-full-width" appearance="outline">
                          <mat-label>Module Description</mat-label>
                          <textarea matInput placeholder="" formControlName="descCtrl1"></textarea>
                        </mat-form-field>

                      </form>


                      <div>
                        <button mat-raised-button color="primary" style="margin-right:10px" (click)="createModule()">Submit</button>

                        <button mat-raised-button>Reset</button>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <br />
        
        
        <br />
        <button class="col-md-2 course-side "   *ngIf="this.curModule || curCourse" (click)="newSubModule = true;newModule = false;newCourse = false;" style="margin-left: 0%">ADD SUB MODULES</button>
        <div class="panel-group" *ngIf=" newSubModule" style="margin-top:80px">
            <div class="panel panel-default" style="padding:20px">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse1">New Sub Module</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row course-main">
                    <div class="col-md-12 pd-tp-10">
                      <form [formGroup]="basicGroup">
                        <mat-form-field class="example-full-width mrgn-2-per" appearance="outline">
                          <mat-label>Module Name</mat-label>
                          <input matInput placeholder="" value="" formControlName="basicCtrl" required>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Module Type</mat-label>
                          <select matNativeControl formControlName="basicCtrl2" required>
                            <option value="COURSE_MODULE">Course Module</option>

                          </select>
                        </mat-form-field>

                      </form>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-12 course-main mrgn-tp-10 pd-tp-10">
                      <form [formGroup]="imgGroup">

                        <mat-form-field class="example-full-width mrgn-2-per" appearance="outline">
                          <mat-label>Heading</mat-label>
                          <input matInput placeholder="" value="" formControlName="imgCtrl1" required>
                        </mat-form-field>

                        <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
                          <mat-label>Status</mat-label>
                          <select matNativeControl formControlName="imgCtrl2" required>
                            <option value="ACTIVE">ACTIVE</option>
                            <option value="BLOCKED">BLOCKED</option>
                            <option value="UNDER_REVIEW">UNDER_REVIEW</option>
                            <option value="NON_ACTIVE">NON_ACTIVE</option>
                            <option value="INITIATED">INITIATED</option>

                          </select>
                        </mat-form-field>

                        <div class="quart-width " style="display:inline">

                          <button mat-raised-button color="primary" (click)="clickUpload()">Module Image</button>
                          <input #upload type='file' name="file" accept="image/*" style="display:none" (change)="coMoIMG(upload)" />
                          <ng-container *ngIf="imgResponse.message">
                            <div *ngIf="imgResponse.message >0" style="border:1px solid grey; width:100%;margin-top: 5px">
                              <div class="up-progress" role="progressbar" [style.width.%]="imgResponse.message"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                {{imgResponse.message}}%
                              </div>
                            </div>
                          </ng-container>
                        </div>
                        <div style="float: right;" *ngIf="coMoImageSRCS">
                          <app-course-thumbnail [info]="coMoImageSRCS" [edit]="false"></app-course-thumbnail>
                        </div>
                      </form>
                      <div class="row">
                        <div class="col-md-12 ">

                          <ng-multiselect-dropdown [placeholder]="'Select Groups'" name="permissions" [data]="dropdownList"
                            [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)">
                          </ng-multiselect-dropdown>

                        </div>
                      </div>
                      <div class="row" style="padding:15px">
                        <div class="col-md-12" style="border:1px solid grey;padding-bottom:7px">
                          <div class="row">
                            <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Content(if
                              any)</h4>

                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <button mat-raised-button color="primary" (click)="clickUpload2()"> Images/Videos/Pdf</button>
                              <input #upload2 type='file' name="file" accept="image/*,video/*,.pdf" (change)="processFile(upload2)"
                                style="display:none" />

                              <ng-container *ngIf="uploadResponse.message">
                                <div *ngIf="uploadResponse.message >0" style="border:1px solid grey; width:100%;margin-top: 5px">
                                  <div class="up-progress" role="progressbar" [style.width.%]="uploadResponse.message"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    {{uploadResponse.message}}%
                                  </div>
                                </div>
                              </ng-container>
                              <div class="mrgn-tp-10">
                                <ng-container *ngIf="imageSRCS.length">
                                  <app-course-thumbnail *ngFor="let imageSRC of imageSRCS; index as i" [info]="imageSRC"
                                    [edit]="false" [index]="i"></app-course-thumbnail>
                                </ng-container>
                                <ng-container *ngIf="pdfData.length">
                                  <app-course-thumbnail *ngFor="let pdf of pdfData; index as i" [info]="pdf" [edit]="false"
                                    [index]="i"></app-course-thumbnail>
                                </ng-container>
                                <ng-container *ngIf="videoSRCS.length">
                                  <app-course-thumbnail *ngFor="let videoSRC of videoSRCS; index as i" [info]="videoSRC"
                                    [edit]="false" [index]="i"></app-course-thumbnail>
                                </ng-container>

                              </div>
                            </div>

                            <div class="col-md-6">
                              Ext Links
                            </div>
                          </div>
                        </div>
                      </div>

                      <form [formGroup]="detailGroup" style="border:1px solid grey">
                        <div class="row">
                          <div class="col-md-12">
                            <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Details</h4>

                          </div>
                        </div>
                        <mat-form-field class="quart-width mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Category</mat-label>
                          <input matInput placeholder="" value="" formControlName="detailCtrl1" required>
                        </mat-form-field>

                        <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
                          <mat-label>Is Educational</mat-label>
                          <select matNativeControl formControlName="detailCtrl2" required>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                          </select>
                        </mat-form-field>

                        <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
                          <mat-label>Language</mat-label>
                          <select matNativeControl formControlName="detailCtrl3" required>
                            <option value="Hindi">Hindi</option>
                            <option value="English">English</option>
                            <option value="Urdu">Urdu</option>
                          </select>
                        </mat-form-field>

                      </form>

                      <form [formGroup]="courseGroup" style="border:1px solid grey;margin-top: 15px">
                        <div class="row">
                          <div class="col-md-12">
                            <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Module
                              For</h4>

                          </div>
                        </div>
                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Course</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl1" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Stream</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl2" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Class</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl3" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Sub-Class</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl4" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Subject</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl5" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Chapter</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl6" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Concept</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl7" required>
                        </mat-form-field>



                      </form>

                      <form [formGroup]="descGroup" style="margin-top: 15px">

                        <mat-form-field class="course-full-width" appearance="outline">
                          <mat-label>Module Description</mat-label>
                          <textarea matInput placeholder="" formControlName="descCtrl1"></textarea>
                        </mat-form-field>

                      </form>


                      <div>
                        <button mat-raised-button color="primary" style="margin-right:10px" (click)="createModule()">Submit</button>

                        <button mat-raised-button>Reset</button>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <button class="col-md-2 course-side " (click)="newModule = false;newCourse = true" style="margin-left: 0%">NEW COURSE</button>
        <div class="panel-group" *ngIf="newCourse" style="margin-top:80px;margin-left:200px;margin-right:200px">
            <div class="panel panel-default" style="padding:20px">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse1">New Course</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row course-main">
                    <div class="col-md-12 pd-tp-10">
                      <form [formGroup]="basicGroup">
                        <mat-form-field class="example-full-width mrgn-2-per" appearance="outline">
                          <mat-label>Course Name</mat-label>
                          <input matInput placeholder="" value="" formControlName="basicCtrl" required>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Course Type</mat-label>
                          <select matNativeControl formControlName="basicCtrl2" required>
                            <option value="PRIVATE">Private</option>
                            <option value="PUBLIC">Public</option>

                          </select>
                        </mat-form-field>

                      </form>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-12 course-main mrgn-tp-10 pd-tp-10">
                      <form [formGroup]="imgGroup">

                        <mat-form-field class="example-full-width mrgn-2-per" appearance="outline">
                          <mat-label>Heading</mat-label>
                          <input matInput placeholder="" value="" formControlName="imgCtrl1" required>
                        </mat-form-field>

                        <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
                          <mat-label>Status</mat-label>
                          <select matNativeControl formControlName="imgCtrl2" required>
                            <option value="ACTIVE">ACTIVE</option>
                            <option value="BLOCKED">BLOCKED</option>
                            <option value="UNDER_REVIEW">UNDER_REVIEW</option>
                            <option value="NON_ACTIVE">NON_ACTIVE</option>
                            <option value="INITIATED">INITIATED</option>

                          </select>
                        </mat-form-field>

                        <div class="quart-width " style="display:inline">

                          <button mat-raised-button color="primary" (click)="clickUpload()">Course Image</button>
                          <input #upload type='file' name="file" accept="image/*" style="display:none" (change)="coMoIMG(upload)" />
                          <ng-container *ngIf="imgResponse.message">
                            <div *ngIf="imgResponse.message >0" style="border:1px solid grey; width:100%;margin-top: 5px">
                              <div class="up-progress" role="progressbar" [style.width.%]="imgResponse.message"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                {{imgResponse.message}}%
                              </div>
                            </div>
                          </ng-container>
                        </div>
                        <div style="float: right;" *ngIf="coMoImageSRCS">
                          <app-course-thumbnail [info]="coMoImageSRCS" [edit]="false"></app-course-thumbnail>
                        </div>
                      </form>
                      <div class="row">
                        <div class="col-md-12 ">
                          <ng-multiselect-dropdown [placeholder]="'Select Groups'" name="permissions" [data]="dropdownList"
                            [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)">
                          </ng-multiselect-dropdown>
                        </div>
                      </div>

                      <div class="row" style="padding:15px">
                        <div class="col-md-12" style="border:1px solid grey;padding-bottom:7px">
                          <div class="row">
                            <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Content(if
                              any)</h4>

                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <button mat-raised-button color="primary" (click)="clickUpload2()"> Images/Videos/Pdf</button>
                              <input #upload2 type='file' name="file" accept="image/*,video/*,.pdf" (change)="processFile(upload2)"
                                style="display:none" />

                              <ng-container *ngIf="uploadResponse.message">
                                <div *ngIf="uploadResponse.message >0" style="border:1px solid grey; width:100%;margin-top: 5px">
                                  <div class="up-progress" role="progressbar" [style.width.%]="uploadResponse.message"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    {{uploadResponse.message}}%
                                  </div>
                                </div>
                              </ng-container>
                              <div class="mrgn-tp-10">
                                <ng-container *ngIf="imageSRCS.length">
                                  <app-course-thumbnail *ngFor="let imageSRC of imageSRCS; index as i" [info]="imageSRC"
                                    [edit]="false" [index]="i"></app-course-thumbnail>
                                </ng-container>
                                <ng-container *ngIf="pdfData.length">
                                  <app-course-thumbnail *ngFor="let pdf of pdfData; index as i" [info]="pdf" [edit]="false"
                                    [index]="i"></app-course-thumbnail>
                                </ng-container>
                                <ng-container *ngIf="videoSRCS.length">
                                  <app-course-thumbnail *ngFor="let videoSRC of videoSRCS; index as i" [info]="videoSRC"
                                    [edit]="false" [index]="i"></app-course-thumbnail>
                                </ng-container>
                              </div>
                            </div>

                            <div class="col-md-4">
                              <form [formGroup]="extData">
                                <mat-form-field class="course-full-width mrgn-2-per" appearance="outline">
                                  <mat-label>External Video Links</mat-label>
                                  <input matInput placeholder="" value="" formControlName="extDataCtrl1">
                                </mat-form-field>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>

                      <form [formGroup]="detailGroup" style="border:1px solid grey">
                        <div class="row">
                          <div class="col-md-12">
                            <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Details</h4>

                          </div>
                        </div>
                        <mat-form-field class="quart-width mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Category</mat-label>
                          <input matInput placeholder="" value="" formControlName="detailCtrl1" required>
                        </mat-form-field>

                        <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
                          <mat-label>Is Educational</mat-label>
                          <select matNativeControl formControlName="detailCtrl2" required>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                          </select>
                        </mat-form-field>

                        <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
                          <mat-label>Language</mat-label>
                          <select matNativeControl formControlName="detailCtrl3" required>
                            <option value="Hindi">Hindi</option>
                            <option value="English">English</option>
                            <option value="Urdu">Urdu</option>
                          </select>
                        </mat-form-field>

                      </form>

                      <form [formGroup]="courseGroup" style="border:1px solid grey;margin-top: 15px">
                        <div class="row">
                          <div class="col-md-12">
                            <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Course
                              For</h4>

                          </div>
                        </div>
                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Course</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl1" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Stream</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl2" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Class</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl3" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Sub-Class</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl4" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Subject</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl5" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Chapter</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl6" required>
                        </mat-form-field>

                        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
                          <mat-label>Concept</mat-label>
                          <input matInput placeholder="" value="" formControlName="courseCtrl7" required>
                        </mat-form-field>



                      </form>

                      <form [formGroup]="descGroup" style="margin-top: 15px">

                        <mat-form-field class="course-full-width" appearance="outline">
                          <mat-label>Course Description</mat-label>
                          <textarea matInput placeholder="" formControlName="descCtrl1"></textarea>
                        </mat-form-field>

                        <!-- <hr>
                        <ng-container>
                          <div *ngIf="arrOfModules">
                            <ul>
                              <li *ngFor="let i of arrOfModules">
                                  {{i.module_name}}
                              </li>
                            </ul>
                          </div>

                        </ng-container> -->
                        
                      </form>


                      <div>
                        <button mat-raised-button color="primary" style="margin-right:10px" (click)="createCourse()">Submit</button>

                        <button mat-raised-button>Reset</button>
                      </div>
 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
    </mat-tab>
   

  </mat-tab-group>
  </mat-card>
</div>

<div id="search" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
m        <h4 class="modal-title">Course</h4>
      </div>
      <div class="modal-body">
        <app-course-view *ngIf="gotCourse" [course]="gotCourse" [readable]="true"></app-course-view>
      </div>

    </div>

  </div>
</div>
