.mrgn-tp-80 {
    margin-top: 80px
}

.course-home {
    background-color: #f2f5f9;
    padding: 10px
}

.example-form {
   width: 100%;
  }
  
  .example-full-width {
    width: 48%;
    
  }

  .mrgn-2-per {
      margin-right: 0%
  }

  .mrgn-tp-20 {
      margin-top: 20px
  }

  .mrgn-tp-10 {
      margin-top: 10px
  }

  .course-form {
    border: 1px solid grey;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    
 }

 .mrgn-rt-18 {
     margin-right: 18px
 }

 .course-side {
     border: 1px solid grey;
     border-radius: 5px;
 }

 .course-main {
      border: 1px solid grey
 }

 .course-head {
    text-align: center;
    background-color: #006cb5;
    padding: 10px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 5px
 }
  
 .pd-tp-10 {
    padding-top: 10px;
    padding-bottom: 10px;
 }

 .course-full-width {
     width: 50%;
 }

 .quart-width {
     width: 24%
 }

 .mrgn-1-per {
     margin-right: 1%
 }

 .width-30 {
    width: 30%
 }

 /* .course-side li {
     cursor: pointer;
     padding: 2px;
    font-size: medium;
    background-color: lightgray;
    margin-bottom: 2px;
    border-radius: 8px;
    font-weight: 600;
 } */

 .mrgn-bt-100 {
     margin-bottom: 100px
 }

 .course-list li{
    float: left;
    display: block;
    padding: 7px;
    background-color: #bacfcf;
    border-radius: 5px;

    width: 700px;
    font-size: 24px;
    text-align: center;
    
}

.course-menu {
    color: #fff;
    display: inline-block;
    cursor: pointer;
}
 
.menu-container {
    float: left;
    display: block;
    padding: 7px;
    background-color: #93b9f3;
    border-radius: 5px;
    margin-right: 25px;
    width: 670px;
    font-size: 24px;
    text-align: center;
}

.last-btn {
    margin-left: 5px;
    margin-right: 13px;
}

.path-span {
    font-size: 16px
}

.path-icon {
    top: 6px
}

.path-cont {
    padding-top: 2px;
    padding-bottom: 2px;
}
.course-list a:link {
    color: initial;
  }
  
  /* visited link */
.course-list a:visited {
    color: initial;
  }
  
  /* mouse over link */
  .course-list a:hover {
    color: hotpink;
  }
  
.course-list a:active {
    color: red !important
}

.red-link {
    color: red
}

.course-search {
    width: 90%;
    color: initial;
    font-size: 20px;
    height: 33px;
}


.co-search-form {
   float: right;
}

.has-path {
    background-color: #006cb5;
    color: #fff
}

.blocked {
    cursor: not-allowed;
    opacity: 0.3
}

.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  mat-tree {
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  
  .mat-tree-node {
      overflow: unset;
      cursor: pointer
  }
  