.comment a {
    margin-right: 12px
  }

  .lr-sec {
           position: relative
  }

  

  .reply-link:hover {

    cursor: pointer;
    
 }

 .reply-link a:hover {
     cursor:pointer;
     text-decoration: underline
 }

.reply-box input{
  border-radius: 11px;
  width: 100%;
}
 
.com-upper {
    position: relative;
    background-color: aliceblue;
    border-radius: 17px;
    padding-top: 2px;
    padding-left: 10px;
    padding-bottom: 2px;
}

.like-of-com {
    position: absolute;
    top: 90%;
    right: 0
}
.like-of-com mat-icon {
  font-size: 18px !important;
  position: relative;
  top: 10px;
}

.fs-10 {
    font-size: 10px
}

.com-box {
    width: 100%;
    border: 1px solid grey;
    padding: 5px;
    height: auto;
    border-radius: 15px;
    
  }

  .outline_remove{
    outline:unset;
  }

  [contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
 }  

 .friend_list{
	
    width:200px;
    background-color: white;
    border: 1px solid grey;
    border-radius:5px;
    position: absolute;
    z-index: 1;

    }
  
   .friend_list ul li{
  
      padding: 10px 5px;
      
    }
  
    .friend_list ul{
  
      padding-left:0;
  
    }

    .mrgn-left-5 {
        margin-left: 5px
      }
      .comment span {
        margin-top: 12px !important
      }