<div class="container mrgn-tp-75">
  <div class="row" *ngIf = "receivedFriendList">
     <div class="col-md-3" *ngFor = "let friend of receivedFriendList">
        <app-userfriend [friendlist]="friend"></app-userfriend>
     </div>

   </div>
</div>


