<div>
    <img *ngIf = "!src.includes('.pdf')" class="img_ups" [src]="src"  alt="No Image">
    <img *ngIf = "src.includes('.pdf')" class="img_ups" src="assets/images/pdf.png"  alt="No Image">
</div>
