.text {
    color: black;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 100;
    font-size: inherit;
    padding-top: 10px;
}

.text a {
    color: black;
}

a {
    color: white;
}

a :hover {
    color: white;
}

.avatar {
    margin: auto;
}

.nott-list .notfication-details {
    padding: 2px 0px 0px 0px;
    max-height: 700px;
}

.notification-info {
    padding-left: 3px;
}

.card {
    background-color: #fff;
    border-bottom: 1px solid #dddfe2;
    overflow: hidden;
}

.textalign {
    color: #1d2129;
    font-weight: 100;
    flex-wrap: wrap;
    word-break: break-all;
}