
.bg-blue {
    background-color: #4267b2;
    padding:2px 5px;
    border-radius: 5px;
    display: block;
    
}

.bg-other {
    background-color: #b28f42;
    padding:2px 5px;
    border-radius: 5px;
    display: block;
    
}

.message-body{
    color:white;
    max-width: 70%;
    margin-top:2px;
    float:right;
    clear: both;
    position:relative;
    right:10px;
    word-break: break-all;
    
}

.msg-from-other {
    color:white;
    max-width: 70%;
    border-radius: 5px;
    margin-top:2px;
    float:left;
    position:relative;
    left:10px;
    top: 10px
}

.block {
    display: block;
    color: black;
    font-size: 10px
}


  .msg-menu {
    position: absolute;
    right:2px
  }

  .bg-blue a, .bg-other a {
      color: black !important
  }

  .dots {
    position: absolute;
    right: -21px;
    top: 0;
    cursor: pointer
   }

   .invisi {
    display: none
   }
  
  .show-me {
      display: visible
  }

 

  
