<div class="message-body" *ngIf="msg.from_user_id == myID">
    <span class="bg-blue" [innerHTML]="msg.chat_message"></span>
    <span class="block">{{msg.creation_timestamp | date:'shortTime':'+0530'}}</span>
    <mat-icon style="color: black" class="dots" [matMenuTriggerFor]="menu">more_vert</mat-icon>
</div>

<div *ngIf="msg.from_user_id != myID" style="width:100%; float:left; padding: 3px">
    <img src="assets/images/img-avatar.png" class="img-circle" width="40" height="40" style="float:left">
    <div class="msg-from-other " >
            <span class="bg-other" [innerHTML]="msg.chat_message"></span>
            <span class="block">{{msg.creation_timestamp | date:'shortTime':'+0530'}}</span>
            <mat-icon class=" dots" style="color: black" [matMenuTriggerFor]="menu">more_vert</mat-icon>
    </div>
</div>

<mat-menu #menu="matMenu" class="msg-menu">
    <button mat-menu-item (click)="replyMsg()">
        <mat-icon>reply</mat-icon>
        <span>Quote</span>
    </button>
    <button mat-menu-item *ngIf="msg.from_user_id == myID">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
    </button>
    <button mat-menu-item>
        <mat-icon>visibility_off</mat-icon>
        <span>Hide</span>
    </button>
</mat-menu>