<div (click) = "seeFriendProfile()" class="avatar cursor">
  <img class="img-circle " [src]="profilePic ? profilePic :'assets/images/male.jpg'" width="40" height="40" alt="">
  <label class='lbl'>{{username}}</label>
</div>
