.share-msg {
   
    border-radius: 7px;
    margin-top: 9px;
    padding: 10px;
    float: left;
    width: 100%
}

.clear {
    clear: both
}

.job_descp {
    float: left;
    width: 100%;
    padding: 0;
    padding: 0px 20px 0px 20px;
    border-bottom: unset;
}

.post-title {
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    font-weight: bold;
    color: #006cb5;
    text-transform: capitalize;
}

.mrgn-tp-10 {
    margin-top: 10px
}

.pd_liked_sec {
    padding: 0px 20px;
    position: relative;
}

a.like-opt {
    color: #337ab7;
}

.icon_post_like {
    position: relative;
    top: -4px;
    left: 10px;
    color: #8c8c8c !important;
    font-size: unset;
    font-weight: bold;
}
.like-com li span {
    background-color: black;
    /* line-height: 30px; */
    border-radius: 5px;
    float: left;
    text-align: center;
    /* margin-left: -25px; */
}

.right_like_share li a {
    float: unset;
}

.com {
    color: unset;
}

.com:hover {
    text-decoration:none;
}

.bar {
    float: left;
    height:180px;
    border: 0.5px solid;
  }

.wd-99 {
    width: 99%
}

