<!-- <div class="row" class="share-msg">
        <div class="bar">
      
        </div>
      
        <div class="post_topbar wd-99">
          <div class="usy-dt">
            <img *ngIf="userPIC" [src]="userPIC" width="50" height="50" alt="">
            <div *ngIf="!userPIC" class="img-container img-circle">
              <span *ngIf = "firstName || lastName">{{firstName[0].toUpperCase() + lastName[0].toUpperCase()}}</span>
            </div>
            <div class="usy-name">
              <h3>{{postUser.user_full_text_name}}</h3>
              <span><img src="assets/images/clock.png" alt="">{{forum_postToShare.creation_timestamp |
                date:'medium':'+0530'}}</span>
              
            </div>
          </div>
      
        </div>
      
        <div class="mrgn-tp-10 fl-left pad-l-15 wd-99">
           <app-forum-thumbnail *ngFor="let imageSRC of forum_postToShare._real_albums" [info]="imageSRC" [edit]="false" [share] = "true"></app-forum-thumbnail>
          <app-forum-thumbnail *ngFor="let pdf of forum_postToShare._pdfs" [info]="pdf" [edit]="false" [share] = "true"></app-forum-thumbnail>
          <app-forum-thumbnail *ngFor="let videoSRC of forum_postToShare._videos" [info]="videoSRC" [edit]="false" [share] = "true"></app-forum-thumbnail> -->
        
      
        <div class="job_descp wd-99">
      
          <!-- <h4>{{Forum_postToShare.heading}}</h4> -->
          <!-- <div [innerHTML]="forum_postToShare.formatted_message"></div> -->
      
        </div>
      
        
      