.headermain {
    background-color: #006cb5;
    box-shadow: 0px -1px 6px 3px grey;
}

.header-loc {
    position: fixed;
    top: 0;
    z-index: 10002;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: rgb(33, 228, 33);
    border-radius: 50%;
    display: inline-block;
}

.srch_box {
    z-index: 1;
    position: absolute;
}

.srch_result_overlay {
    z-index: 1;
    background: #fff;
    margin-top: 42px;
    position: absolute;
    width: 33%;
    /* border: 1px solid #006cb5; */
    border-radius: 4px;
}

.srch_result_overlay ul {
    padding: unset;
}

.srch_result_overlay ul li {
    padding-left: 10px;
    text-transform: capitalize;
}

.frend_list_overlay {
    z-index: 1;
}

.activetwo {
    background-color: #DCDCDC;
    position: relative;
    width: 100%;
}

.activetwo:hover {
    background-color: white;
    position: relative;
    width: 100%;
}

li:hover {
    /* height: 40px; */
    cursor: pointer;
    border-radius: 5px;
    /* padding: 2px 12px 0px 13px; */
    box-shadow: 0 0 10px 100px #3131310f inset;
}

.frnd_cntr {
    text-align: center;
}

.profilerow {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(180, 180, 180)
}

.rowvalue {
    text-align: center
}

.editbox {
    background-color: grey;
}

.pointer {
    cursor: pointer;
    ;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: rgb(91, 214, 19);
    border-radius: 50%;
    display: inline-block;
}

.additional_search {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.sidenavbar {
    background: #fff;
    width: 270px;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    margin-top: 60px;
    right: -200px;
    transition-duration: 2s;
    overflow: scroll;
    border-left: 1px solid #95aebf;
}

.slidebar {
    background: #fff;
    width: 204px;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    margin-top: 60px;
    right: 0px;
    transition-duration: 2s;
    overflow: scroll;
    border-left: 1px solid #95aebf;
}

.sidenav a :not(.new-group-link) {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.new-group-link {
    vertical-align: super;
    cursor: pointer;
}

.chat-list {
    float: left;
    width: 100%;
    min-height: 5px;
    /* margin-bottom: 8px; */
    margin-top: 10px;
    padding-left: 10px;
    word-wrap: break-word;
}

.showrouter {
    display: none
}

@media screen and (min-height: 1200px) {
    .showrouter {
        display: block
    }
}

@media screen and (max-height: 1100px) {
    .showrouter {
        display: none
    }
}

@media screen and (max-height: 450px) {
    header nav ul li {
        float: left;
        width: 100%;
        text-align: left;
        padding: 0 0 0 0;
        margin-bottom: 20px;
        color: white;
    }
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.fixed-header {
    position: fixed;
    top: 0
}

.chat-grid-upper {
    height: 40%;
    border-bottom: 1px solid #c5c5c5
}

.chat-grid-upper {
    height: 20%;
}

.chat-list li {
    padding: 15px 5px 15px 0;
}

.chat-list li span {
    position: relative;
    top: 5px;
    left: 5px
}

.chat-box-container {
    width: auto;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 15%;
}

.custom_user_account {
    border-left: none;
    border-right: none;
}

.custom_user_info {
    float: left;
    width: 100%;
    padding: 30px 10px;
    position: relative;
}

.cust_search_bar {
    float: left;
    width: 450px;
    margin-top: 9px;
}

.custom_nav {
    float: left;
    width: 52%;
    text-align: right;
    padding-right: 13px;
    background-color: #4267b2;
    cursor: pointer;
}

.custom_nav li {
    cursor: pointer;
}

.active li {
    cursor: pointer;
}

.hide {
    display: none;
}

.spn {
    color: black;
    text-align: center;
    padding-bottom: 39px;
    font-weight: 100;
}

.pad {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* mobile in :horizontal mode */

@media only screen and (max-width:320px) {
    header nav ul li {
        color: white;
    }
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
    }
    .logoimg {
        width: 100%;
    }
}


/* mobile in landscape  mode */

@media only screen and (min-width:321px) and (max-width:480px) {
    .logoimg {
        width: 100%;
    }
    header nav ul li {
        color: white;
    }
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
    }
}

@media only screen and (min-width:360px) and (max-width:740px) {
    .cust_search_bar {
        float: left;
        width: 197px;
        margin-top: 9px;
    }
    header nav {
        top: 0;
        background-color: lightslategrey;
    }
    header nav ul li {
        color: white;
    }
    .sidenavbar {
        background: aliceblue;
        width: 59px;
    }
    .slidebar {
        background: aliceblue;
    }
    /* .user-account {
    float: right;
    width: 78px;
    box-sizing: border-box;
    position: relative;
} */
}


/* tablets */

@media only screen and (min-width:768px) and (max-width:1024px) {
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
    }
    header nav ul li {
        color: white;
    }
    .logoimg {
        width: 100%;
    }
    header nav {
        top: 0;
        background-color: lightslategrey;
    }
}

@media only screen and (width:736px) {
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
    }
    header nav ul li {
        color: white;
    }
    .logoimg {
        width: 100%;
    }
    header nav {
        top: 0px;
        background-color: lightslategrey;
    }
    .cust_search_bar {
        float: left;
        width: 343px;
        margin-top: 9px;
    }
}

@media only screen and (width:734px) {
    header nav ul li {
        color: white;
    }
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
    }
    .cust_search_bar {
        float: left;
        width: 343px;
        margin-top: 9px;
    }
    .logoimg {
        width: 100%;
    }
    header nav {
        top: 0px;
        background-color: lightslategrey;
    }
}

@media only screen and (width:667px) {
    header nav ul li {
        color: white;
    }
    header nav {
        top: 0px;
        background-color: lightslategrey;
    }
    .cust_search_bar {
        float: left;
        width: 343px;
        margin-top: 9px;
    }
}

@media only screen and (width:684px) {
    header nav ul li {
        color: white;
    }
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
    }
    .logoimg {
        width: 100%;
    }
    header nav {
        top: 0;
        background-color: lightslategrey;
    }
    .cust_search_bar {
        float: left;
        width: 343px;
        margin-top: 9px;
    }
}


/* desktop and laptop  devices */

@media only screen and (min-width:1224px) {
    header nav ul li {
        color: white;
        font-weight: bold;
    }
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
        position: fixed;
    }
}


/* very large devices */

@media only screen and (min-width:1824px) {
    header nav ul li {
        color: white;
    }
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
        position: fixed;
    }
}

@media (max-width: 1200px) {
    .menu-btn {
        display: block;
    }
    header nav ul li {
        color: white;
    }
}

@media (max-width: 576px) {
    .search-bar {
        width: 100%;
        float: right;
    }
    .user-account-settingss {
        right: auto;
        left: 0;
    }
    .user-account {
        float: left;
    }
    header nav ul li {
        color: white;
    }
}

.chat-grid-bottom {
    position: absolute;
    bottom: 50px;
    padding-left: 12px;
    width: 100%;
    height: 15%
}

.new-group {
    width: 100%
}

.new-group-img {
    width: 30%;
    display: inline-block
}

.new-group-txt {
    display: none;
    width: 70%;
    font-size: 1em
}

.chat-grid-upper {
    height: 75%
}

.show {
    display: block;
}

.hide {
    display: none;
}

.mrgn-top-0 {
    margin-top: 0px
}

.mrgn-rt-2 {
    margin-right: 2px
}

.chat-grid-bottom h5 {
    display: none
}

.no-tpbtm {
    margin-top: unset;
    margin-bottom: unset
}

.filter-btn {
    position: absolute;
    top: 0;
    right: 38px
}

.filter-box {
    position: absolute;
    visibility: hidden;
    padding-bottom: 20px
}

.filter-box.active {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: #fff;
}

.filter-box.active:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.checkbox-inline input {
    width: unset;
    height: unset
}

.pad-tp-20 {
    padding-top: 20px
}

.extra-list-container {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 200
}


/*chat list container*/

.font-50 {
    font-size: 50px;
    cursor: pointer;
    color: #170bcd
}

.drop-down-container {
    position: relative;
    z-index: 200;
}

.drop-down-list {
    width: 200px;
    background-color: #fff;
    display: none
}

.drop-down-list.showList {
    display: block;
}

.middle {
    vertical-align: middle
}

.extra-list {
    padding-left: 0
}


/*chat list container*/

.custom_nav {
    float: left;
    width: 40%;
    text-align: right;
    padding-right: 13px;
    background-color: #006cb5;
    cursor: pointer;
}

.custom_nav li {
    cursor: pointer;
}

.active li {
    cursor: pointer;
}

.sidenavbar:hover {
    right: 0
}

.sidenavbar:hover .new-group-txt {
    display: inline-block;
}

.sidenavbar:hover .chat-grid-bottom h5 {
    display: block
}

.slidebar .new-group-txt {
    display: inline-block;
}

.slidebar .chat-grid-bottom h5 {
    display: block
}

.ht-38 {
    height: 38px
}

.grp-div {
    margin-bottom: 10px;
    width: 132px;
    background-color: #0f0f93;
    color: #fff;
    padding: 5px;
    padding-left: 6px;
    border-radius: 7px;
    cursor: pointer;
}


/* dheeraj CSS */

.li_css_issue li:hover {
    height: unset;
    border-radius: unset;
    padding: unset;
    box-shadow: unset;
}

.li_css_issue li a:hover {
    text-decoration: unset;
}

.h3_setting {
    padding: 14px;
    margin-top: 0px;
}

.li_css_issue li {
    /* margin-bottom: 15px !important;*/
}

.cursor {
    cursor: pointer;
}

.mrgn_0 {
    margin-top: 0px;
}


/* css by dheeraj */

.chat_side_issue {
    right: -222px;
}

.chat_side_issue:hover {
    width: 200px;
}

.overflow {
    overflow: auto;
}

.view-more_chat {
    text-align: left;
    padding-left: 12px;
}

.wdth_100 {
    width: 100%;
}

.bg_lght_blue {
    background-color: #3988da;
}

.pad_nt {
    padding: 0px 20px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.noti_list {
    padding: 0px 0px !important;
}

.view_req a:hover {
    color: #fff;
}

.view_req a {
    padding-top: 5px;
    padding-bottom: 5px;
}

mrgn-tp-20 {
    margin-top: 20px
}

.fs-24 {
    font-size: 24px !important
}

.rel-icon {
    position: relative;
    top: 6px
}

.grp-dd {
    float: right;
    position: relative;
    top: 20px;
}

.grp-dd select {
    border-radius: 9px;
    text-align-last: center;
    padding: 1px 30px 1px 30px;
}

.mrgn-rt-4 {
    margin-right: 4px
}

.wid {
    width: 382px;
}

.settings-li {
    top: -5px;
    position: relative;
}

.button {
    color: white;
    display: inline-block;
    /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
    position: relative;
    /* All 'absolute'ly positioned elements are relative to this one */
    padding: 2px 5px;
    /* Add some padding so it looks nice */
}


/* Make the badge float in the top right corner of the button */

.button__badge {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;
    padding: 1px 3px;
    font-size: 10px;
    /* position: absolute; */
    /* Position the badge within the relatively positioned button */
    top: -15px;
    right: -33px;
}

#notifications:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid #CCC;
    border-color: transparent transparent #FFF;
    margin-top: -20px;
    margin-left: 488px
}

#notifications h3 {
    display: block;
    color: #333;
    background: #FFF;
    font-weight: bold;
    font-size: 13px;
    padding: 8px;
    margin: 0;
    border-bottom: solid 1px rgba(100, 100, 100, .30);
}

#notifications .seeAll {
    background: #F6F7F8;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    border-top: solid 1px rgba(100, 100, 100, .30);
    text-align: center;
}

#notifications .seeAll a {
    color: #3b5998;
}

#notifications .seeAll a:hover {
    background: #F6F7F8;
    color: #3b5998;
    text-decoration: underline;
}

.session-alert {
    font-size: 20px;
    position: fixed;
    top: 90%;
    right: 0;
    z-index: 2000
}

.close {
    color: #fff !important;
    opacity: unset !important;
    text-shadow: unset !important;
    font-size: 32px !important;
}

.cross {
    position: relative;
    top: -2px;
    left: 10px;
}

.alert-danger {
    color: #fff !important;
    background-color: red !important;
}

.mrgt {
    margin-top: 5px;
    margin-left: 5px;
}

.manage-link {
    float: left
}

.noti-height {
    height: 550px;
    overflow-y: auto;
}

.bottom-0 {
    margin-bottom: 0
}