.mrgn-tp-100 {
    margin-top: 100px
}

.group-head {
    display: inline-block;
}

.adduser {
    color: #a65ca4;
}

.headadmin {
    color: #5eabec;
    font-weight: bold;
}

.green-text {
    color: green !important;
    font-weight: 600;
}

.red-text {
    color: red !important;
    font-weight: 600;
}

.mrgn-rt-55 {
    margin-right: 55px
}

.rev-header {
    background-color: slategray;
    color: #fff;
}



	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}


        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

    .example-radio-group {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
      }
      
      .example-radio-button {
        margin: 5px;
      }

      



