<div class="container-fluid mrgn-tp-100 mrgn-rt-55">
  <div class="row ">
    <div class="col-lg-12">
      <h4 class="group-head adduser headadmin">Review Posts</h4>
    </div>
    <div class="col-lg-12" *ngIf="userPosts.length">
      <table datatable [dtOptions]="dtOptions['new']" [dtTrigger]="dtTrigger['new']" class="row-border hover order-column">
        <thead class="rev-header">
          <tr>
            <th>S.No.</th>
            <th>Author</th>
            <th>Title</th>
            <th>Content</th>
            <th>Date</th>
            <th>Media</th>
            <th>Status</th>
            <th>Tools</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of userPosts; let i=index">

            <td>{{i+1}}</td>
            <td>
              <app-user-info [userId]="post.user_id"></app-user-info>
            </td>
            <td>{{post.heading}}</td>
            <td [innerHTML]="post.formatted_message | slice:0:1000"></td>
            <td>{{post.creation_timestamp|date:'medium':'+0530'}}</td>
            <td><span *ngIf="post.post_has_data==true">yes</span>
              <span *ngIf="post.post_has_data==false">no</span>
            </td>
            <td>{{post.status}}</td>
            <td>
              <mat-icon [ngClass]="{'green-text' : post.status=='ACTIVE'}" (click) = "approvePost(post)" class="cursor" [title]="post.status=='ACTIVE'?'Approved':'Approve'">done</mat-icon>
              <mat-icon [ngClass]="{'red-text' : post.status=='BLOCKED'}"  (click) = "currentPost = post" class="cursor" [title]="post.status=='BLOCKED'?'Rejected':'Reject'"
                data-toggle="modal" data-target="#myModal2">block</mat-icon>
              <mat-icon class="cursor" title="View Post" (click)="postReview = post;currentPost = post" data-toggle="modal" data-target="#pModal">visibility</mat-icon>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="pModal" class="modal fade" role="dialog" *ngIf="postReview">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">View Post</h4>
      </div>
      <div class="modal-body">
        <app-post-modal [singlePost]="postReview"></app-post-modal>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2">Reason to Reject</h4>
      </div>

      <div class="modal-body">
        <p>
          <label id="example-radio-group-label">Choose a reason from below</label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="reasonToRej">
            <mat-radio-button class="example-radio-button" value="Inappropriate">
                Inappropriate 
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Nudity">
                Nudity 
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Religious">
                Religious 
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="others">
               others
            </mat-radio-button>
          </mat-radio-group>
        <button mat-raised-button color="primary" style="margin-right:10px" (click) = "rejectPost()" [disabled]="!reasonToRej">Reject</button>

        </p>
      </div>

    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->