<div class="clearfix">
        <a class="_5i_s _8o _8r lfloat _ohe" alt="" aria-label="Priyansh Awasthi" role="img" style="width:40px;height:40px">
            <div class="_2ar2">
                <img class="_s0 _4ooo circle" [src]="profilePic ? profilePic:'assets/images/img-avatar.png'" alt="" aria-label="Bhagat Singh" role="img" style="width:40px;height:40px">
                <div class="_2ar3">
                    <span class="_9zc _2p7a">
                  <i class="_2p78 _2p7a _9-- img sp_Erm1GyxvO7I sx_72c12d" data-testid="ufiReactionsIconsTestId">
    
    
            </i></span>
                </div>
            </div>
    
    
            <div class="_2ar3">
                <span class="_9zc _2p7a">
             <i class="_2p78 _2p7a _9-- img sp_Erm1GyxvO7I sx_72c12d" data-testid="ufiReactionsIconsTestId"></i>
          </span>
    
            </div>
        </a>
    
    
        <div class="_8u _42ef">
            <div class="_5i_t">
                <div class="_6a _5j0c">
                    <div class="_6a _6b" style="height:40px">
                    </div>
                    <div class="_6a _6b" *ngIf="userName">
                        <div class="_5j0e fsl fwb fcb">
                            <a id="js_gx7" aria-describedby="u_fz_1" aria-owns="" title="view profile" (click)='seeFriendProfile()'>{{userName}}</a>
                        </div>
                    </div>
                </div>
                <div class="_6a _5j0d" *ngIf="activeUserId!=userId && (sentForumRequestListids && sentForumRequestListids!=undefined && !sentForumRequestListids.includes(userId)&& forumids && !forumids.includes(userId))">
                    <div class="_6a _6b" style="height:40px"></div>
                    <div class="_6a _6b">
    
    
                        <span><div class="ForumButton" id="u_ft_b">
          <button class="_42ft _4jy0  _4jy3 _517h _51sy" title="Add  as a Forum" type="button" (click)="sendForumRequest()" *ngIf="showSentButton"><i class="_3-8_ img "></i>Add Forum</button>
          <button class="_42ft _4jy0 " type="button" data-cancelref="profile_browser" data-floc="list_of_forums" *ngIf="showmsgButton">
          <i class="_3-8_ img sp_Py5LLBwQSmu sx_d4bc97">
    
            </i>Forum Request Sent</button>
        </div>
      </span>
                    </div>
                </div>
            </div>
        </div>
    </div>