<div class="container  mrgn-tp-78">
    <mat-tab-group color="accent" dynamicHeight>

        <mat-tab label="Friend Requests">



            <div class="row">
                <h4 class="pd_left"> Respond to your friend requests</h4>
            </div>
            <div class="row">
                <div class="col-md-12 friend-container ">
                    <div class="well well-sm">
                        <strong>Display</strong>
                        <div class="btn-group">
                            <a (click)="listORgrid = true" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                         </span>List</a> <a (click)="listORgrid = false" id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span>Grid</a>
                        </div>
                    </div>
                    <div class="row list-group">
                        <div *ngFor='let friend of gotFriendRequestData' [class.list-group-item]="listORgrid" class="item  min-height-137 col-xs-4 col-lg-4">

                            <app-friend-request [friend]="friend"></app-friend-request>

                        </div>

                        <div class=" pd_left view-all-nots">
                            <p *ngIf='gotFriendRequestData==null ||gotFriendRequestData.length==0'> You have not any Friend Requests</p>
                        </div>

                    </div>

                </div>


            </div>


        </mat-tab>

        <mat-tab label="Sent Requests">
            <div *ngFor="let item of openRequestList">
                <app-sentrequests [sentRequestData]="item"></app-sentrequests>

            </div>
            <div *ngIf="openRequestList?.length==0">

                <p>There is not any sent requests</p>
            </div>

        </mat-tab>

        <mat-tab label="Declined Requests">
            <div *ngFor="let item of deletedRequestList">
                <app-deleterequests [deleteRequestData]="item"></app-deleterequests>

            </div>
            <div *ngIf="deletedRequestList?.length==0">

                <p>There is not any declined request</p>
            </div>
        </mat-tab>
        <mat-tab label="Blocked Requests">
            <div *ngFor="let item of blockedRequestList">
                <app-blockrequests [blockRequestData]="item"></app-blockrequests>

            </div>
            <div *ngIf="blockedRequestList?.length==0">

                <p>There is not any blocked request</p>
            </div>
        </mat-tab>

    </mat-tab-group>

</div>