.mrgn-tp-78 {
    margin-top: 78px;
}

.friend-container {
    box-shadow: 0px 0px 10px 0px #c5c5c5;
}

.pad-10 {
    padding: 10px
}

.right-align {
    text-align: right;
}

.bot-border {
    border-bottom: 1px solid #efe7e7;
}

.pad-top-20 {
    padding-top: 12px
}

.friend-name {
    display: inline-block;
    margin-left: 13px;
    padding-top: 12px;
}

@media only screen and (max-width: 992px) {
    /* For mobile phones: */
    .right-align {
        text-align: left;
        margin-top: 32px;
    }
    .btn-on-small {
        padding: 10px 25px;
    }
}


/* grid and list */

.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.list-group-item {
    padding: 5px 5px
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}


/* .item.list-group-item:nth-of-type(odd):hover,
.item.list-group-item:hover {
    background: #afbfce;
} */

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
    margin-left: 358px;
}

.item.list-group-item .people-row {
    padding: 9px 9px 0px 9px;
    margin-left: 20px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before,
.item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

.min-height-400 {
    min-height: 400px;
}

.min-height-137 {
    min-height: 137px
}

.list-group-item {
    min-height: unset
}

.list-group-item .center-text {
    text-align: unset
}

.list-group-item .people-row .col-md-12 {
    width: 50%
}

.list-group-item .people-row .col-md-12 .btn-pos {
    left: 60%
}

.float-left {
    float: left
}

.grid-border {
    border: 1px solid #c5c5c5;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 0px 0px 7px 1px #c5c5c5;
}

.list-group-item .grid-border {
    border: unset;
    box-shadow: unset
}

.thumbnail {
    border: unset;
    background-color: unset
}

.myPlayer {
    float: left
}

.center-text {
    text-align: center
}

.middle-text {
    text-align: middle
}

.bg-blue {
    background-color: #488ecd;
    color: #fff
}

.ver-al {
    vertical-align: top
}

.sd-menu {
    display: none
}


/* end grid and list */


/*control button width*/

.mx-wd-86 {
    max-width: 86px;
    max-height: 40px
}


/*control button width*/

@media only screen and (max-width:768px) {
    .mrgn-6 {
        margin-top: 6px
    }
}

@media only screen and (max-width:550px) {
    .no-display {
        display: none
    }
    .sd-menu {
        display: unset
    }
    .list-group-item .no-display {
        display: unset
    }
    .list-group-item .sd-menu {
        display: none
    }
}

@media only screen and (max-width:576px) {
    .mrgn-tp-78 {
        margin-top: 150px
    }
}

.example-button-toggle-label {
    display: inline-block;
    margin: 16px;
}

.example-small-box,
.example-large-box {
    align-items: center;
    justify-content: center;
    margin: 16px;
    border-radius: 8px;
}

.example-small-box {
    min-height: 100px;
    min-width: 400px;
}

.people-row {
    border: 1px solid #c5c5c5;
    padding: 3px;
    border-radius: 6px;
    margin-bottom: 12px;
    box-shadow: 0px 0px 7px 1px #c5c5c5;
}

.pad {
    padding: 0px 20px;
}

.avatar {
    padding-left: 10px;
    margin: auto;
    padding-top: 10px;
}

.unset_thing {
    border: unset !important;
    padding: unset !important;
    border-radius: unset !important;
    margin-bottom: unset !important;
    border-bottom: 1px solid #e2d8d8 !important;
    margin-top: 5px;
    box-shadow: unset !important;
    margin-bottom: 5px !important;
}

.mrgn_0 {
    margin-left: 0px;
    margin-right: 0px;
}

.pad_0 {
    padding: 0px;
}

.req_btn {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10px;
}

.nm_request {
    color: black;
    text-transform: capitalize;
}

.pad_tp_6 {
    padding-top: 6px;
}

.example-button-toggle-label {
    display: inline-block;
    margin: 16px;
}

.pd_left {
    padding-left: 15px;
}

.mat-tab-group.mat-background-primary .mat-tab-header,
.mat-tab-group.mat-background-primary .mat-tab-links,
.mat-tab-nav-bar.mat-background-primary .mat-tab-header,
.mat-tab-nav-bar.mat-background-primary .mat-tab-links {
    background-color: #006cb5;
}