<!-- Modal -->
<div id="newGrpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Group</h4> <span class="suc-msg" *ngIf="success !=null">{{success}}</span>
        </div>
        <div class="modal-body">
          <div class="body-top">
            
            <div>
              <i (click)="clickUpload()" class="material-icons md-48"> add_a_photo</i> 
              <input #upload id="upload" type='file' name="file"  style="display:none" />
              <input class="cg-textbox" type="text" name="grp-name" [(ngModel)]="groupName" placeholder="Name Your Group">
            </div>    
          </div>
          <div class="main-body">
            <div class="body-left">
              <ul class="select-list">

                 <li *ngFor="let friend of friendList" >
                  <app-chat-group-friend-list (isSelected) = "selectedList($event)" (isRemoved) = "remove($event)" [friend]= "friend"></app-chat-group-friend-list>

                 </li>
                  
              </ul>

           </div>
           <div class="body-right">
              <div class="full-width">SELECTED <span class="pull-right">0</span></div>
              <ul *ngIf="selectedFriends" class="select-list">

                <li *ngFor="let friend of selectedFriends" >

                  <app-chat-group-friend-list [isChecked] = "true" (isSelected) = "selectedList($event)" (isRemoved) = "remove($event)" [friend]= "friend"></app-chat-group-friend-list>

                 </li>

              </ul>

           </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" style="margin-right:2px" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-default"  (click)="submitGroup()" >Submit</button>
        </div>
      </div>
  
    </div>
  </div>
