.modal-dialog{

    position: absolute;
    top: 15%;
    left:40%
}

.body-top{

    height:55px;
    width:100%;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5

}

.main-body {

    width:100%;
    
}
.main-body div {

    display: inline-block;
}
.body-left{

    width:70%;
    height:500px;
    border-right: 1px solid #c5c5c5;
    overflow: auto
}

.body-right {

    width:30%;
    height:500px;
    overflow: auto
}

.modal-body{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0
}

.modal-header {
    padding-bottom: 5px;
}
.select-list{
    padding-left: 5px
}
.select-list li {
    padding:20px
}

.full-width {
    width: 100%
}

.md-48{
    font-size: 48px;
}

.cg-textbox {
    height: 45px;
    vertical-align: text-bottom;
    border: 0;
    width: 90%;
}

.suc-msg {
    color: red
}