<!-- <app-main-nav ></app-main-nav> -->
<div class="wrapper" (click)="closeModels($event)">

    <header class="headermain header-loc">
        <div class="container-fluid">
            <div class="header-data">
                <div class="logo">
                    <img src="assets/images/scholars_logo2.png" width="50" height="35" alt="">

                </div>
                <!--logo end-->
                <div class="search-bar cust_search_bar">
                    <div>
                        <form>

                            <input type="text" name="friendName" [(ngModel)]="friendName" (keyup)="searchFriend(friendName)"
                                (keydown)="keyDown($event)" placeholder="Search" autocomplete="off">

                            <a>
                                <button (click)="navigateToPages('search-result',friendName);toggleNotification = false;toggleFilter = false;toggle =false;toggleRequestWindow=false;">
                                    <i class="la la-search"></i>
                                </button>
                            </a>
                            <button class="filter-btn popup-windows" id="filterbtn" (click)="toggleFilter = !toggleFilter; toggleNotification = false;toggle =false;toggleRequestWindow=false;">
                                <i class="material-icons popup-windows">keyboard_arrow_down</i>
                            </button>
                            <div [ngClass]="{'active':toggleFilter}" class="container filter-box" (click)="isSearchFilterClicked = true">
                                <br>
                                <p class="text-center">Please filter from below to see desired result</p>
                                <hr class="no-tpbtm">

                                <div class="row pad-tp-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Apply For</label>&nbsp;&nbsp;
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="posts" [checked]="isPost" (change)="isPost = !isPost">Posts
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="images" [checked]="isPeople" (change)="isPeople = !isPeople">People
                                            </label>

                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="videos" [checked]="isVideos" (change)="isVideos = !isVideos">Videos
                                            </label>
                                        </div>
                                        <div class="form-group form-inline">
                                            <label for="email">Date Between</label>&nbsp;&nbsp;
                                            <input type="text" style="border: 1px solid" name="searchdate"
                                                bsDaterangepicker [bsConfig]="datePickerConfig" class="form-control"
                                                [(ngModel)]="bsRangeValue" placeholder="Select Date">&nbsp;
                                            <select name="defaultdate" [(ngModel)]="selected_date" (change)="changeDate()"
                                                class="form-control ht-38" id="dt">
                                                <option [value]="1">last one day</option>
                                                <option [value]="2">last 2 days</option>
                                                <option [value]="7">last week</option>
                                                <option [value]="15">last 15 days</option>
                                                <option [value]="30">last month</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-12" *ngIf="isAdmin=='true'">

                                        <div class="search-tree">
                                            <tree-root #tree [nodes]="nodes" [options]="options" (toggleExpanded)="onEvent($event)"
                                                (activate)="onEvent($event)" (focus)="onEvent($event)" (blur)="onEvent($event)">
                                                <ng-template #treeNodeTemplate let-node let-index="index">
                                                    <span class="level" *ngIf="node.data.type ==1">{{ node.data.name }}</span>
                                                    <span class="tag" *ngIf="node.data.type ==2">{{ node.data.name }}
                                                    </span>
                                                </ng-template>
                                            </tree-root>
                                        </div>

                                        <div class="btn-group btn-group-justified mrgn-tp-20">
                                            <a (click)="navigateToPages('search-result',friendName);toggleNotification = false;toggleFilter = false;toggle =false;toggleRequestWindow=false;"
                                                class="btn btn-primary fs-24" title="Press Enter or click this button">Search
                                                <mat-icon class="fs-24 rel-icon">search</mat-icon>
                                            </a>
                                            <a (click)="reset()" class="btn btn-primary fs-24" title="Reset all data">reset
                                                <mat-icon class="fs-24 rel-icon">autorenew</mat-icon>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                                <!-- row.// -->

                            </div>
                        </form>

                    </div>

                    <div *ngIf="flag" class="srch_result_overlay">
                        <ul *ngIf="results" (mouseover)="mouseover=true;" (mouseout)="mouseover=false">
                            <li *ngFor="let friend of results; let i= index" (click)="onselectFriend(friend)"
                                (keyup.enter)="friendName=friend" [class.activetwo]="i==arrowkeyLocation && !mouseover">

                                <h4>{{friend}}</h4>

                            </li>
                        </ul>
                        <!-- <ul *ngIf="results.length==0" (mouseover)="mouseover=true;" (mouseout)="mouseover=false">
                            <li>


                                <h4>No such user exists </h4>
                            </li>
                        </ul> -->


                    </div>
                </div>
                <!--search-bar end-->


                <nav class="custom_nav" *ngIf="showNavbar==false">
                    <ul>
                        <li (click)="navigateToPages('home')">

                            <span>
                                <mat-icon>
                                    home
                                </mat-icon>
                            </span> Home

                        </li>
                        <li routerLinkActive="active" (click)="navigateToPages('profile')">
                            <span>
                                <mat-icon>
                                    portrait
                                </mat-icon>
                            </span>Profile


                        </li>

                        <li>
                            <a #toggleFriendrequest (click)="showRequests(); toggleNotification = false; toggleRequestWindow = !toggleRequestWindow;toggle =false;toggleFilter =false;toggleMessagesWindow=false;"
                                title="" class="not-box-open popup-windows">
                                <span>
                                    <div class="button">
                                        <span *ngIf="showNumber && initialLength>0" class="popup-windows button__badge">{{initialLength}}</span>
                                    </div>
                                    <mat-icon class="popup-windows">
                                        person_add
                                    </mat-icon>
                                </span> Requests
                            </a>

                            <div #friendrequest>
                                <div [ngClass]="{'active':toggleRequestWindow,'hide' : hideRequest}" class="notification-box  msg noti-height"
                                    (click)="isRequestClicked = true">
                                    <div class="mrgt" *ngFor="let item of acceptedRequestData">
                                        <app-accept-notificaion [acceptedData]='item'></app-accept-notificaion>
                                    </div>

                                    <div class="nt-title pad_nt">


                                        <h4 *ngIf="gotFriendRequestData?.length>0">Respond to your Friend Requests
                                            ({{gotFriendRequestData.length}})
                                        </h4>
                                        <!-- <a>Clear all</a> -->
                                    </div>
                                    <div class="nott-list">
                                        <div class="notfication-details noti_list">

                                           <div *ngFor='let friend of gotFriendRequestData'>

                                                <app-friend-request [friend]="friend"></app-friend-request>

                                            </div>


                                        </div>
                                        <div class="pad">
                                            <p *ngIf='gotFriendRequestData==null ||gotFriendRequestData.length==0'> You
                                                have not any Friend Requests</p>
                                        </div>

                                        <div class="view-all-nots view_req">
                                            <a (click)="navigateToPages('friendlist');">Recent All Requests</a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </li>


                        <li>
                            <a #toggleNotifi (click)="toggleNotification = !toggleNotification; toggleMessagesWindow = false; toggle =false; toggleFilter =false; toggleRequestWindow=false;"
                                title="" class="not-box-open popup-windows" (click)="notifTabClicked()">
                                <span>
                                    <div class="button" *ngIf="counter">
                                        <span class="popup-windows button__badge">{{counter}}</span>
                                    </div>
                                    <mat-icon>
                                        notification_important
                                    </mat-icon>

                                </span> Notification
                            </a>
                            <div #notification>


                                <div [ngClass]="{'active':toggleNotification,'hide' : hideNotif}" class="notification-box popup-windows"
                                    (click)="notificationClicked()">

                                    <div *ngIf="allEvents.length">
                                        <div class="" *ngFor="let item of allEvents">
                                            <app-notification [evnt]='item'></app-notification>
                                        </div>

                                    </div>

                                    <div class="seeAll" *ngIf="allEvents.length>4"><a title="" (click)='viewAllNotif()'>See All</a></div>


                                </div>

                            </div>
                        </li>

                        <li click-outside (clickOutside)="onClickOutside($event)">
                             <a class="not-box-open popup-windows" (click)="showManager = !showManager;toggleNotification = false; toggleMessagesWindow = false; toggle =false; toggleFilter =false; toggleRequestWindow=false;">
                                <span>
                                    
                                    <mat-icon>
                                        view_module
                                    </mat-icon>

                                </span> Manage
                             </a>

                             <div [ngClass]="{'active':showManager}" class="notification-box popup-windows">
                                
                                <a class="manage-link" [routerLink]="['admin']" routerLinkActive="active" (click)="showManager = false">
                                    <div class="polaroid">
                                        <img src="https://www.w3schools.com/css/img_5terre.jpg" alt="courses" width="100" height="70">
                                        <div class="image-name">
                                        <p class="bottom-0">Admin</p>
                                        </div>
                                    </div>
                                </a>

                                <a class="manage-link" [routerLink]="['course-manager']" routerLinkActive="active" (click)="showManager = false">
                                    <div class="polaroid">
                                        <img src="https://www.w3schools.com/css/img_5terre.jpg" alt="courses" width="100" height="70">
                                        <div class="image-name">
                                        <p class="bottom-0">Courses</p>
                                        </div>
                                    </div>
                                </a>
                                
                                <a *ngIf = "userRoles.length && userRoles.includes('Review Manager')" (click)="showManager = false" class="manage-link" [routerLink]="['review-post']" routerLinkActive="active">
                                   <div class="polaroid">
                                        <img src="https://www.w3schools.com/css/img_5terre.jpg" alt="posts" width="100" height="70">
                                        <div class="image-name">
                                        <p class="bottom-0">Posts</p>
                                        </div>
                                    </div>
                                </a>
                                
                                <a class="manage-link" [routerLink]="['forum-manager']" routerLinkActive="active" (click)="showManager = false">
                                    <div class="polaroid">
                                         <img src="https://www.w3schools.com/css/img_5terre.jpg" alt="forums" width="100" height="70">
                                         <div class="image-name">
                                         <p class="bottom-0">Forums</p>
                                         </div>
                                     </div>
                                </a>

                                <a class="manage-link" [routerLink]="['document']" routerLinkActive="active" (click)="showManager = false">
                                    <div class="polaroid">
                                        <img src="https://www.w3schools.com/css/img_5terre.jpg" alt="courses" width="100" height="70">
                                        <div class="image-name">
                                        <p class="bottom-0">Documents</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!--nav end-->
                <nav class="active" *ngIf="showNavbar==true">
                    <ul>
                        <li (click)="hideLeftMenubar('home')">

                            <span>
                                <img src="../assets/images/icon1.png" alt="">
                            </span> Home

                        </li>



                        <li routerLinkActive="active" (click)="hideLeftMenubar('profile')">

                            <span>
                                <img src="../assets/images/icon2.png" alt="">
                            </span> Profile


                        </li>

                        <li (click)="hideLeftMenubar('friendlist')">

                            <span>
                                <img src="../assets/images/icon4.png" alt="">
                            </span> Requests

                        </li>
                        <!-- <li (click)="hideLeftMenubar('message')">

                            <span>
                                <img src="../assets/images/icon2.png" alt="">
                            </span> Messages

                            <div class="notification-box msg">
                                <div class="nt-title">
                                    <h4>Setting</h4>
                                    <a title="">Clear all</a>
                                </div>
                                <div class="nott-list">
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3>
                                                <a href="messages.html" title="">Jassica William</a>
                                            </h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                                            <span>2 min ago</span>
                                        </div>

                                    </div>
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3>
                                                <a href="messages.html" title="">Jassica William</a>
                                            </h3>
                                            <p>Lorem ipsum dolor sit amet.</p>
                                            <span>2 min ago</span>
                                        </div>

                                    </div>
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3>
                                                <a href="messages.html" title="">Jassica William</a>
                                            </h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua.</p>
                                            <span>2 min ago</span>
                                        </div>

                                    </div>
                                    <div class="view-all-nots">
                                        <a title="">View All Messsages</a>
                                    </div>
                                </div>

                            </div>

                        </li> -->
                        <li>
                            <a title="" class="not-box-open">
                                <span>
                                    <img src="../assets/images/icon7.png" alt="">
                                </span> Notifications
                            </a>
                            <div class="notification-box">
                                <div class="nt-title">
                                    <h4>Settings</h4>
                                    <a title="">Clear all</a>
                                </div>
                                <div class="nott-list">
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3>
                                                <a title="">Jassica William</a> Comment on your project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3>
                                                <a title="">Jassica William</a> Comment on your project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3>
                                                <a title="">Jassica William</a> Comment on your project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3>
                                                <a title="">Jassica William</a> Comment on your project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <div class="view-all-nots">
                                        <a title="">View All Notification</a>
                                    </div>
                                </div>
                                <!--nott-list end-->
                            </div>
                            <!--notification-box end-->
                        </li>
                    </ul>
                </nav>
                <!--nav end-->
                <div (click)="menuClicked(showNavbar)" class="menu-btn">
                    <a>
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <!--menu-btn end-->

                <div class="grp-dd" title="change group" *ngIf="groupDetails.length">
                    <select (change)="userSwitchGroup()" [(ngModel)]="currrentGroup">
                        <option [value]="group.group_id" *ngFor="let group of groupDetails">{{group.group_name}}</option>
                    </select>
                </div>

                <div class="user-account">
                    <div class="user-info cursor">
                        <img *ngIf = "profilePic" (click)="hideLeftMenubar('profile')" [src]="profilePic"
                            width="30" height="30">
                        <div *ngIf = "!profilePic" class="img-container-3 img-circle" style="margin-right:5px">
                            <span *ngIf = "firstName || lastName">{{firstName[0].toUpperCase() + lastName[0].toUpperCase()}}</span>
                        </div>    
                        <a class='cursor mrgn-rt-4' (click)="hideLeftMenubar('profile')"></a>
                        <i title="go to settings" (click)="settingClicked(); toggleFilter = false; toggleMessagesWindow=false;toggle =!toggle;toggleRequestWindow=false;"
                            class="material-icons cursor popup-windows">
                            settings
                        </i>
                    </div>


                    <div #userSetting [ngClass]="{'active':toggle,'hide':hideToggle}" class="user-account-settingss">

                        <h3 class='h3_setting cursor'>Settings</h3>
                        <ul class="us-links li_css_issue">
                            <li routerLinkActive="active" (click)="close_Popup()">
                                <mat-icon>
                                    account_box
                                </mat-icon>
                                <span class="settings-li" routerLink="profile-setting" title="">Account Setting</span>
                            </li>
                            <li>
                                <mat-icon>
                                    security
                                </mat-icon>
                                <span class="settings-li">Privacy</span>
                            </li>
                            <li>
                                <mat-icon>
                                    question_answer
                                </mat-icon>
                                <span class="settings-li">Faqs</span>
                            </li>
                            <li>
                                <mat-icon>
                                    view_comfy
                                </mat-icon>
                                <span class="settings-li">Terms & Conditions</span>
                            </li>
                            <li>
                                <mat-icon>
                                    remove_circle_outline
                                </mat-icon>


                                <span class="settings-li" (click)="logout()">Logout</span>
                            </li>
                        </ul>

                        <!--<h3 class="tc">

                            <button type="button" (click)="close_Popup()" class="btn btn-primary">Close</button>
                        </h3>-->

                    </div>
                    <!--user-account-settingss end-->
                </div>


            </div>
            <!--header-data end-->


        </div>
    </header>
    <!--header end-->


    <router-outlet class="showrouter"></router-outlet>
</div>

<div class="sidenavbar chat_side_issue showhim" id='slide' *ngIf="show_online_friends_on_rightside==true">

    <div *ngIf="friends" class="chat-grid-upper overflow">
        <div class="chat-list" *ngFor="let friend of friends">


            <app-chat-friend (openBox)="addBox($event)" [friend]="friend"></app-chat-friend>

        </div>

        <div class="view-more view-more_chat">

            <a class="showme" (click)="viewMore(9,16)" *ngIf="friends.length>7">View More</a>
            <p class="showme" *ngIf="friends.length==0">Not any Friends</p>



        </div>

    </div>


    <div class="chat-grid-bottom overflow">
        <mat-slide-toggle class="example-margin" (change)="onChangeSlide($event)" [(ngModel)]="slideme" [color]="color"
            [checked]="checked" [disabled]="disabled">
            Hold
        </mat-slide-toggle>
        <h5>Group Conversations</h5>


        <div *ngFor="let chatGroup of chatGroups; index as i">
            <div *ngIf="chatGroup.chat_type_id !='ONE_TO_ONE'" class="grp-div bg_lght_blue">
                <app-chat-group-list (openBox)="addBox($event)" [chatGroup]="chatGroup"></app-chat-group-list>
            </div>
        </div>


        <div class="new-group">
            <div class="new-group-txt wdth_100">
                <a class="new-group-link" data-toggle="modal" data-target="#newGrpModal">Create Chat Group
                </a>
            </div>
        </div>
    </div>


</div>

<div class="chat-box-container">

    <div *ngFor="let chatBox of chatBoxes" style="width: 100%">

        <chat-box [user]="[chatBox]" [friends]="friendData"  (removeUser)="removeUser($event)"></chat-box>

    </div>

</div>

<div class="extra-list-container">

    <div class="drop-down-container">


        <div class="drop-down-list" [class.showList]="showList">
            <ul class="extra-list">
                <!-- <li><span><a>Vijay Pandey</a></span><span class="mrgn-lt-5"><i class="material-icons middle">
              close
            </i>
          </span></li>
        <li><span><a>Vijay Pandey</a></span><span class="mrgn-lt-5"><i class="material-icons middle ">
              close
            </i></span></li> -->

                <template #chatList></template>


            </ul>
        </div>
        <div *ngIf="morethan4child">

            <span>
                <i class="material-icons font-50" (click)="showList = ! showList">
                    comment
                </i>
            </span>
        </div>

    </div>

</div>

<app-chat-group *ngIf="friendData.length" [friendList]="friendData"></app-chat-group>
<div class="session-alert" *ngIf="sessionAlert">
    <div class="alert alert-danger">
        <a (click)="stopTimer()" class="close cross" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Warning!</strong> Dear user, you are inactive from 3 minutes please click on cross sign to keep loged
        in within 60 seconds: {{count}}
    </div>
</div>