.avatar {
    margin: auto;
}

.black {
    color: black;
}

.text {
    color: black;
    border-bottom: 1px solid #e5e5e5;
    font-size: inherit;
}

.nott-list {
    padding: 10px;
}

.pad {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.mat-card-avatar {
    /* height: 0px; */
    /* width: 0px; */
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.spn {
    font-size: inherit;
    font-weight: 100;
    padding-top: 4px;
    margin-left: 50px;
    margin-right: 10px;
    text-align: justify;
}

.lbl {
    text-transform: capitalize;
    padding: unset;
    margin: unset;
    font-weight: 100;
}