<div (click)='seeFriendProfile()' class="nott-list   black text" *ngIf="acceptedData.req_status=='ACCEPTED'">
    <div class="avatar " *ngIf="activeUserDetails.user_full_text_name">
        <img class="img-circle " [src]="profilePic ? profilePic :'assets/images/male.jpg'" width="40" height="40" alt="">
    </div>
    <span class="spn"><label class="lbl" >{{activeUserDetails.user_full_text_name}}</label> accepted your friend request,visit timeline
        to see their latest posts</span>


</div>
<div class="nott-list  black text " *ngIf="acceptedData.req_status=='OEPN'">
    <div (click)='seeFriendProfile()' class="avatar" *ngIf="activeUserDetails.user_full_text_name">
        <img class="img-circle " [src]="profilePic ? profilePic :'assets/images/male.jpg'" width="40" height="40" alt="">
    </div>
    <span class="spn"><label class="lbl" >{{activeUserDetails.user_full_text_name}}</label>accepted your friend request,visit timeline
    to see their latest posts</span>
</div>