<div class="row">
  <div class="col-md-12" *ngIf="singlePost.post_type=='SHARED' && userDetail" class="share">
    <span>{{userDetail.user_full_text_name}}</span> shared <span *ngIf="singlePost.originalUser">
      {{singlePost.originalUser.user_full_text_name + "'s post"}} </span>
  </div>
  <div class="col-md-12">
    <div class="usy-dt">
      <img *ngIf="profilePic" [src]="profilePic" width="50" height="50" alt="">
      <div *ngIf="!profilePic" class="img-container img-circle">
        <span *ngIf="firstName || lastName">{{firstName[0].toUpperCase() + lastName[0].toUpperCase()}}</span>
      </div>
      <div class="usy-name">
        <h3 *ngIf="userDetail" (click)="seeFriendProfile(userDetail.user_id)" class="cursor">{{userDetail.user_full_text_name}}</h3>
        <mat-icon>access_alarm</mat-icon>
        <span class="btn-relative">{{singlePost.creation_timestamp | date:'medium':'+0530'}}</span>
      </div>
    </div>

  </div>
  <div class="col-md-12">
    <div class="post-title">{{singlePost.heading}}</div>
    <p #msgpara class="msg-para" [innerHTML]="singlePost.formatted_message | slice:0:2000"> </p><span *ngIf="singlePost.formatted_message && singlePost.formatted_message.length>2000">...
      <a class="see-more">See More</a></span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div *ngIf="singlePost._albums" class="image-gallery mrgn-tp-20">
      <div *ngFor="let image of singlePost._albums; let i=index" class="img-row">
        <img *ngIf="image.is_preview" class="img-frame" width="100%" height="150" [src]="image.thumb" [title]="image.caption"
          (click)="open(i,singlePost._albums )" />
        <img *ngIf="!image.is_preview && i<5" class="img-frame" width="60" height="90" [src]="image.thumb" [title]="image.caption"
          (click)="open(i,singlePost._albums )" />
        <div *ngIf="!image.is_preview && i==5" (click)="open(i,singlePost._albums )" class="pic-plus cursor">
          <mat-icon>add</mat-icon><span class="fs-20">{{singlePost._albums.length-5}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="singlePost._pdfs" [class.w-100]="!hidden" class="fl-left mrgn-tp-20">
      <div *ngFor="let pdf of singlePost._pdfs; let i=index" [class.w-100]="!hidden" class="fl-left">
        <div *ngIf="hidden" class="image-gallery">
          <div (click)="hidden = !hidden" class="pdf" style="background-image: url('assets/images/pdf.png')">
            <span class="pdf-size">
              <span></span>
            </span>
          </div>
          <div>
            <small class="mrgn-tp-0 ">{{pdf.pdf_name}}</small>
          </div>
        </div>
        <div *ngIf="!hidden" [class.max]="ifMax" class="view-pdf">
          <div class="pdf-btn-container"><button (click)="hidden = !hidden" class="btn btn-info">Minimize</button>
            <button (click)="ifMax = !ifMax" class="btn btn-info">Maximize</button></div>
          <ngx-extended-pdf-viewer [src]="URLChange(pdf.pdf_storage_url)" height="500px" backgroundColor="#e8e8ef"
            [mobileFriendlyZoom]="mobileFriendlyZoom" [showZoomButtons]="true" [showSidebarButton]="showSidebar"
            [useBrowserLocale]="true" [showSidebarOnLoad]="true" delayFirstView="50" [(zoom)]="zoom"
            showPresentationModeButton="true">
          </ngx-extended-pdf-viewer>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <video *ngFor="let video of singlePost._videos; let i=index" class="mrgn-rt-5 mrgn-tp-20" width="30%" height="94"
      controls controlsList="nodownload">
      <source [src]="URLChange(video.video_storage_url)" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

</div>
<div class="row mrgn-tp-48">
  <div class="col-lg-6 right-al">
    <button class="btn btn-primary" (click) = "approvePost()">Approve</button>
  </div>
  <div class="col-lg-6">
    <button class="btn btn-danger" data-toggle="modal" data-target="#myModal2">Reject</button>
  </div>
</div>