<div class="row">
  <div class="col-md-12">
    
     <h3 style="margin-bottom:0"><a class="cursor" (click) = "sendForum()" data-target="#search">{{forum.forum_name}}:{{forum.heading}}</a></h3>
  </div>
  <div class="col-md-12">
     <p>{{forum.forum_description}}</p>
  </div>
  
</div>
