<div class="post-topbar cr-post">



    <div #modalback class="myModal-backdrop"></div>
    <div #myModal class="row post-cr-main myModal">
        <div class="col-lg-12">
            <form #postForm="ngForm" (ngSubmit)="submitPost();">

                <div class="row post-cr-head">

                    <div class="col-lg-12 clr_wt">
                        <label *ngIf="edit; else elseBlock">Edit Post</label>
                        <ng-template #elseBlock>Create New Post</ng-template>

                        <i #close (click)="postBoxActive = !postBoxActive; preview = false;closePostcreate()" class="material-icons myModal-close pull-right">
                            cancel_presentation
                        </i>
                    </div>

                </div>


                <div *ngIf="!preview" class="row post-pic">
                        <div class="col-xs-4 col-sm-3 col-md-2">
                                <img *ngIf = "profilePic" class="img-circle img-responsive" [src]="profilePic" alt="">
                                <div *ngIf = "!profilePic" class="img-container img-circle img-responsive">
                                    {{firstName[0].toUpperCase() + lastName[0].toUpperCase()}}
                                </div>
                        </div>
                    <div class="col-xs-8 col-sm-9 col-md-10">
                        
                        <span *ngIf="!postBoxActive" class="post-textbox"><input type="text" class="no-border" name="writepost"
                                (focus)="postBoxActive = !postBoxActive ;postFocus($event)" placeholder="Create your post here...." />
                        </span>
                        <span *ngIf="postBoxActive" class="post-textbox">
                            <mat-form-field *ngIf="!postToEdit">
                                <input name="title" matInput placeholder="Title" [(ngModel)]="heading">
                            </mat-form-field>
                            <mat-form-field *ngIf="postToEdit">
                                <input name="title" matInput placeholder="Title" [(ngModel)]="postToEdit.heading">
                            </mat-form-field>
                            <mat-form-field *ngIf="!postToEdit">
                                <input name="message" matInput placeholder="Message" [(ngModel)]="postMessage">
                            </mat-form-field>
                            <mat-form-field *ngIf="postToEdit">
                                <input name="message" matInput placeholder="Message" [(ngModel)]="postToEdit.postMessage">
                            </mat-form-field>
                        </span>
                    </div>

                </div>

                <div #appear class="row" style="display:none">

                    <div class="col-lg-12 pad-top-15">


                        <div *ngIf="!preview" class="form-group editor-bottom">

                            <editor *ngIf="!postToEdit" name="editor" apiKey="test" [init]="{plugins: 'link , paste', branding: false,forced_root_block :''}"
                                (input)="onSearchChange($event.target.value)" (onPaste) ="findOGLinks()" [(ngModel)]="formatted_message" (onKeyUp)="tagInPost($event)"></editor>
                            <editor *ngIf="postToEdit" name="editor" apiKey="test" [init]="{plugins: 'link , paste', branding: false,forced_root_block :''}"
                                [(ngModel)]="postToEdit.formatted_message" (onPaste) ="findOGLinks()" (onKeyUp)="tagInPost($event)"></editor>

                        </div>
                        <div *ngIf="showError"><span style="color:red">Message length Should be less than ten thousand
                                characters</span></div>
                        <div *ngIf="postTagFound && !preview" class="friend_list">

                            <ul>
                                <li *ngFor="let filteredFriend of filteredFriends" (click)="selectPostfriend(filteredFriend)"><img
                                        src="assets/images/img-avatar.png" width="30" height="30" alt="" class="img-circle"><span
                                        class="mrgn-left-5">{{filteredFriend.user_full_text_name}}</span></li>
                            </ul>
                        </div>
                        <div *ngIf="preview" class="row">

                            <div class="post_topbar">
                                <div class="usy-dt">
                                    <img *ngIf = "profilePic" [src]="profilePic" width="50" height="50" alt="">
                                    <div *ngIf = "!profilePic" class="img-container img-circle">
                                        {{firstName[0].toUpperCase() + lastName[0].toUpperCase()}}
                                    </div>
                                    <div class="usy-name">
                                        <h3>{{userName}}</h3>
                                        <span><img src="assets/images/clock.png" alt="">
                                        <span *ngIf = "!postToEdit">{{curTime |date:'medium':'+0530'}}</span>
                                        <span *ngIf = "postToEdit">{{postToEdit.creation_timestamp |date:'medium':'+0530'}}</span>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="job_descp">

                                <h4 style="color: #006cb5;">{{postToEdit?postToEdit.heading:heading}}</h4>
                                <div [innerHTML]="postToEdit?postToEdit.formatted_message:formatted_message"></div>

                            </div>

                            
                        </div>
                        <div id="appendOG"></div>
                        <div *ngIf = "edit" id="appendOGedit"></div>
                        <div class="mrgn-tp-10" *ngIf="postToEdit">
                            <app-thumbnail *ngFor="let imageSRC of postToEdit._real_albums" [info]="imageSRC" [edit]="true" [isPreview] = "preview"></app-thumbnail>
                            <app-thumbnail *ngFor="let pdf of postToEdit._pdfs" [info]="pdf" [edit]="true" [isPreview] = "preview"></app-thumbnail>
                            <app-thumbnail *ngFor="let videoSRC of postToEdit._videos" [info]="videoSRC" [edit]="true" [isPreview] = "preview"></app-thumbnail>
                        </div>
                        <ng-container *ngIf = "uploadResponse.message">
                         <div *ngIf="uploadResponse.message > 0" style="border:1px solid grey; width:100%;margin-top: 5px">
                            <div class="up-progress" role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                {{uploadResponse.message}}%
                            </div>
                        </div>
                        </ng-container>
                        <div class="mrgn-tp-10" *ngIf="!postToEdit">
                            <app-thumbnail *ngFor="let imageSRC of imageSRCS; index as i" [info]="imageSRC" [edit]="false"
                                    [index]="i" [isPreview] = "preview" (emitIndex)="reCreateThumbnail($event)"></app-thumbnail>
                            
                            <app-thumbnail *ngFor="let pdf of pdfData; index as i" [info]="pdf" [edit]="false" [index]="i"
                            [isPreview] = "preview" (emitIndex)="reCreateThumbnail($event)"></app-thumbnail>
                            <app-thumbnail *ngFor="let videoSRC of videoSRCS; index as i" [info]="videoSRC" [edit]="false"
                                [index]="i" [isPreview] = "preview" (emitIndex)="reCreateThumbnail($event)"></app-thumbnail>
                        </div>


                        <div *ngIf="postTagFriends.length">
                            <span>-With </span>
                            <span class="mrgn-left-5" *ngFor="let frnd of postTagFriends;index as i">
                                <a *ngIf="i==0">{{frnd.user_full_text_name +" "}}</a>
                                <a *ngIf="i>0">{{", "+frnd.user_full_text_name +" "}}</a>
                            </span>
                        </div>
                        <section *ngIf="tagFriends && !preview && friends">
                            <app-auto-complete [allFriends]="friends" (valueChange)='getSelectedFriends($event)'></app-auto-complete>
                        </section>


                    </div>

                </div>

                <div *ngIf="!preview" class="row pad-top-8">

                    <div class="col-my-4 position-btn">
                        <button (click)="tagFriends=!tagFriends" type="button" class="btn btn-info btn-97 btn_color brad-15 post-btn "><mat-icon>
                            face
                        </mat-icon>
                        <span class="btn-relative "> Tag
                              Friends </span></button>
                    </div>
                    <div class="col-my-4 position-btn ">
                        <button type="button" (click)="clickUpload()" class="btn btn-info btn-97 btn_color brad-15 post-btn ">
                            <mat-icon>
                                subscriptions

                            </mat-icon>
                            <span class="btn-relative"> Photo/Video/Pdf </span>
                        </button>
                        <input #upload id="upload" type='file' name="file" (change)="processFile(upload)" accept="image/*,video/*,.pdf"
                            style="display:none" />

                    </div>
                    <div class="col-my-4 position-btn ">

                        <button type="button" class="btn btn-info btn_color btn-97 brad-15 post-btn ">
                            <mat-icon>
                                favorite
                            </mat-icon>
                            <span #toggleButton (click)="toggleMenu()" class="btn-relative"> Feeling/Activity </span>
                        </button>
                    </div>


                    <div #menu>
                        <div *ngIf="isMenuOpen" class="row justify-content-center mb-1">
                            <div class="col-12 text-center">
                                <div class="d-flex justify-content-center">
                                    <emoji-mart (click)='emojiCicked()' #emoji [set]="set" [hideRecent]="false"
                                        [custom]="CUSTOM_EMOJIS" (emojiSelect)="addEmoji($event)" [emojiTooltip]="false"
                                        [showPreview]="false">


                                    </emoji-mart>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div *ngIf="postBoxActive" class="row mrgn-tp-20 mrgn-btm-10">
                    <div *ngIf="!edit" class="col-my-6 ">
                        <input type="submit" [disabled]="!mediaUpload && !Message" name="submit" value="share" class="btn-primary share-btn  brad-15">
                    </div>

                    <div *ngIf="edit && !preview" class="col-my-3 ">
                        <button (click)="updatePost()" class="btn-primary share-btn  brad-15">Update</button>
                    </div>
                    <div *ngIf="edit && !preview" class="col-my-3 ">
                        <button (click)="cancelORSubmit()" class="btn-primary share-btn  brad-15">Cancel</button>
                    </div>
                    <div *ngIf="!preview" class="col-my-6 ">
                        <button (click)="preview = !preview;" class="btn-primary share-btn  brad-15">Preview</button>
                    </div>
                    <div *ngIf="preview" class="col-my-6 ">
                        <button (click)="preview = !preview" class="btn-primary share-btn  brad-15">Back to Create Post</button>
                    </div>

                </div>


            </form>

        </div>

    </div>



    <!-- Modal -->

</div>