   .myModal {
       position: relative;
       border-radius: 5px;
       background-color: #fff;
   }
   
   .myModal-backdrop {
       position: fixed;
       z-index: 9999;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       background-color: rgba(0, 0, 0, 0.5);
       display: none;
   }
   
   .myModal-close {
       cursor: pointer;
       display: none;
   }
   
   .post-cr-main {
       padding-bottom: 8px
   }
   
   .post-cr-head {
       background-color: #006cb5;
       border-bottom: 1px solid #006cb5;
       border-radius: 2px 2px 0 0;
       font-weight: bold;
       padding: 8px 6px;
   }
   
   .post-cr-head label {
       color: #fff
   }
   
   .pad-top-8 {
       padding-top: 8px
   }
   
   .post-pic {
       padding-top: 8px;
       padding-bottom: 8px;
       padding-left: 5px;
       position: relative;
       border-bottom: 2px solid #e4e4e4;
   }
   
   .post-textbox {
       margin-left: 10px;
       position: absolute;
       top: 10px;
       width: 81%
   }
   
   .no-border {
       border: 0
   }
   
   .editor-bottom {
       margin-bottom: 0px;
   }
   
   .btn-97 {
       width: 97%
   }
   
   .brad-15 {
       border-radius: 15px
   }
   
   .mrgn-tp-20 {
       margin-top: 20px
   }
   
   .mrgn-btm-10 {
       margin-bottom: 10px
   }
   
   .share-btn {
       width: 96%;
   }
   
   .pad-top-15 {
       padding-top: 15px
   }
   
   .mat-form-field {
       width: 100%
   }
   
   .friend_list {
       width: 200px;
       background-color: white;
       border: 1px solid grey;
       border-radius: 5px;
       position: absolute;
       z-index: 1;
   }
   
   .friend_list ul li {
       padding: 10px 5px;
   }
   
   .friend_list ul {
       padding-left: 0;
   }
   
   .col-my-1,
   .col-my-2,
   .col-my-3,
   .col-my-4,
   .col-my-5,
   .col-my-6,
   .col-my-7,
   .col-my-8,
   .col-my-9,
   .col-my-10,
   .col-my-11,
   .col-my-12 {
       position: relative;
       min-height: 1px;
       padding-right: 15px;
       padding-left: 15px;
   }
   
   @media (min-width: 420px) {
       .col-my-1,
       .col-my-2,
       .col-my-3,
       .col-my-4,
       .col-my-5,
       .col-my-6,
       .col-my-7,
       .col-my-8,
       .col-my-9,
       .col-my-10,
       .col-my-11,
       .col-my-12 {
           float: left;
       }
   }
   
   @media only screen and (max-width: 420px) {
       /* For tablets and small devices: */
       .col-my-6,
       .col-my-4 {
           width: 100%
       }
   }
   
   @media only screen and (min-width: 420px) {
       /* For tablets and small devices: */
       .col-my-6 {
           width: 50%
       }
       .col-my-4 {
           width: 33.33%
       }
   }
   /* dheeraj css */
   
   .clr_wt {
       color: #fff;
   }
   
   .btn_color {
       background-color: #318cc1;
       color: #fff;
   }
   
   .cr-post {
       position: relative;
       margin-bottom: 20px
   }
   
   .btn-relative {
       top: -3px;
       left: 0px;
       position: relative;
   }
   
   .post-btn {
        padding: 2px 6px !important;
        line-height: 0 !important;
        min-width: 140px;
        color: #888888;
        background-color: white;
        border: 2px solid #d4d4d4;
   }
   
   .position-btn {
       position: relative;
       min-height: 1px;
       padding-right: 5px !important;
       padding-left: 10px !important;
   }

   