.list-group-item .people-row .col-md-12 {
    width: 50%
}

.list-group-item .people-row .col-md-12 .btn-pos {
    left: 60%
}

.item.list-group-item .people-row {
    padding: 9px 9px 0px 9px;
    margin-left: 20px;
}

.grid-border {
    border: 1px solid #c5c5c5;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 0px 0px 7px 1px #c5c5c5;
}

.alert {
    width: 134px;
    margin-bottom: -24px;
    padding: 7px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.float-left {
    float: left
}

@media only screen and (max-width:576px) {
    .alert {
        width: 84px;
        margin-bottom: -24px;
        padding: 7px;
    }
}


/* by dheeraj css */

.people-row {
    border: 1px solid #c5c5c5;
    padding: 3px;
    border-radius: 6px;
    margin-bottom: 12px;
    box-shadow: 0px 0px 7px 1px #c5c5c5;
}

.pad {
    padding: 0px 20px;
}

.unset_thing {
    border: unset !important;
    padding: 5px;
    border-radius: unset !important;
    margin-bottom: unset !important;
    border-bottom: 1px solid #e2d8d8 !important;
    margin-top: 5px;
    box-shadow: unset !important;
    margin-bottom: 5px !important;
}

.mrgn_0 {
    margin-left: 0px;
    margin-right: 0px;
}

.pad_0 {
    padding: 0px;
}

.req_btn {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10px;
}

.nm_request {
    color: black;
    text-transform: capitalize;
}

.pad_tp_6 {
    padding-top: 6px;
}

.example-button-toggle-label {
    display: inline-block;
    margin: 16px;
}

btn-on-small {
    color: black
}

.example-small-box,
.example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
}

.example-small-box {
    min-height: 100px;
    min-width: 400px;
}

.link {
    color: #006cb5;
}

.black {
    color: black;
    margin: unset;
    padding: unset;
}

.quart-width {
    width: 25%
}