<div class="people-row unset_thing grid-border" *ngIf="requestresult?.user_full_text_name">
    <div class="row mrgn_0">
        <div class="col-md-2" style="padding-right:0">
            <div class="noty-user-img">
                <img class="img-circle" [src]="profilePic ? profilePic : 'assets/images/male.jpg'" width="40" height="40" alt="">
            </div>
        </div>
        <div class="col-md-5 text-left" style="padding-right:0;padding-left: 0">
            <div class="nm_request"><a class="link" (click)='seeFriendProfile(requestresult.user_id)'>{{requestresult?.user_full_text_name}}</a></div>
            <p class="data_req" *ngIf="activeUserEducationalData?.institution_id">{{activeUserEducationalData.institution_id}}</p>
            <p class="data_req" *ngIf="activeUserPersonalData?.address_id">{{city}}</p>
        </div>
        <div class="col-md-5 pad_0 pad_tp_6">
            <button #acceptrequest type="buttton" style="margin-right:1px" class="btn-on-small req_btn btn btn-relative" title="accept request" (click)="accecptFriendRequest(friend.friend_req_id, friend.from_user_id)"><i class="material-icons" style="color:green">check_circle </i>&nbsp;&nbsp;</button>
            <span class="black" *ngIf="acceptuserrequest==true">
                Request Accepted
            </span>
            <button #deleterequest type="buttton" style="margin-right:1px" class=" btn-on-small req_btn btn btn-relative " title="delete request" (click)="deleteFriendRequest(friend.friend_req_id, friend.from_user_id)"><i class="material-icons" style="color:red">delete</i> &nbsp;&nbsp;</button>
            <span class="black" *ngIf="deleteuserrequest==true">
                Request Deleted
            </span>
            <button #blockrequest type="buttton" class="btn-on-small btn req_btn btn-relative " title="block request" (click)="blockFriendRequest(friend.friend_req_id, friend.from_user_id)"> <i class="material-icons" style="color:orangered">block</i></button>

            <span class="black" *ngIf="blockuserrequest==true">
                Request Blocked
            </span>
        </div>
    </div>

</div>