.mrgn-tp-90 {
    margin-top: 90px
}

.table-bg {
    background-color: slategrey;
    color: #fff;
}

.mrgn_15 {
    margin-top: 15px;
}

.mrgin_tp {
    margin-top: 16px;
}

.profile_set_issue {
    border-left: unset !important;
    box-shadow: unset !important;
    border-right: unset !important;
    border-bottom: unset !important;
    margin-bottom: 20px;
}

.error {
    color: red;
}

.btn-relative {
    top: -2px;
    left: 3px;
    position: relative;
    font-weight: bold;
}

.btn-relative-lrg {
    top: -7px;
    left: -7px;
    color: #505050;
    position: relative;
    font-weight: bold;
}


.con-btn {
    
    border-radius: 8px;
}


.mrgn-rt-8{
    margin-right: 8px
}

.delete {
    color: red
}

.edit {
    color: green
}