<div class="container mrgn-tp-90">
  <div class="row">
    <div class="col-md-6">
        <h3> My Document Store</h3>
    </div>
    <div class="col-md-6 text-right">
        <button type="button" id="addbutton" class="btn btn-primary mrgn_15" (click)="visible(addDocument)">
            <span class="cui-contrast"></span>
            <i class="material-icons">
                add_box
            </i>
            <span class="btn-relative">Add Document</span>
        </button>
    </div>
    <div class="col-md-12 mrgin_tp">
        <div class="alert alert-success" role="alert" *ngIf="documentAdded==true">
            Document Added Successfully!
        </div>
    </div>
  </div>
  <div class="" *ngIf="!edittogle">
    <div class="acc-setting profile_set_issue">
        <form #documentForm="ngForm" (ngSubmit)="uploadUserDocument();">
            <fieldset *ngIf="addDocument==true">
                <div class="row">
                    <div class="col-lg-6 col-xs-12">
                        <div class="form-group">
                            <label for="edutype">Document Type:</label>
  
                            <input type="text" id=documentTypeName class="form-control"
                                placeholder="Document Type" [formControl]="myControl"
                                [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async"
                                    [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12">
                        <div class="form-group">
                            <label for="idname">Document Name:</label>
                            <input type="text" class="form-control" name="doc_name_by_user"
                                placeholder="Document Name" [(ngModel)]="doc_name_by_user">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <div class="form-group">
                            <label for="comment">Description</label>
  
                            <textarea class="form-control" placeholder="Write Something"
                                name="doc_description" [(ngModel)]="doc_description"></textarea>
  
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 upload_img">
                        <app-upload-thumbnail *ngIf="doc_src" [src]="doc_src">
                        </app-upload-thumbnail>
                        <div id="append" class="mrgn-tp-10"> </div>
                        <template #appendContainer></template>
                    </div>
  
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-2" *ngIf="showProgressbar==true">
                            <progressbar max="200" [value]="200" [striped]="true" [animate]="true">
                                <i>{{uploading_msg}}</i>
                            </progressbar>
                        </div>
                        <div class="error" *ngIf="unsupportedFormat==true">
                            <span>Please add image or pdf </span>
                        </div>
  
                        <div *ngIf="showUpload">
                            <button type="button" (click)="clickUpload()" class="btn btn-primary">
                                <i class="material-icons">
                                    add_a_photo
                                </i>
                                <span class="btn-relative">Photo/Pdf</span>
                            </button>
                            <input #upload id="upload" type='file' name="file" accept="image/*,.pdf" (change)="processFile(upload)"
                                style="display:none" />
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf='uploaddocBtn==true'>
                    <div class="col-md-12 col-xs-12 mrgin_tp">
                        <input type="submit" class="btn btn-primary"> &nbsp;&nbsp;
                        <button (click)="addDocumentCancel(addDocument);" type="button"
                            class="btn btn-danger">Cancel</button>
                    </div>
                </div>
  
            </fieldset>
        </form>
    </div>
  
  </div>
  
  
  <div class="row mrgn-tp-20">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover order-column">
        <thead class="table-bg">
            <tr>
                <th>Preview</th>
                <th>Document Name</th>
                <th>Date Time</th>
                <th>Description</th>
                <th>Tools</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let receivedUserDocumentData of receivedUserDocumentData">
                <td>
                    <app-document [receivedUserDocumentData]="receivedUserDocumentData"></app-document>
                </td>
                <td><span class="caption">{{receivedUserDocumentData?.doc_name_by_user}}</span></td>
                <td>{{ receivedUserDocumentData?.last_updated_timestamp |
                    date:'medium':'+0530' }}</td>
                <td>{{receivedUserDocumentData?.doc_description |slice:0:20}}</td>
                <td><button type="button"  title = "Edit" (click)= "tableRow(receivedUserDocumentData)" data-toggle="modal" data-target="#myModal">
                        <i class="material-icons edit">
                            edit
                        </i> 
                    </button>&nbsp;&nbsp;
                    <button type="button" title = "Delete" (click)="sure = !sure; docID = receivedUserDocumentData.user_document_id">
                        <i class="material-icons delete">
                            delete_forever
                        </i>
                        
                    </button>
                    <div class="confrm" *ngIf = "sure && docID == receivedUserDocumentData.user_document_id"><span>Are you sure?</span><button class="con-btn mrgn-rt-8" (click)="deleteDocument(receivedUserDocumentData)">Yes</button> <button class="con-btn" (click)= "sure = !sure">No</button></div>
                </td>
  
  
            </tr>
        </tbody>
    </table>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Document</h4>
      </div>
      <div class="modal-body" *ngIf="documentToEdit">
              <form #documentForm="ngForm" (ngSubmit)="updateUserDocument()">
                      <fieldset>
                          <div class="row">
                              <div class="col-lg-6 col-xs-12">
                                  <div class="form-group">
                                      <label for="edutype">Document Type:</label>
                                      <input type="text" class="form-control" placeholder="Document Type"   [formControl]="myControl" [matAutocomplete]="auto">
                                      <mat-autocomplete #auto="matAutocomplete">
                                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                              {{option}}
                                          </mat-option>
                                      </mat-autocomplete>
                                  </div>
                              </div>
                              <div class="col-lg-6 col-xs-12">
                                  <div class="form-group">
                                      <label for="idname">Document Name:</label>
                                      <input type="text" class="form-control" name="docname" placeholder="Document Name" [(ngModel)]="documentToEdit.doc_name_by_user">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-12 col-xs-12">
                                  <div class="form-group">
                                      <label for="comment">Description</label>
                                      <textarea class="form-control" placeholder="Write Something" name="doc_descrip" [(ngModel)]="documentToEdit.doc_description"></textarea>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 upload_img">
                                  <app-upload-thumbnail  [src]="doc_src"> </app-upload-thumbnail>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="mb-2" *ngIf="showProgressbar==true">
                                      <progressbar max="200" [value]="200" [striped]="true" [animate]="true">
                                          <i>Please Wait</i>
                                      </progressbar>
                                  </div>
                                  <div class="error" *ngIf="unsupportedFormat==true">
                                      <span>Please add image or pdf </span>
                                  </div>
                                  <div *ngIf="showUpload">
                                      <button type="button" (click)="clickUpload()" class="btn btn-info btn_color_blue btn-97 brad-15 ">
                                          <i class="fa fa-file-image-o "></i>Photo/Pdf</button>
                                      <input #upload id="upload" type='file' name="file" (change)="processFile(upload)" accept="image/*,.pdf" style="display:none" />
                                  </div>
                              </div>
                          </div>
                          <div class="mg_tp">
                              <div class="col-md-12 col-xs-12 mrgin_tp">
                                  <input type="submit" *ngIf='uploaddocBtn==true' class="btn btn-primary"> &nbsp;&nbsp;
                                  <button (click)="showEdit=!showEdit; documentUpdate=!documentUpdate; " type="button" class="btn btn-danger">Cancel</button>
                              </div>
                          </div>
              
                      </fieldset>
                  </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>