<section class="cover-sec coverPic">
    <img (mouseenter)="seeUpload()" src="assets/images/cover.png" width="1600px" height="400px" alt="">
</section>


<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="main-left-sidebar">
                            <div class="user_profile">
                                <div class="profilePic">
                                    <label class="hoverable" for="fileInput">
                                        <img *ngIf = "profilePic" [src]="profilePic">
                                        <div *ngIf = "!profilePic" class="img-container-2" style="padding: 58px; font-size: 53px;">
                                            <span *ngIf = "firstName || lastName"> {{firstName[0].toUpperCase() + lastName[0].toUpperCase()}} </span>
                                        </div> 
                                        <div class="background"></div>
                                    </label>

                                </div>
                                <div class="user_pro_status">

                                    <h4 class="capital">{{displayName}}</h4>
                                    <small *ngIf="activeUserEducationalData?.institution_id" class="capital">{{activeUserEducationalData.institution_id}}</small>
                                    <small *ngIf="city" class="capital"> {{city}}</small>
                                </div>
                                <!--user_pro_status end-->

                            </div>
                            <!--user_profile end-->
                            <div class="suggestions full-width">
                                <div class="sg-title">
                                    <span>Friends</span>

                                </div>

                                <div class="card mb-2" *ngFor='let friendlist of receivedFriendList; let i= index " [attr.data-index]=i"'>
                                    <app-userfriend [friendlist]="friendlist"></app-userfriend>

                                    <!-- <div class="view-more">
                                        <a (click)="viewMore(1, 4)">View More</a>
                                    </div> -->
                                </div>
                            </div>
                            <!--suggestions end-->
                        </div>
                        <!--main-left-sidebar end-->
                    </div>
                    <div class="col-lg-6 pro-name">
                        <span class="fs-24">{{displayName}}</span>
                        <div class="dropdown rf" *ngIf="myFriend">

                            <button style="padding: 2px 11px;" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Friends
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu ">
                                <li class="cursor"><a (click)="unFriend()">Unfriend</a></li>
                                <li class="cursor"><a>Block</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="main-ws-sec">


                            <div *ngIf="!allPosts.length && Message=='default'" class="loader">
                                <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i> <span>Loading...Please
                                    Wait</span>
                            </div>
                            <div *ngIf="!allPosts.length && Message!='default'">{{Message}}</div>
                            <div *ngIf="allPosts.length && allUserData.length" class="posts-section">

                                <div *ngFor="let singlePost of allPosts; index as i" class="post-bar">

                                    <app-post [singlePost]="singlePost" [friendData]="allUserData" (editPost)="editPost($event)"></app-post>

                                </div>

                            </div>

                        </div>
                        <!--main-ws-sec end-->
                    </div>




                </div>
            </div>
            <!-- main-section-data end-->
        </div>
    </div>
</main>
<div class="overview-box" id="create-portfolio">
    <div class="overview-edit">
        <h3>Create Portfolio</h3>
        <form>
            <input type="text" name="pf-name" placeholder="Portfolio Name">
            <div class="file-submit">
                <input type="file" name="file">
            </div>
            <div class="pf-img">
                <img src="http://via.placeholder.com/60x60" alt="">
            </div>
            <input type="text" name="website-url" placeholder="htp://www.example.com">
            <button type="submit" class="save">Save</button>
            <button type="submit" class="cancel">Cancel</button>
        </form>
        <a title="" class="close-box"><i class="la la-close"></i></a>
    </div>
    <!--overview-edit end-->
</div>
<!--overview-box end-->