<body>


    <div class="row headermain">
        <div class="container">
            <div class="col-md-7 mrgn_1">

                <a title=""><img src="assets/images/scholars_logo.png" width="300" height="30" alt=""></a>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="container mrgn_40">
            <div class="col-md-6 col-md-offset-3">
                <div class="brder bx_shdw">
                    <div class="row" *ngIf="showsearch==true">
                        <div class="col-md-12">


                            <h3 class="">Find Your Account</h3>

                            <div *ngIf="wrongpassword==true" class="row  alert-success wrongpassword">
                                <div class="col-md-12">

                                    <strong>The email address doesn't exist</strong>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 pad_20">


                            <div class="form-group">
                                <div class="pd_btm_20">Please enter your email to search your account</div>
                                <input type="text" class="form-control col-md-5" #input id="input">

                            </div>
                        </div>

                        <div class="row" *ngIf="showsearch==true">
                            <div class="col-md-9 col-xs-8 text-right pad_20">
                                <div class="form-group">

                                    <button type="button" class="btn btn-primary fnt_12" (click)="checkUser(input.value)">Search</button>

                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2 text-right pad_20">
                                <div class="form-group">

                                    <button type="button" class="btn btn-success fnt_12" (click)="cancelUser()"> Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>




        </div>


    </div>
    <div class="footy-sec footer_Sticky headermain">
        <div class="container mrgn_20_tp_btm">
            <ul>
                <li>
                    <a href="#" title="">Help Center</a>
                </li>
                <li>
                    <a href="#" title="">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" title="">Community Guidelines</a>
                </li>
                <li>
                    <a href="#" title="">Cookies Policy</a>
                </li>
                <li>
                    <a href="#" title="">Career</a>
                </li>
                <li>
                    <a href="#" title="">Forum</a>
                </li>
                <li>
                    <a href="#" title="">Language</a>
                </li>
                <li>
                    <a href="#" title="">Copyright Policy</a>
                </li>
            </ul>
            <p>
                <img src="assets/images/copy-icon.png" alt="">Copyright 2018</p>
        </div>
    </div>
    <!--footy-sec end-->



</body>