<div class="post-topbar cr-post">
        <div #modalback class="myModal-backdrop"></div>
        <div #myModal class="row post-cr-main myModal">
            <div class="col-lg-12">
                <form #shareForm="ngForm" (ngSubmit)="shareForumPost()">
    
                    <div class="row post-cr-head">
    
                        <div class="col-lg-12 clr_wt">
                            <label>Share Forum Post</label>
                            <i #close (click)="closePostShare()" class="material-icons myModal-close pull-right">
                                cancel_presentation
                            </i>
                        </div>
    
                    </div>
    
                    <div *ngIf="!preview" class="row post-pic">
                        <div class="col-lg-12">
                            <img *ngIf = "userPic" class="img-circle" [src]="userPic" width="50" height="50" alt="">
    
                            <div *ngIf="!userPic" class="img-container img-circle">
                                <span *ngIf = "firstName || lastName">{{firstName[0].toUpperCase() + lastName[0].toUpperCase()}}</span>
                            </div>       
    
                            <span class="post-textbox">
    
                                <mat-form-field>
                                    <input name="title" matInput placeholder="Title" [(ngModel)]="heading">
                                </mat-form-field>
                            </span>
                        </div>
    
                    </div>
    
                    <div #appear class="row" style="display:none">
    
                        <div class="col-lg-12 pad-top-15">
    
    
                            <div *ngIf="!preview" class="form-group editor-bottom">
    
    
                                <editor name="editor" apiKey="test" [init]="{plugins: 'link,paste', branding: false,forced_root_block :''}"
                                    [(ngModel)]="sharemessage" (onKeyUp)="searchEvents($event)" (onPaste) ="findOGLinks()"></editor>
    
                            </div>
    
                            
                            <div *ngIf="showError"><span style="color:red">Message length Should be less than ten thousand
                                    characters</span></div>
    
                            <div *ngIf="preview" class="row">
    
                                <div class="post_topbar">
                                    <div class="usy-dt">
                                        <img *ngIf = "userPic" [src]="userPic" width="50" height="50" alt="">
                                        <div *ngIf = "!userPic" class="img-container img-circle">
                                            {{firstName[0].toUpperCase() + lastName[0].toUpperCase()}}
                                        </div>
                                        <div class="usy-name">
                                            <h3>{{userName}}</h3>
                                            <span><img src="assets/images/clock.png" alt="">{{curTime |
                                                date:'medium':'+0530'}}</span>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="job_descp">
    
                                    <h4 class="post-title">{{heading}}</h4>
                                    <div [innerHTML]="sharemessage"></div>
    
                                </div>
                            </div>
                             
                            <div  id="appendOG2"></div>
                            <app-forum_post-snapshot [forum_postToShare]="forum_postToShare" [forum_postUser]="forum_postUser"></app-forum_post-snapshot>
                            <div *ngIf="postTagFound && !preview" class="friend_list">
    
                                <ul>
                                    <li *ngFor="let filteredFriend of filteredFriends" (click)="selectPostfriend(filteredFriend)"><img
                                            src="assets/images/img-avatar.png" width="30" height="30" alt="" class="img-circle"><span
                                            class="mrgn-left-5">{{filteredFriend.user_full_text_name}}</span></li>
                                </ul>
                            </div>
                            
                            
                            <div *ngIf="postTagFriends.length">
                                <span>-With </span>
                                <span class="mrgn-left-5" *ngFor="let frnd of postTagFriends;index as i">
                                    <a *ngIf="i==0">{{frnd.user_full_text_name +" "}}</a>
                                    <a *ngIf="i>0">{{", "+frnd.user_full_text_name +" "}}</a>
                                </span>
                            </div>
    
    
    
                        </div>
    
                    </div>
    
    
                    <div class="row mrgn-tp-20 mrgn-btm-10">
                        <div class="col-my-4 ">
                            <input type="submit" name="submit" value="share" class="btn-primary share-btn  brad-15">
                        </div>
    
                        <div *ngIf="!preview" class="col-my-4 ">
                            <button (click)="cancelORSubmit()" class="btn-primary share-btn  brad-15">Cancel</button>
                        </div>
                        <div *ngIf="!preview" class="col-my-4 ">
                            <button (click)="preview = !preview;" class="btn-primary share-btn  brad-15">Preview</button>
                        </div>
                        <div *ngIf="preview" class="col-my-4 ">
                            <button (click)="preview = !preview" class="btn-primary share-btn  brad-15">Back to Share Post</button>
                        </div>
    
                    </div>
    
    
                </form>
    
            </div>
    
        </div>
    
    
    
        <!-- Modal -->
    
    </div>