
  <div class="container-fluid" *ngIf="module">
    <form>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
              <div *ngIf="modulePic" style="float: left;color:#fff;background-color: #006cb5;padding-right: 200px;margin-top: 0;margin-left: 50px;margin-right: 30px;">
                  <img [src]="modulePic" alt="" width="60" height="60">
                </div>
          </div>
        <div class="col-md-10" >
        <h1 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0px;height: 60px;margin-right: 50px;">{{this.module[0].module_name}}</h1>
      </div>
      </div>
      </div>
    </form>
 <div class="row course-main" >
    <div class="col-md-12 pd-tp-10">
      <form [formGroup]="basicGroup">
        <mat-form-field class="example-full-width mrgn-2-per" appearance="outline">
          <mat-label>Module Name</mat-label>
          <input matInput placeholder=""  formControlName="basicCtrl" required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Module Type</mat-label>
          <select matNativeControl formControlName="basicCtrl2" required>
            <option value="COURSE_MODULE">Course Module</option>
          </select>
        </mat-form-field>

      </form>
    </div>

  </div>

  <div class="row" *ngIf="!moduleModules">
    <div class="col-md-12 course-main mrgn-tp-10 pd-tp-10" style="margin-bottom:100px">
      <form [formGroup]="imgGroup">

        <mat-form-field class="example-full-width mrgn-2-per" appearance="outline">
          <mat-label>Heading</mat-label>
          <input matInput placeholder="" formControlName="imgCtrl1" required>
        </mat-form-field>

        <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
          <mat-label>Status</mat-label>
          <select matNativeControl formControlName="imgCtrl2" required>
            <option value="ACTIVE">ACTIVE</option>
            <option value="BLOCKED">BLOCKED</option>
            <option value="UNDER_REVIEW">UNDER_REVIEW</option>
            <option value="NON_ACTIVE">NON_ACTIVE</option>
            <option value="INITIATED">INITIATED</option>

          </select>
        </mat-form-field>

        <div class="quart-width " style="display:inline">

     <!---      <button *ngIf="edit" mat-raised-button color="primary" (click)="clickUpload()">Module Image</button> -->
          <input #upload type='file' name="file" accept="image/*" style="display:none" />
        </div>

        <div *ngIf="modulePic" style="float: right;">
          <img [src]="modulePic" alt="" width="60" height="60">
        </div>
      
     <div class="row" style="padding:15px">
        <div class="col-md-12" style="border:1px solid grey;padding-bottom:7px">
          <div class="row">
            <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Content(if
              any)</h4>

          </div>
          <div class="row">
            <div class="col-md-6">
            
   
              
            

            </div>

            <div class="col-md-6" *ngIf = "!edit && video">
              <h5 style="text-align:center">External Videos</h5>
              <img width="348"  class=" cursor" *ngIf="!showExt" (click)="showExt = !showExt" height="180" [src]="video.default_thumbnail_url?video.default_thumbnail_url:video.medium_thumbnail_url">
              <iframe  *ngIf="showExt" frameborder="0" allowfullscreen="1" title="YouTube video player"
                width="348" height="180" [src]="video.video_url |safe"></iframe>
            </div>

           <div class="col-md-6" *ngIf = "edit">
            <form [formGroup]="extData">
              <mat-form-field class="course-full-width mrgn-2-per" appearance="outline">
                <mat-label>External Video Links</mat-label>
                <input matInput placeholder="" value="" formControlName="extDataCtrl1">
              </mat-form-field>
             </form>
           </div>
          </div>
        </div>
      </div>

      <form [formGroup]="detailGroup" style="border:1px solid grey">
        <div class="row">
          <div class="col-md-12">
            <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Details</h4>

          </div>
        </div>
        <mat-form-field class="quart-width mrgn-2-per" style="margin-left:10px" appearance="outline">
          <mat-label>Category</mat-label>
          <input matInput placeholder="" formControlName="detailCtrl1" required>
        </mat-form-field>

        <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
          <mat-label>Is Educational</mat-label>
          <select matNativeControl formControlName="detailCtrl2" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </mat-form-field>

        <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
          <mat-label>Language</mat-label>
          <select matNativeControl formControlName="detailCtrl3" required>
            <option value="Hindi">Hindi</option>
            <option value="English">English</option>
            <option value="Urdu">Urdu</option>
          </select>
        </mat-form-field>

      </form>

      <form [formGroup]="courseGroup" style="border:1px solid grey;margin-top: 15px">
        <div class="row">
          <div class="col-md-12">
            <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Module
              For</h4>

          </div>
        </div>
        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
          <mat-label>Course</mat-label>
          <input matInput placeholder="" formControlName="courseCtrl1" required>
        </mat-form-field>

        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
          <mat-label>Stream</mat-label>
          <input matInput placeholder="" formControlName="courseCtrl2" required>
        </mat-form-field>

        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
          <mat-label>Class</mat-label>
          <input matInput placeholder="" formControlName="courseCtrl3" required>
        </mat-form-field>

        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
          <mat-label>Sub-Class</mat-label>
          <input matInput placeholder="" formControlName="courseCtrl4" required>
        </mat-form-field>

        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline" >
          <mat-label>Subject</mat-label>
          <input matInput placeholder="" formControlName="courseCtrl5" required>
        </mat-form-field>

        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
          <mat-label>Chapter</mat-label>
          <input matInput placeholder="" formControlName="courseCtrl6" required>
        </mat-form-field>

        <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
          <mat-label>Concept</mat-label>
          <input matInput placeholder="" formControlName="courseCtrl7" required>
        </mat-form-field>
</form>


    

      <form [formGroup]="descGroup" style="margin-top: 15px">

        <mat-form-field class="course-full-width" appearance="outline">
          <mat-label>Module Description</mat-label>
          <textarea matInput formControlName="descCtrl1"></textarea>
        </mat-form-field>
      <!-- Module List-->
    <hr>
<ng-container>
     <h3>Sub Modules List</h3>
     <div *ngIf="arrOfSubModules">
       <ul>
         <li *ngFor="let i of arrOfSubModules">
           
            <a (click)="SubmoduleView(i)">{{i.module_name}}</a> 
             <span *ngIf=""></span> 
             <ul *ngFor="let j of i">
              <a (click)="SubmoduleView(j)">{{j.module_name}}</a>  
            </ul>
         </li>
       </ul>
     </div>

     <hr> 
     <app-sub-module-view *ngIf="SubmoduleShow" [module]="curSubModule"></app-sub-module-view>
   
</ng-container>   
    </form>
    </form>
</div>
</div>
</div>