<body class="about-us">
  <noscript>
      <iframe src="http://www.googletagmanager.com/ns.html?id=GTM-TB9ZRN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <header class="reverse">









    <nav id="main-nav" class="clearfix">
        <div id="main-nav-div-holder">
            <a id="main-nav-logo-holder" href="index.html">
                <img class="home-nav" src="assets/images/scholars_logo.png" />
            </a>

            <div id="menu-wrapper" class="clearfix reverse-float-right">

                <ul>
                    <li (click)="navigateToPages('main')">


                        <a>Home</a>

                    </li>
                    <li (click)="navigateToPages('about-us')">


                        <a>About Us</a>

                    </li>



                    <li>

                        <a (click)="navigateToPages('company')">
                            Company

                        </a>



                    </li>

                    <li>

                        <a (click)="navigateToPages('product')">
                            Product
                        </a>


                    </li>
                    <li>

                        <a (click)="navigateToPages('platform')">
                            Platform
                        </a>
                    </li>
                    <li (click)="navigateToPages('login')">

                        <a>
                            Log in
                        </a>
                    </li>

                </ul>


            </div>
        </div>
    </nav>
    <nav class="active mrgn_tp" *ngIf="showNavbar==true">

           <span class="close" (click)=' closemenuoptions()'>&times;</span>

        <ul>
            <li (click)="navigateToPages('main')">


                <a>Home</a>

            </li>
            <li (click)="navigateToPages('about-us')">


                <a>About Us</a>

            </li>



            <li>

                <a (click)="navigateToPages('company')">
                    Company

                </a>



            </li>

            <li>

                <a (click)="navigateToPages('product')">
                    Product
                </a>


            </li>
            <li>

                <a (click)="navigateToPages('platform')">
                    Platform
                </a>
            </li>
            <li (click)="navigateToPages('login')">

                <a>
                    Log in
                </a>
            </li>

        </ul>

       
    </nav>
    <!--nav end-->
    <div id="topmostnav"  class="menu-btn midnight-blue mrgn_top ">




        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-xs-9">
                    <a id="main-nav-logo-holder" href="index.html">
                        <img class="home-nav" src="assets/images/scholars_logo.png" />
                    </a>


                </div>
                <div class="col-sm-3 col-xs-3">
                <a (click)="menuClicked(showNavbar)">
                    <i class="fa fa-bars"></i>
                </a>
                 </div>
            </div>
        </div>





    </div>
    <!--menu-btn end-->



</header>

  <div>
        <div id="herosec" class="img-responsive myclass">
            </div>

        <section id="about-us">
                
                    <div class="row">
                        <div class="col-md-9 col-xs-12">
                                <img class="img-fluid" src="assets/external/images/about-img.png" alt="">
                            
                        </div>
                    
                           <div class="col-md-3 col-xs-12 mrgn_tp"> 
                                <h2>Who we are</h2>
                                <p style="color:black">Photographs are a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the flashy array of photo printers which seemingly leap off the shelves at even the least tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today’s day and age.</p>
                            
                        </div>
                    </div>
                
            </section>
        
        
      
            
            <section id="team-area">
                <div class="container">
                    <div class="center fadeInDown" style="text-align: center">
                        <h2>Our Team</h2>
                        <p class="lead" style="color:black">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 single-team">
                            <div class="inner">
                                <div class="team-img">
                                    <img src="assets/external/images/team1.png" alt="">
                                </div>
                                <div class="team-content">
                                    <h4>Jeffery Poole</h4>
                                    <span class="desg">UI/UX Designer</span>
                                    <div class="team-social">
                                        <a class="fa fa-facebook" href="#"></a>
                                        <a class="fa fa-twitter" href="#"></a>
                                        <a class="fa fa-linkedin" href="#"></a>
                                        <a class="fa fa-pinterest" href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 single-team">
                            <div class="inner">
                                <div class="team-img">
                                    <img src="assets/external/images/team2.png" alt="">
                                </div>
                                <div class="team-content">
                                    <h4>Isabelle Dean</h4>
                                    <span class="desg">UI/UX Designer</span>
                                    <div class="team-social">
                                        <a class="fa fa-facebook" href="#"></a>
                                        <a class="fa fa-twitter" href="#"></a>
                                        <a class="fa fa-linkedin" href="#"></a>
                                        <a class="fa fa-pinterest" href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 single-team">
                            <div class="inner">
                                <div class="team-img">
                                    <img src="assets/external/images/team3.png" alt="">
                                </div>
                                <div class="team-content">
                                    <h4>Mike Kennedy</h4>
                                    <span class="desg">UI/UX Designer</span>
                                    <div class="team-social">
                                        <a class="fa fa-facebook" href="#"></a>
                                        <a class="fa fa-twitter" href="#"></a>
                                        <a class="fa fa-linkedin" href="#"></a>
                                        <a class="fa fa-pinterest" href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 single-team">
                            <div class="inner">
                                <div class="team-img">
                                    <img src="assets/external/images/team4.png" alt="">
                                </div>
                                <div class="team-content">
                                    <h4>Edwin Gross</h4>
                                    <span class="desg">UI/UX Designer</span>
                                    <div class="team-social">
                                        <a class="fa fa-facebook" href="#"></a>
                                        <a class="fa fa-twitter" href="#"></a>
                                        <a class="fa fa-linkedin" href="#"></a>
                                        <a class="fa fa-pinterest" href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 single-team">
                            <div class="inner">
                                <div class="team-img">
                                    <img src="assets/external/images/team5.png" alt="">
                                </div>
                                <div class="team-content">
                                    <h4>Mable Schwartz</h4>
                                    <span class="desg">UI/UX Designer</span>
                                    <div class="team-social">
                                        <a class="fa fa-facebook" href="#"></a>
                                        <a class="fa fa-twitter" href="#"></a>
                                        <a class="fa fa-linkedin" href="#"></a>
                                        <a class="fa fa-pinterest" href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 single-team">
                            <div class="inner">
                                <div class="team-img">
                                    <img src="assets/external/images/team6.png" alt="">
                                </div>
                                <div class="team-content">
                                    <h4>Adele Washington</h4>
                                    <span class="desg">UI/UX Designer</span>
                                    <div class="team-social">
                                        <a class="fa fa-facebook" href="#"></a>
                                        <a class="fa fa-twitter" href="#"></a>
                                        <a class="fa fa-linkedin" href="#"></a>
                                        <a class="fa fa-pinterest" href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
        
            <div class="contact_Us" [class.move-contact]="showContactUs">
                <button class="openbtn" (click)='showContactUs = !showContactUs'>
                    <ul>
                        <li> C</li>
                        <li> O</li>
                        <li>N </li>
                        <li> T</li>
                        <li> A</li>
                        <li> C</li>
                        <li> T</li><br>
                        <li> U</li>
                        <li> S</li>
                    </ul>
                </button>
    
            </div>
    
  </div>

  <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2019<a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Scholarsbook</a>. All Rights Reserved.
                </div>
                <!-- <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </footer>

    <div class="container_contact">





        <div id="mySidebar" class=" container_contact sidebar" [class.show-contact]="showContactUs">
            
            <div style="text-align:center">
                <h2>Contact Us</h2>

            </div>
            <div class="row_contact">

                <div class="">
                    <form action="/action_page.php">
                        <label for="fname" class="col-md-12 col-xs-12 ">First Name *</label>
                        <input type="text" class="col-md-12 col-xs-12 " id="fname" name="firstname" placeholder="Your name..">
                        <label for="lname" class="col-md-12 col-xs-12 ">Last Name *</label>
                        <input type="text" class="col-md-12 col-xs-12 " id="lname" name="lastname" placeholder="Your last name..">
                        <label for="fname" class="col-md-12 col-xs-12 ">Email *</label>
                        <input type="text" class="col-md-12 col-xs-12 " id="fname" name="firstname" placeholder="Your email">
                        <label for="fname " class="col-md-12 col-xs-12 ">Company *</label>
                        <input type="text" class="col-md-12 col-xs-12 " id="fname" name="firstname" placeholder="Current Company">

                        <label for="country" class="col-md-12 col-xs-12 ">Country</label>
                        <select id="country " class="col-md-12 col-xs-12 " name="country">
                            <option value="australia">Australia</option>
                            <option value="canada">Canada</option>
                            <option value="usa">USA</option>
                        </select>

                        <label for="subject" class="col-md-12 col-xs-12 ">Subject</label>
                        <textarea id="subject" class="col-md-12 col-xs-12 " name="subject" placeholder="Write something.."
                            style="height:170px"></textarea>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>