.see-more {
    color: #676792;
    cursor: pointer;
}

.see-more:hover {
    text-decoration: underline
}


.video-container {
    margin-top: 10px;
    float: left;
    padding: 5px 10px;
    text-align: center;
}

.fullwidth {
    width: 100%;
    height: 200px
}

.halfwidth {
    width: 48%;
    height: 200px
}

.com-status-bar {
    float: left;
    width: 100%;
    padding: 4px 10px;
}

.l-c-s {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
}

.post-l-c-s {
    cursor: pointer;
}

.lcs-opt {
    cursor: pointer;
    color: initial
}

a.like-opt {
    color: #337ab7;
}

.lcs-opt:hover {
    text-decoration: none
}

.lcs-post {
    list-style-type: none;
    padding-top: 5px;
    margin-bottom: 0px
}

.lcs-post li {
    display: inline-block;
    margin-right: 18%;
    vertical-align: 5px
}

.pdf {
    position: relative;
    width: 60px;
    height: 76px;
    cursor: pointer;
    border: 1px solid #fff;
}

.pdf-pre {
    position: relative;
    width: 100%;
    cursor: pointer;
    border: 1px solid #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 40px;
    background-color: #477dd0;
    color: #fff;
    border-radius: 20px;
    text-align: center;
}

.pdf-pre h5 {
    font-size: 40px
}

.pdf-size {
    position: absolute;
    top: 10%;
    left: 7px;
    color: cornflowerblue
}

.pdf-btn-container {
    width: 100%;
    text-align: center;
    background-color: #474747
}

.view-pdf {
    float: left;
    width: 100%;
    padding: 0 6px 0px 20px;
}

.com-box {
    width: 100%;
    border: 3px solid #d9dce0;
    padding: 7px;
    height: auto;
    border-radius: 10px;
}

.friend_list {
    width: 200px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}

.friend_list ul li {
    padding: 10px 5px;
}

.friend_list ul {
    padding-left: 0;
}

.mrgn-left-5 {
    margin-left: 5px
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text)
}

.rel {
    position: relative;
}

.share {
    background-color: #f5f5f5;
    padding: 10px 15px 10px 10px;
    color: #006cb5;
    font-size: larger;
    font-weight: bold;
    border-left: 10px solid #006cb5;
    font-family: unset;
    text-transform: capitalize;
}


/* dheeraj css */

.icon_post_show {
    position: relative;
    top: -7px;
    left: 10px;
    color: #8c8c8c !important;
    font-size: unset;
    font-weight: bold;
}

.icon_post_like {
    position: relative;
    top: -4px;
    left: 10px;
    color: #8c8c8c !important;
    font-size: unset;
    font-weight: bold;
}

.pd_liked_sec {
    padding: 0px 20px;
    position: relative;
}

.outline_remove {
    outline: unset;
}

.job_descp {
    float: left;
    width: 100%;
    padding: 0;
    padding: 0px 20px 0px 20px;
    border-bottom: unset;
}

.post-title {
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    font-weight: bold;
    color: #006cb5;
    text-transform: capitalize;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

.right_like_share li a {
    float: unset;
}

.cursor {
    cursor: pointer
}

.like-seg:hover {
    cursor: pointer !important;
    text-decoration: underline !important;
    color: blue
}

.rel {
    position: relative
}

.user-list {
    position: absolute;
    color: #fff;
    background-color: #7986be;
    visibility: hidden;
    z-index: 2;
    background-color: #3e4c87;
    border-radius: 5px;
}

.user-list.show-list {
    visibility: visible;
}

.mrgn-rt-5 {
    margin-right: 2%
}

.max {
    position: fixed;
    z-index: 10003;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.fl-left {
    float: left;
}

.pdf-preview {
    float: left;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}

.w-100 {
    width: 100%;
}

.mrgn-tp-20 {
    margin-top: 10px
}

.btn-relative {
    top: -5px;
    left: 0px;
    position: relative;
}

.md-inactive {
    color: #a5a5a5 !important;
    font-size: 30px !important;
}

.tooltip1 .tooltiptext {
    display: none;
    height: auto;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    /* Position the tooltip */
    z-index: 80;
    position: absolute;
    top: -50px;
}

.grp_nm {
    max-width: 100%;
}

.tooltip1:hover .tooltiptext {
    visibility: visible;
    display: block;
}

.tooltip1 {
    cursor: pointer;
}

.tooltip2 .tooltiptexttwo {
    display: none;
    max-width: 150px;
    min-width: 100px;
    height: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    z-index: 80;
    position: absolute;
    top: -70px;
}

.tooltip2:hover .tooltiptexttwo {
    visibility: visible;
    display: block;
}

.tooltip2 {
    cursor: pointer;
}

.like-com li span {
    background-color: black;
    /* line-height: 30px; */
    border-radius: 5px;
    float: left;
    text-align: center;
    /* margin-left: -25px; */
}

.modal {
    position: fixed;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
}

.pdf-canvas {
    width: 100%;
    height: 200px;
}

.fs-20 {
    font-size: 20px
}

.pic-plus {
    position:relative;
    top:-35px;
    left: -53px;
    color: #fff;
    background-color: #979494;
    border-radius: 20px;
    padding: 3px;
}

.extra-content {
    float:left;   
    width: 100%;
    
}
.ta-cent {
       text-align: center;
}

.fs-24 {
    font-size: 24px;
    font-weight: 600
}