<div class="example-small-box mat-elevation-z4" *ngIf="requestresult?.user_full_text_name">
    <div class="avatar"><img class="img-circle" [src]="profilePic ? profilePic : 'https://www.w3schools.com/howto/img_avatar.png'" width="40" height="40" alt=""></div>
    <div class="col-md-7 text-left">
        <div class="nm_request" *ngIf="requestresult"><a class="cursor" (click)='seeFriendProfile(requestresult_user_id)'>{{requestresult?.user_full_text_name}}</a></div>
        <p class="data_req" *ngIf="activeUserEducationalData">{{activeUserEducationalData?.institution_id}}</p>
        <p class="data_req" *ngIf="activeUserPersonalData">{{city}}</p>
    </div>

    <div class="col-md-3 pad_0">
        <!-- <button #acceptrequest type="buttton" class="btn-on-small req_btn btn btn-success " title="accept" (click)="accecptFriendRequest()"><i class="material-icons">check_circle</i></button>&nbsp;&nbsp;
        <span class="black" *ngIf="acceptuserrequest==true">
            Request Accepted
        </span> -->
        <button #deleterequest type="buttton" class=" btn-on-small req_btn btn btn-primary " title="remove" (click)="deleteFriendRequest()"><i class="material-icons">delete</i></button>
        <span class="black" *ngIf="deleteuserrequest==true">
               Deleted
        </span>

    </div>
</div>