<main class=" mrgn_tp_60">
    <div class="main-section mrgn-tp-42">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
<mat-card class ="bg-grey col-md-12" style="width: 600px;">
<mat-card-header>
<h2 style="text-align: center"> Forum Posts </h2>
</mat-card-header>
<mat-card-content>
  <app-create-forum_post *ngIf="allUserData.length" [edit]="false" [friends]="allUserData" [idPassedFromParams]="idPassedFromParams"
  (emitForumPost)="getcreatedForumPost($event)"></app-create-forum_post> 
<div *ngIf="!forumAllPosts.length" class="loader">
  <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
  <span>Loading...Please Wait</span>
</div>
<div class="alert alert-info alert-dismissible post-noti" *ngIf="newForumPostCreated">
  <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Congrats!</strong> Post created successfully.You will be able to see it after
  review.
</div>
<div *ngIf="forumAllPosts.length" class="col-md-12 posts-section search-results"
  infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="50" (scrolled)="onScroll($event)">
  <!-- allUserData.length -->


  <div *ngFor="let singleForumPost of forumAllPosts; index as i" class=" col-md-12 post-bar">

      <app-forum_post [singleForumPost]="singleForumPost" [friendData]="allUserData" (editPost)="editPost($event)"
          (emitShared)="includeShared($event)"></app-forum_post>

  </div>

</div>

<div *ngIf="noMoreForumPosts" class="no-more">
  <h3>No More Forum Posts</h3>
</div>
</mat-card-content>
</mat-card>
</div>
</div>
</div>
</div>
</div>
</main>
