
 <button type="button" class="close" aria-label="Close" (click)="closeModal()">
  <span aria-hidden="true" (click)="closeModal()">&times;</span>
</button>
<h2>Create your group</h2>
<form>
   
  <fieldset>

    <div class="row">
      <div class="col-lg-12 col-md-6">
        <div class="form-group">
          <label >Your Group Name</label>
          <input type="text" class="form-control" name="groupName" [(ngModel)]="groupName">
        </div>
      </div>



    </div>
    <div class="row">
      <div class="col-lg-12 col-md-6">
        <div class="form-group">
          <label >Group tag Name</label>
          <input type="text" class="form-control" name="tagName" [(ngModel)]="tagName" >
      </div>
</div>

    </div>
    <div class="row">
      <div class="col-lg-12 col-md-6">
        <div class="form-group">
          <label for="people">Add Some People</label>
          <angular2-multiselect [data]="dropdownList"  name="selectedItems"
                      [(ngModel)]="selectedItems" 
                      [settings]="dropdownSettings" 
                      (onSelect)="onItemSelect($event)"
                      (onDeSelect)="OnItemDeSelect($event)" 
                      (onSelectAll)="onSelectAll($event)" 
                      (onDeSelectAll)="onDeSelectAll($event)">
                      <c-item>
                        <ng-template let-item="item">
                          <label style="color: #333;min-width: 150px;">{{item.itemName}}</label>
                          <img [src]="item.image" class="custom" />
         
                        </ng-template>
                </c-item>    
</angular2-multiselect>
          <!-- <input type="text" name="friendName" [(ngModel)]="friendName" (keyup)="searchFriend(friendName)" placeholder="enter friends name"
            (keydown)=keyDown($event) autocomplete="off" class="form-control" id="people" multiple> -->
        </div>
        <!-- <div *ngIf="selectpeople==true" class="srch_result_overlay">
          <div class="row showhover" (mouseover)="mouseover=true;" (mouseout)="mouseover=false" [class.activetwo]="i==arrowkeyLocation && !mouseover"
            *ngFor="let friend of results;let i of index" (click)="onselectFriend(friend)">
            <div class="img_siz">
              <img src="assets/images/friend.jpg" alt="">
            </div>
            <div>
              <span>
                <strong>
                  {{friend}} </strong>
              </span>
            </div>
          </div>

        </div> -->
      </div> 

      
    </div>

  </fieldset>
</form>

 <button type="submit" class="btn btn-primary" (click)="validate()">Create</button>&nbsp;&nbsp;

