.footer{

    float:bottom;
    margin-bottom: auto;
}
.img_siz img{

    height: 50px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
   
}
.activetwo{
 	
    position: relative;
    width:100%;
}

.activetwo:hover{
    background-color: blue;	
    position: relative;
    width:100%;
    box-shadow: 0 0 10px 100px #DCDCDC inset;
}
.srch_result_overlay{

    z-index: 1;
    background: white;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    box-shadow: 0px 0px 4px 0px rgb(77, 73, 73);
   
  
}
.showhover:hover {
background-color: #3B5998;

}
 li:hover {
  	
    box-shadow: 0 0 10px 100px #DCDCDC inset;
}
.custom{
width: 60px; 
border: 2px solid #fff;
margin-right: 20px;
}