
 <div class="container-fluid">
<mat-card class="mat-elevation-z6">
  
      
  <h1>{{this.forum.forum_name}} Forum Requests</h1>
  <div>
    <span class="black" *ngIf="acceptuserrequest==true">
      Request Accepted
  </span>
  </div>
    <div *ngFor=" let r of d ">
      <div *ngIf="r">  
        <mat-card class="mat-elevation-z4">
    <div class="people-row unset_thing grid-border" *ngIf="r.user_full_text_name">
        <div class="row mrgn_0">
            <div class="col-md-2" style="padding-right:0">
                <div class="noty-user-img">
                    <img class="img-circle" [src]="r.profilePic ? profilePic : 'assets/images/male.jpg'" width="40" height="40" alt="">
                </div>
            </div>
            <div class="col-md-5 text-left" style="padding-right:0;padding-left: 0">
                <div class="nm_request"><a class="link" (click)='seeFriendProfile(r.requestresult.user_id)'>{{r.user_full_text_name}}</a></div>
                <p class="data_req" *ngIf="r.activeUserEducationalData?.institution_id">{{activeUserEducationalData.institution_id}}</p>
                <p class="data_req" *ngIf="r.activeUserPersonalData?.address_id">{{city}}</p>
            </div>

            <div>
       <div>
            <div class="col-md-5 pad_0 pad_tp_6">
                <button #acceptrequest type="buttton" style="margin-right:1px" class="btn-on-small req_btn btn btn-relative" title="accept request" (click)="accecptForumRequest(r.user_id)"><i class="material-icons" style="color:green">check_circle </i>&nbsp;&nbsp;</button>
               
                <button #deleterequest type="buttton" style="margin-right:1px" class=" btn-on-small req_btn btn btn-relative " title="delete request" (click)="deleteForumRequest(r.user_id)"><i class="material-icons" style="color:red">delete</i> &nbsp;&nbsp;</button>
              
            </div>
          </div>
          </div>

      
        </div>
    
    </div>
    </mat-card>
  </div>
  
  </div>
  </mat-card>
</div>
<div class="container-fluid">
   
<mat-card class=" bg-grey mat-elevation-z8">
  <div class="col-md-12">
    
    <h1 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;margin-right: 180px;height: 71px;">{{this.forum.forum_name}}</h1>
  </div>
    <div class="row mrgn-bt-10 mrgn-tp-100" *ngIf="!readable " >
      <div class="col-md-12">
        <button mat-raised-button color="primary" style="margin-right:10px" (click)="editforum()">Edit</button>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12" *ngIf="coUpdated">
          <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong> Congrats!</strong> Forum Updated Successfully.
          </div>
        </div>
      </div>
    </div>
   
    <div class="row" *ngIf = "!readable ">
        <div class="col-md-12 pd-tp-10">
          <!--BASIC GROUP-->
          <form [formGroup]="basicGroup">
            <mat-form-field *ngIf="forum_name"class="example-full-width mrgn-2-per" appearance="outline">
              <mat-label>forum Name</mat-label>
              <input matInput placeholder="" value={{this.forum.forum_name}} formControlName="basicCtrl" required>
            </mat-form-field>
            <mat-form-field *ngIf="custom_tag_line" class="example-full-width mrgn-2-per" appearance="outline">
                <mat-label>Custom Tag Line</mat-label>
                <input matInput placeholder="" value={{this.forum.forum_type_id}} formControlName="basicCtrl2" required>
              </mat-form-field>
          </form>

          <!-- IMG GROUP-->
              <form [formGroup]="imgGroup">
              <mat-form-field class="example-full-width mrgn-2-per" appearance="outline">
                <mat-label>Enabled For Groups</mat-label>
                <input matInput placeholder="" value={{this.forum.heading}} formControlName="imgCtrl1" required>
              </mat-form-field>
              <mat-form-field *ngIf="forum_type" class="quart-width mrgn-2-per" appearance="outline">
                <mat-label>forum_type</mat-label>
                <select matNativeControl value={{this.forum.forum_type_id}} formControlName="basicCtrl2" required>
                  <option value="PRIVATE">PRIVATE</option>
                  <option value="PUBLIC">PUBLIC</option>
                 </select>
              </mat-form-field>
              <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
                <mat-label>Status</mat-label>
                <select matNativeControl value="" formControlName="imgCtrl2" required>
                  <option value="ACTIVE">OPEN</option>
                  <option value="BLOCKED">CLOSED</option>
                  <option value="NON_ACTIVE">UNACTIVATED</option>
                  <option value="INITIATED">ACTIVATED</option>
      
                </select>
              </mat-form-field>
              </form>


              <div class="quart-width " style="display:inline">

                <button *ngIf="edit" mat-raised-button color="primary">Forum Image</button>
                <input #upload type='file' name="file" accept="image/*" style="display:none" />
              </div>
             
              <div *ngIf="this.forumPic" style="float: right;">
                <img [src]="this.forumPic" alt="" width="60" height="60">
              </div>
              
              
              <form [formGroup]="descGroup" style="margin-top: 15px">

                <mat-form-field *ngIf="forum_description" class="course-full-width" appearance="outline">
                  <mat-label>Forum Description</mat-label>
                  <textarea matInput placeholder="" value="" formControlName="descCtrl1"></textarea>
                </mat-form-field>
                <button mat-raised-button color="primary" style="margin-right:10px" (click)="ViewForumPosts()"style="display:none;"> ViewForumPosts</button>
                </form>
               
                
                
                <div class="mrgn_tp_60">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                                  
                <app-forum_post-view [forumId]="forumId">
            </app-forum_post-view>
        </div>
        </div>
      </div>
        
     
            

      
          </div>
              
              <div *ngIf="edit">
                <button mat-raised-button color="primary" style="margin-right:10px" (click)="updateforum()">Update</button>
        
                <button mat-raised-button>Reset</button>

              </div>
               
           
                 
           
        
        

        </div>
      </mat-card>     
        </div>
        