.group-section {
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding-left: 30px;
    box-shadow: 0px 0px 5px 1px grey;
}

.mrgn-lt-30 {
    margin-left: 30px;
}

.mrgn-lt-20 {
    margin-left: 20px;
}

.group-head {
    display: inline-block;
}

.group-add {
    margin-top: 5px;
    margin-right: 10px;
}

.main-section {
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    padding: 24px;
    background-color: #fff;
    box-shadow: 1px 1px 28px 4px #c5c5c5;
}

.main_section_group {
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    padding: 8px;
    background-color: #fff;
    box-shadow: 1px 1px 28px 4px #c5c5c5;
    margin-right: 16px;
}

.mrgn-rt-20 {
    margin-right: 20px;
}

.mrgn-auto {
    margin: auto;
}

.dash-card {
    border: 1px solid cyan;
    border-radius: 10px;
}

.second-row {
    margin-top: 100px;
}

.bg-1 {
    background-color: hsl(0, 100%, 75%);
}

.bg-2 {
    background-color: hsl(0, 100%, 90%);
}

.bg-3 {
    background-color: rgb(0, 143, 136);
}

.bg-4 {
    background-color: rgb(167, 160, 54);
}

.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.member_area {
    margin-top: 10px;
}

.center-text {
    padding-top: 30px;
    padding-bottom: 30px
}

.member-check {
    margin-left: 40px
}

.mytree {
    font-size: 20px;
    font-weight: bold;
}

.level {
    color: black;
    padding: 2px 10px;
    border-radius: 5px;
    display: inline-block;
    width: 100%
}

.level i {
    display: none
}

.level mat-icon {
    display: none
}

.tag {
    color: black;
    padding: 2px 10px;
    border-radius: 5px;
    display: inline-block;
    width: 100%
}

.tag i {
    display: none
}

.tag mat-icon {
    display: none
}

.node-div {
    width: 100%
}

.co-upper {
    padding: 5px 0;
}

.company_profile_info a {
    padding: 4px 0;
    font-size: 12px;
    font-weight: bold;
    color: white
}

.user-name {
    margin-top: 2px;
    color: white
}

.co-pr-info {
    position: relative;
    border-radius: 5px;
    background-color: #4267b2;
    box-shadow: 0px 0px 9px 1px grey;
    color: white
}

.company-up-info {
    border-bottom: 0;
}

.options {
    color: violet;
    bottom: 0;
    top: unset;
    right: 10%;
    width: 90%;
    border-radius: 5px;
    opacity: 0.9
}

.option-list {
    padding: 0
}

.co-upper img {
    width: unset;
    height: unset;
}

.pro-check {
    position: absolute;
    top: 0;
    right: 0
}

.admin-wrapper {
    background-color: #fff;
    padding-right: 90px;
    padding-left: 24px;
    padding-bottom: 24px;
}

.mrgn-tp-30 {
    margin-top: 30px
}

.group-image {
    width: 100%
}

.mrlt-10 {
    margin-left: 10px
}

.mrgn-tp-20 {
    margin-top: 20px
}

table {
    width: 100%;
}

table,
tr,
thead,
th,
td {
    vertical-align: middle !important;
}

.display {
    display: block
}

.no-display {
    display: none
}

.mrgn-tp-47 {
    margin-top: 4px
}

.header {
    padding: 5px;
}

.mrgn-rt-10 {
    margin-right: 10px
}

.cur-poi {
    cursor: pointer
}

.mrgn-rt-3 {
    margin-right: 3px
}


/*toggle button*/

.arrow-down {
    width: 50px;
    height: 50px;
    background: #006cb5;
    position: relative;
    cursor: pointer;
    border-radius: 11px;
}

.arrow-down.active {
    background: red;
}

.arrow-down:before,
.arrow-down:after {
    content: "";
    display: block;
    width: 20px;
    height: 5px;
    background: white;
    position: absolute;
    top: 20px;
    transition: transform .5s;
}

.arrow-down:before {
    right: 21px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: rotate(45deg);
}

.arrow-down:after {
    right: 10px;
    transform: rotate(-45deg);
}

.arrow-down.active:before {
    transform: rotate(-45deg);
}

.arrow-down.active:after {
    transform: rotate(45deg);
}

.arrow-down .tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.arrow-down .tooltiptext2 {
    visibility: hidden;
}

.arrow-down:hover .tooltiptext1 {
    visibility: visible;
}

.arrow-down.active .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.arrow-down.active .tooltiptext1 {
    visibility: hidden
}

.arrow-down.active:hover .tooltiptext2 {
    visibility: visible;
}


/*end toggle button*/

.group-form {
    min-width: 150px;
    width: 100%;
}

.group-full-width {
    width: 100%;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.groupname {
    color: #006cb5;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.adduser {
    color: #a65ca4;
}
/* by dheeraj css */
.mrgn_tp_20{
    margin-top:20px;
}
.group_list .cur-poi {
    border: 1px solid #50b7e8;
    padding: 10px;
    background-image: linear-gradient(#5eabec, #50b7e8);
    color: #fff;
    box-shadow: 0px 0px 3px 0px #50b7e8;
    font-size: 16px;
    text-transform: capitalize;
}
.headadmin {
    color: #5eabec;
    font-weight: bold;
}
.btn_clr_blue{
    background-color: #5eabec !important;
    border-color:1px solid #5eabec  !important;
}
.mrgn_0_tot{
margin-left:0px;
margin-right:0px;
}
.center{
    text-align:center !important;
    padding-left:0px !important;
}
.mat-cell{
    text-align:center !important;
    padding-left:0px !important;
}
.mat-form-field-label-wrapper{
    text-align:center;
}
.pad_tp_20{
    padding-top:20px;
}
/* //added by lav */
.cur_poi_selected{
    border: 1px solid #45da45;
    padding: 10px;
    background-image: linear-gradient(#17b917, #41b341);
    color: #fff;
    box-shadow: 0px 0px 3px 0px #ffffff;
    font-size: 16px;
    text-transform: capitalize;

}

.tag-form {
    
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
}

.mrgn-rt-3 {
    margin-right: 3px
}

.add-user {
    font-size: 25px;
    margin-right: 7px;
}

.alert-succes  {
    color: #fff;
    background-color: #636588;
    border-color: #3f434c;
}

.green-text {
    color: green !important;
    font-weight: 600;
}

.red-text {
    color: red !important;
    font-weight: 600;
}