<div class="container">
    <!--remove class  admin-wrapper also container-fluid-->

    <div class="row mrgn_tp_20" *ngIf="CLIENT_ADMIN_LIST.length">
        <!-- remove class main_section_group -->
        <div class="col-lg-12">
            <div *ngIf="success" class="alert alert-dismissible alert-success">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Well done!</strong> Group Created Successfully.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4 class="adduser headadmin">Create New Group</h4>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-sm btn_clr_blue btn-primary" title="Create Group" (click)="formvisible = !formvisible"><i
                            class="glyphicon glyphicon-plus" *ngIf="!formvisible"></i><i class="glyphicon glyphicon-minus"
                            *ngIf="formvisible"></i></button>
                </div>
            </div>
            <form #groupForm="ngForm" class="group-form" *ngIf="formvisible">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" placeholder="Group Name" name="group_name" [(ngModel)]="group_name"
                                required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" placeholder="Custom Tag Line" name="custom_tag_line"
                                [(ngModel)]="custom_tag_line" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Group Image</label>
                            <input #groupimage type="file" name="group-avatar" accept="image/png, image/jpeg" (change)="curGrpImage = null; file = groupimage.files[0]">

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Comment" name="comments" [(ngModel)]="comments"
                                required></textarea>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary btn_clr_blue" type="button" [disabled]="!groupForm.form.valid"
                            (click)="createGroup();groupForm.reset(); success = !success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" *ngIf="CLIENT_ADMIN_LIST.length || GROUP_ADMIN_LIST.length">
        <div class="col-lg-12">
            <h4 class="group-head adduser headadmin">Groups You Manage</h4>
        </div>
        <div *ngIf="CLIENT_ADMIN_LIST.length">
            <div class="col-lg-3 col-md-3 group_list" *ngFor="let group of CLIENT_ADMIN_LIST">

                <app-admin-group-list [group]="group" (switchGroup)="switchGroup($event);notInGroup = false;"></app-admin-group-list>
            </div>
        </div>

        <div *ngIf="GROUP_ADMIN_LIST.length">
            <div class="col-lg-3 col-md-3 group_list" *ngFor="let group of GROUP_ADMIN_LIST">

                <app-admin-group-list [group]="group" (switchGroup)="switchGroup($event);notInGroup = false;"></app-admin-group-list>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <h4 class="group-head adduser headadmin">Create Roles</h4>
        </div>

        <div class="col-md-12">
            <div class="alert alert-dismissible alert-success" *ngIf="roleAdded">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong> Congrats!</strong> Role Added Successfully.
            </div>
        </div>

        <div class="col-lg-12">
            <form #addRoleForm="ngForm" class="group-form">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group">
                                <label>Role Name</label>
                                <input name="role_name" class="form-control" [(ngModel)]="roleName" placeholder="Role Name"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <label>Permissions</label>
                            <ng-multiselect-dropdown [placeholder]="'Select Permissions'" name="permissions" [data]="dropdownList"
                                [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-sm btn_clr_blue btn-primary" type="button" (click)="addRole()">Create
                                Role</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div *ngIf="!notInGroup" class="col-lg-12">
            <div class="row">
                <h3 class="groupname headadmin">{{groupName}}</h3>

                <div class="col-md-12">
                    <div class="alert alert-dismissible alert-success" *ngIf="userAdded">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong> Congrats!</strong> User Added Successfully.
                    </div>
                </div>

                <div class="col-md-12">

                </div>
                <div class="col-md-6">
                    <h4 class="adduser headadmin">Add New User</h4>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-sm btn_clr_blue btn-primary" title="Create Group" (click)="addUserformvisible = !addUserformvisible"><i
                            class="glyphicon glyphicon-plus" *ngIf="!addUserformvisible"></i><i class="glyphicon glyphicon-minus"
                            *ngIf="addUserformvisible"></i></button>
                </div>
                <form #addUserForm="ngForm" class="group-form" *ngIf="addUserformvisible" (ngSubmit)="addUser(addUserForm);">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input name="first_name" class="form-control" [(ngModel)]="first_name" placeholder="first name"
                                        required>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input name="last_name" class="form-control" [(ngModel)]="last_name" placeholder="last name"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input name="email" class="form-control" [(ngModel)]="email" placeholder="email"
                                        required>
                                    <!-- <input matInput name="email" [formControl]="email" placeholder="email" required> -->
                                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input name="password" class="form-control" [(ngModel)]="password" placeholder="password"
                                        [type]="hide ? 'password' : 'text'" required>


                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <div class="form-group">
                                    <label>Level</label>
                                    <select *ngIf="allLevels.length" class="form-control" name="level-select"
                                        [(ngModel)]="selectedLevel" (change)="getTagsByLevel()" required>
                                        <option value='0'>-select-</option>
                                        <option *ngFor="let level of allLevels" [value]="level.level_id">{{level.level_name}}</option>

                                    </select>

                                </div>
                            </div>

                            <div class="col-md-6 col-xs-6">
                                <div class="form-group">
                                    <label>Tag</label>
                                    <select class="form-control" name="tag-select" [(ngModel)]="selectedTag" required>
                                        <option value='0'>-select-</option>
                                        <option *ngFor="let tag of gotTags" [value]="tag.tag_id">{{tag.tag_name}}</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">


                            <div class="col-md-6 col-xs-6">
                                <div class="form-group">
                                    <label>Date of Birth</label>
                                    <input class="form-control" autocomplete="off" placeholder="Date Of Birth"
                                        bsDatepicker [bsConfig]="datePickerConfig" class="form-control" name="date_of_birth"
                                        [(bsValue)]="bsValue" (bsValueChange)="onValueChange($event)">


                                </div>
                            </div>


                            <div class="col-md-3 col-xs-3">
                                <div class="form-group">
                                    <label>mobile no</label><br>

                                    <ngx-intl-tel-input nationalMode=false autoHideDialCode=true [preferredCountries]="['in','us','gb']"
                                        placeholder="mobile no" [enablePlaceholder]="true" #phone="ngModel"
                                        [enableAutoCountrySelect]="false" name="phone" [(ngModel)]="mobile_number"></ngx-intl-tel-input>
                                    <span style="color:red" *ngIf="phone.touched && phone.errors ">
                                        enter 10 digit mobile number
                                    </span>

                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3 ">
                                <label>Gender</label><br>
                                <label class="radio-inline" *ngFor="let gender of genders">
                                    <input type="radio" name="gender" value="{{gender}}" (change)='radioChangeHandler($event)'
                                        style="color:white">{{gender}}
                                </label>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-sm btn_clr_blue btn-primary" type="submit" [disabled]="!addUserForm.form.valid">Create
                                    User</button>
                            </div>
                        </div>
                    </div>
                </form>


            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="alert alert-dismissible alert-success" *ngIf="levelAdded">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong> Congrats!</strong> level Added Successfully.
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="adduser headadmin">Add New Level</h4>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-sm btn_clr_blue btn-primary" title="Create level" (click)="addLevelformvisible  =!addLevelformvisible"><i
                            class="glyphicon glyphicon-plus" *ngIf="!addLevelformvisible"></i><i class="glyphicon glyphicon-minus"
                            *ngIf="addLevelformvisible"></i></button>
                </div>
                <form #addLevelForm="ngForm" class="group-form" *ngIf="addLevelformvisible">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <div class="form-group">
                                    <label>Level Name</label>
                                    <input name="level_name" class="form-control" [(ngModel)]="levelName" placeholder="level name"
                                        required>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="form-group">
                                    <label>Custom tag Line</label>
                                    <input name="level_tag_line" class="form-control" [(ngModel)]="levelCustomTag"
                                        placeholder="tag line" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <div class="form-group">
                                    <label>Level Type</label>
                                    <input name="level_type" class="form-control" [(ngModel)]="levelType" placeholder="type"
                                        required>
                                    <!-- <input matInput name="email" [formControl]="email" placeholder="email" required> -->
                                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="form-group">
                                    <label>Level Image</label>
                                    <input #levelimage type="file" name="avatar" accept="image/png, image/jpeg"
                                        (change)="curImage = null; file = levelimage.files[0]">
                                    <!--mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-sm btn_clr_blue btn-primary" type="button" (click)="addLevel();addLevelForm.reset();"
                                    [disabled]="!addLevelForm.form.valid">Create Level</button>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <div class="btn btn-sm btn-primary btn_clr_blue" [class.active]="expanded" (click)="toggleTree()">
                        <i class="fa fa-arrow-down" *ngIf="myvarexpand"></i><i class="fa fa-arrow-up" *ngIf="!myvarexpand"></i>
                    </div>
                </div>
            </div>

            <div class="row mrgn_0_tot mytree" *ngIf="nodes.length">

                <tree-root #tree [nodes]="nodes" [options]="options" (activate)="getUsersList($event)">



                    <ng-template #treeNodeTemplate let-node let-index="index">
                        <span class="level" *ngIf="node.data.type ==1">

                            <img [src]="node.data.image?node.data.image:'assets/images/img-avatar.png'" class="img-circle mrgn-rt-3"
                                width="30" height="30" alt=""> {{ node.data.name }}

                            <i class="glyphicon glyphicon-pencil pull-right mrlt-10" title="Edit this level"></i>
                            <i class="glyphicon glyphicon-trash pull-right mrlt-10" title="Delete this level" (click)="nodeDelete = !nodeDelete;curNode = node.data.id"></i>
                            <i class="glyphicon glyphicon-plus pull-right" title="Add tag under this level" (click)="tagForm = !tagForm;curNode = node.data.id"></i>

                            <div *ngIf="tagForm && curNode==node.data.id" class="tag-form">
                                <form class="form-horizontal" #tagForm="ngForm" (ngSubmit)="submitTag(node);tagForm.reset()">
                                    <div class="form-group">
                                        <input type="text" name="tag-name" [(ngModel)]="tagName" class="form-control"
                                            placeholder="Tag Name">
                                    </div>
                                    <div class="form-group">

                                        <input type="text" name="tag-custom" [(ngModel)]="tagCustomTag" class="form-control"
                                            placeholder="Custom Tag Line">
                                    </div>
                                    <div class="form-group">
                                        <label>Image:</label>
                                        <input #tagimage type="file" class="form-control" accept="image/png, image/jpeg"
                                            (change)="curImage = null ;file = tagimage.files[0]">
                                    </div>
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </form>
                            </div>
                            <div *ngIf="nodeDelete && curNode ==node.data.id" class="tag-form">
                                <span>Are you sure, you want to Delete this Level? All the levels & tags under this
                                    will be deleted</span>
                                <div>
                                    <button class="btn btn-danger">Yes</button> <button class="btn btn-info">No</button>
                                </div>
                            </div>
                        </span>
                        <span class="tag" *ngIf="node.data.type ==2">
                            <img [src]="node.data.image?node.data.image:'assets/images/img-avatar.png'" class="img-circle mrgn-rt-3"
                                width="30" height="30" alt=""> {{ node.data.name }}

                            <i class="glyphicon glyphicon-pencil pull-right mrlt-10"></i>
                            <i class="glyphicon glyphicon-trash pull-right mrlt-10"></i>
                            <i class="glyphicon glyphicon-plus pull-right "></i>
                            <mat-icon class="pull-right add-user">person_add</mat-icon>
                        </span>
                    </ng-template>



                </tree-root>


            </div>
            <div *ngIf="adminCreated" class="row mrgn-tp-20">
                <div class="alert alert-succes">
                    <strong>Congrats!</strong> Admin Created Successfully
                </div>
            </div>
            <div class="row mrgn-tp-20">
                <div class="col-md-12">
                    <h4 class="group-head headadmin">Members</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="ExportTOExcel()" class="pull-right btn_clr_blue">Export
                        as Pdf</button>
                    <button mat-raised-button color="primary" (click)="ExportTOExcel()" class="pull-right mrgn-rt-10 btn_clr_blue">Export
                        as Excel</button>
                    <div class="pad_tp_20" #TABLE>
                        <table #table mat-table [dataSource]="dataSource" matSort class="mytableclass">
                            <!-- remove class mat-elevation-z8  -->

                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef class="text-center center">
                                    <mat-checkbox (change)="$event ? masterToggle() : null; allRowsSelected = !allRowsSelected"
                                        [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row" class="text-center center">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="image">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center center">Profile
                                    Pic
                                    <div>
                                        <mat-form-field class="filter" floatLabel="never">
                                            <mat-label class="text-center center">Search</mat-label>
                                            <input (click)="$event.stopPropagation()" matInput [formControl]="imageFilter">
                                        </mat-form-field>
                                    </div>

                                </th>
                                <td class="text-center center" mat-cell *matCellDef="let element">
                                    <app-profile-pic [userId]="element.user_id"></app-profile-pic>
                                </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">

                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center center"> Name
                                    <div>
                                        <mat-form-field class="filter" floatLabel="never">
                                            <mat-label>Search</mat-label>
                                            <input (click)="$event.stopPropagation()" matInput [formControl]="nameFilter">
                                        </mat-form-field>
                                    </div>
                                </th>

                                <td mat-cell *matCellDef="let element" class="text-center center capital">
                                    {{element.user_full_text_name}} </td>

                            </ng-container>

                            <!-- Class Column -->
                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center center">
                                    College
                                    <div>
                                        <mat-form-field class="filter" floatLabel="never">
                                            <mat-label>Search</mat-label>
                                            <input (click)="$event.stopPropagation()" matInput [formControl]="classFilter">
                                        </mat-form-field>
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element" class="text-center center">
                                    <app-education-detail [uesrId]="element.user_id"></app-education-detail>
                                </td>
                            </ng-container>

                            <!-- Roll No Column -->
                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center center">
                                    Adress
                                    <div>
                                        <mat-form-field class="filter" floatLabel="never">
                                            <mat-label>Search</mat-label>
                                            <input (click)="$event.stopPropagation()" matInput [formControl]="rollnoFilter">
                                        </mat-form-field>
                                    </div>

                                </th>
                                <td mat-cell *matCellDef="let element" class="text-center center">
                                    <app-personal-detail [uesrId]="element.user_id"></app-personal-detail>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="star">
                                <th mat-header-cell *matHeaderCellDef class="text-center center">
                                    <button *ngIf="allRowsSelected" mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">

                                        <button mat-menu-item>
                                            <mat-icon>vertical_align_center</mat-icon>
                                            <span>Move All</span>
                                        </button>
                                        <button mat-menu-item>
                                            <mat-icon>email</mat-icon>
                                            <span>Message All</span>
                                        </button>

                                    </mat-menu>

                                </th>
                                <td mat-cell *matCellDef="let element" class="text-center center">
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="createGLTAdmin(element)">
                                            <mat-icon>font_download</mat-icon>
                                            <span>Make Admin</span>
                                        </button>
                                        <button mat-menu-item [matMenuTriggerFor]="role">
                                            <mat-icon>art_track</mat-icon>
                                            <span>Assign Roles</span>
                                        </button>
                                        <button mat-menu-item>
                                            <mat-icon>vertical_align_center</mat-icon>
                                            <span>Move</span>
                                        </button>
                                        <button mat-menu-item>
                                            <mat-icon>email</mat-icon>
                                            <span>Message</span>
                                        </button>
                                        <button mat-menu-item>
                                            <mat-icon>person_add_disabled</mat-icon>
                                            <span>Remove/Block</span>
                                        </button>
                                    </mat-menu>
                                    <mat-menu #role="matMenu">
                                        <button mat-menu-item>Review Manager</button>
                                    </mat-menu>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                    </div>
                    <mat-paginator [length]="dataSource?.filteredData.length" [pageSizeOptions]="[20,50,100,200]"
                        showFirstLastButtons>
                    </mat-paginator>

                </div>

            </div>


        </div>
    </div>

    <div class="row mrgn-tp-30">
        <div class="col-lg-12">
            <h4 class="group-head adduser headadmin">Review Posts</h4>
        </div>
        <div class="col-lg-12" *ngIf="userPosts.length">
            <table datatable [dtOptions]="dtOptions['new']" [dtTrigger]="dtTrigger['new']" class="row-border hover">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Date</th>
                        <th>Media</th>
                        <th>Tools</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let post of userPosts; let i=index">

                        <td>{{i+1}}</td>
                        <td>{{post.user_id}}</td>
                        <td>{{post.heading}}</td>
                        <td>{{post.message}}</td>
                        <td>{{post.creation_timestamp|date:'medium':'+0530'}}</td>
                        <td><span *ngIf="post.post_has_data==true">yes</span>
                            <span *ngIf="post.post_has_data==false">no</span>
                        </td>
                        <td>
                            <mat-icon [ngClass]="{'green-text' : post.status=='ACTIVE'}" class="cursor" [title]="post.status=='ACTIVE'?'Approved':'Approve'">done</mat-icon>
                            <mat-icon [ngClass]="{'red-text' : post.status=='BLOCKED'}" class="cursor" [title]="post.status=='BLOCKED'?'Rejected':'Reject'">block</mat-icon>
                            <mat-icon class="cursor" title="View Post" (click)="postReview = post" data-toggle="modal"
                                data-target="#pModal">visibility</mat-icon>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>

<div id="pModal" class="modal fade" role="dialog" *ngIf="postReview">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">View Post</h4>
            </div>
            <div class="modal-body">
                <app-post-review [singlePost]="postReview"></app-post-review>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>