


<body class="about-us">
      

  <noscript>
      <iframe src="http://www.googletagmanager.com/ns.html?id=GTM-TB9ZRN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <header class="reverse">









    <nav id="main-nav" class="clearfix">
        <div id="main-nav-div-holder">
            <a id="main-nav-logo-holder" href="index.html">
                <img class="home-nav" src="assets/images/scholars_logo.png" />
            </a>

            <div id="menu-wrapper" class="clearfix reverse-float-right">

                <ul>
                    <li (click)="navigateToPages('main')">


                        <a>Home</a>

                    </li>
                    <li (click)="navigateToPages('about-us')">


                        <a>About Us</a>

                    </li>



                    <li>

                        <a (click)="navigateToPages('company')">
                            Company

                        </a>



                    </li>

                    <li>

                        <a (click)="navigateToPages('product')">
                            Product
                        </a>


                    </li>
                    <li>

                        <a (click)="navigateToPages('platform')">
                            Platform
                        </a>
                    </li>
                    <li (click)="navigateToPages('login')">

                        <a>
                            Log in
                        </a>
                    </li>

                </ul>


            </div>
        </div>
    </nav>
    <nav class="active mrgn_tp" *ngIf="showNavbar==true">

           <span class="close" (click)=' closemenuoptions()'>&times;</span>

        <ul>
            <li (click)="navigateToPages('main')">


                <a>Home</a>

            </li>
            <li (click)="navigateToPages('about-us')">


                <a>About Us</a>

            </li>



            <li>

                <a (click)="navigateToPages('company')">
                    Company

                </a>



            </li>

            <li>

                <a (click)="navigateToPages('product')">
                    Product
                </a>


            </li>
            <li>

                <a (click)="navigateToPages('platform')">
                    Platform
                </a>
            </li>
            <li (click)="navigateToPages('login')">

                <a>
                    Log in
                </a>
            </li>

        </ul>

       
    </nav>
    <!--nav end-->
    <div id="topmostnav"  class="menu-btn midnight-blue mrgn_top ">




        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-xs-9">
                    <a id="main-nav-logo-holder" href="index.html">
                        <img class="home-nav" src="assets/images/scholars_logo.png" />
                    </a>


                </div>
                <div class="col-sm-3 col-xs-3">
                <a (click)="menuClicked(showNavbar)">
                    <i class="fa fa-bars"></i>
                </a>
                 </div>
            </div>
        </div>





    </div>
    <!--menu-btn end-->



</header>

  <div>
       
<div id="herosec" class="img-responsive myclass">
    </div>
   
      <section id="portfolio">
        <div class="container">
            <div class="center"  >
                <h2>Recent work</h2>
                <p class="lead" style="color:black">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>


            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All Works</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".bootstrap">Creative</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".html">Photography</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".wordpress">Web Development</a></li>
            </ul>
            <!--/#portfolio-filter-->

            <div class="row">
                <div class="portfolio-items">
                    <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3 single-work">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="assets/external/images/portfolio/item-1.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <a class="preview" href="assets/external/images/portfolio/item-1.png" rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.portfolio-item-->

                    <div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3 single-work">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="assets/external/images/portfolio/item-2.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <a class="preview" href="assets/external/images/portfolio/item-2.png" rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.portfolio-item-->

                    <div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-3 single-work">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="assets/external/images/portfolio/item-3.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <a class="preview" href="assets/external/images/portfolio/item-3.png" rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.portfolio-item-->

                    <div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-3 single-work">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="assets/external/images/portfolio/item-4.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <a class="preview" href="assets/external/images/portfolio/item-4.png" rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.portfolio-item-->

                    <div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3 single-work">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="assets/external/images/portfolio/item-5.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <a class="preview" href="assets/external/images/portfolio/item-5.png" rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.portfolio-item-->

                    <div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3 single-work">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="assets/external/images/portfolio/item-1.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <a class="preview" href="assets/external/images/portfolio/item-1.png" rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.portfolio-item-->

                    <div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3 single-work">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="assets/external/images/portfolio/item-6.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <a class="preview" href="assets/external/images/portfolio/item-6.png" rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.portfolio-item-->

                    <div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3 single-work">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="assets/external/images/portfolio/item-2.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <a class="preview" href="assets/external/images/portfolio/item-2.png" rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.portfolio-item-->
                </div>
            </div>
        </div>
    </section>
    <!--/#portfolio-item-->

    <section id="blog">

            <div class="blog container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="blog-item">
                            <a href="#"><img class="img-responsive img-blog" src="assets/external/images/blog1.png" width="100%" alt="" /></a>
                            <div class="blog-content center" >
                                <a href="#" class="blog_cat">UI/UX DESIGN</a>
                                <h2><a href="blog-item.html">Consequat bibendum quam liquam viverra</a></h2>
                                <h3>Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit, lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.</h3>
                                <a class="readmore" href="blog-item.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <!--/.blog-item-->
    
                        <div class="blog-item">
                            <a href="#"><img class="img-responsive img-blog" src="assets/external/images/blog2.png" width="100%" alt="" /></a>
                            <div class="blog-content center">
                                <a href="#" class="blog_cat">UI/UX DESIGN</a>
                                <h2><a href="blog-item.html">Consequat bibendum quam liquam viverra</a></h2>
                                <h3>Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit, lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.</h3>
                                <a class="readmore" href="blog-item.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <!--/.blog-item-->
    
                        <div class="blog-item">
                            <a href="#"><img class="img-responsive img-blog" src="assets/external/images/blog3.png" width="100%" alt="" /></a>
                            <div class="blog-content center">
                                <a href="#" class="blog_cat">UI/UX DESIGN</a>
                                <h2><a href="blog-item.html">Consequat bibendum quam liquam viverra</a></h2>
                                <h3>Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit, lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.</h3>
                                <a class="readmore" href="blog-item.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <!--/.blog-item-->
                        
                    </div>
                    <!--/.col-md-8-->
    
                    <aside class="col-md-4">
                        <div class="widget search">
                            <form role="form">
                                <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!--/.search-->
                        
    
                        <div class="widget archieve">
                            <h3>Categories</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="blog_archieve">
                                        <li><a href="#">December 2013 <span class="pull-right">(97)</span></a></li>
                                        <li><a href="#">November 2013 <span class="pull-right">(32)</span></a></li>
                                        <li><a href="#">October 2013 <span class="pull-right">(19)</span></a></li>
                                        <li><a href="#">September 2013 <span class="pull-right">(08)</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--/.archieve-->
    
                        <div class="widget popular_post">
                            <h3>Popular Post</h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="assets/external/images/post1.png" alt="">
                                        <p>Can you get free games for you</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/external/images/post2.png" alt="">
                                        <p>Can you get free games for you</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/external/images/post3.png" alt="">
                                        <p>Can you get free games for you</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--/.archieve-->
                        
    
                        <div class="widget blog_gallery">
                            <h3>Our Gallery</h3>
                            <ul class="sidebar-gallery clearfix">
                                <li>
                                    <a href="#"><img src="assets/external/images/sidebar-g-1.png" alt="" /></a>
                                </li>
                                <li>
                                    <a href="#"><img src="assets/external/images/sidebar-g-2.png" alt="" /></a>
                                </li>
                                <li>
                                    <a href="#"><img src="assets/external/images/sidebar-g-3.png" alt="" /></a>
                                </li>
                                <li>
                                    <a href="#"><img src="assets/external/images/sidebar-g-4.png" alt="" /></a>
                                </li>
                                <li>
                                    <a href="#"><img src="assets/external/images/sidebar-g-5.png" alt="" /></a>
                                </li>
                                <li>
                                    <a href="#"><img src="assets/external/images/sidebar-g-6.png" alt="" /></a>
                                </li>
                            </ul>
                        </div>
                        <!--/.blog_gallery-->
                        
                        <div class="widget social_icon">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="#" class="fa fa-pinterest"></a>
                            <a href="#" class="fa fa-github"></a>
                        </div>
                        
                    </aside>
                </div>
              
            </div>
        </section>
        <!--/#blog-->
    


        <div class="contact_Us" [class.move-contact]="showContactUs">
            <button class="openbtn" (click)='showContactUs = !showContactUs'>
                <ul>
                    <li> C</li>
                    <li> O</li>
                    <li>N </li>
                    <li> T</li>
                    <li> A</li>
                    <li> C</li>
                    <li> T</li><br>
                    <li> U</li>
                    <li> S</li>
                </ul>
            </button>

        </div>

  </div>

  <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2019 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Scholarsbook</a>. All Rights Reserved.
                </div>
                <!-- <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </footer>

    <div class="container_contact">





        <div id="mySidebar" class=" container_contact sidebar" [class.show-contact]="showContactUs">
            
            <div style="text-align:center">
                <h2>Contact Us</h2>

            </div>
            <div class="row_contact">

                <div class="">
                    <form action="/action_page.php">
                        <label for="fname" class="col-md-12 col-xs-12 ">First Name *</label>
                        <input type="text" class="col-md-12 col-xs-12 " id="fname" name="firstname" placeholder="Your name..">
                        <label for="lname" class="col-md-12 col-xs-12 ">Last Name *</label>
                        <input type="text" class="col-md-12 col-xs-12 " id="lname" name="lastname" placeholder="Your last name..">
                        <label for="fname" class="col-md-12 col-xs-12 ">Email *</label>
                        <input type="text" class="col-md-12 col-xs-12 " id="fname" name="firstname" placeholder="Your email">
                        <label for="fname " class="col-md-12 col-xs-12 ">Company *</label>
                        <input type="text" class="col-md-12 col-xs-12 " id="fname" name="firstname" placeholder="Current Company">

                        <label for="country" class="col-md-12 col-xs-12 ">Country</label>
                        <select id="country " class="col-md-12 col-xs-12 " name="country">
                            <option value="australia">Australia</option>
                            <option value="canada">Canada</option>
                            <option value="usa">USA</option>
                        </select>

                        <label for="subject" class="col-md-12 col-xs-12 ">Subject</label>
                        <textarea id="subject" class="col-md-12 col-xs-12 " name="subject" placeholder="Write something.."
                            style="height:170px"></textarea>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

  <script src="assets/external/js/jquery.js"></script>
    <script src="assets/external/js/bootstrap.min.js"></script>
    <script src="assets/external/js/jquery.prettyPhoto.js"></script>
    <script src="assets/external/js/owl.carousel.min.js"></script>
    <script src="assets/external/js/jquery.isotope.min.js"></script>
    <script src="assets/external/js/main.js"></script>
</body>