<div class="row">

    <div *ngIf="success" class="row alert alert-dismissible alert-info">
        <div class="col-md-12">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Well done!</strong> Group Created Successfully.
        </div>
    </div>
    <h4>Create New Group</h4>
    <form #groupForm="ngForm" class="group-form">
        <mat-form-field class="group-full-width">
            <input matInput placeholder="Group Name" name="group_name" [(ngModel)]="group_name">
        </mat-form-field>
        <mat-form-field class="group-full-width">
            <input matInput placeholder="Custom Tag Line" name="custom_tag_line" [(ngModel)]="custom_tag_line">
        </mat-form-field>
        <mat-form-field class="group-full-width">
            <textarea matInput placeholder="Comment" name="comments" [(ngModel)]="comments"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="button" (click)="createGroup();groupForm.reset(); success = !success">Submit</button>
    </form>

</div>