.cur-poi {
    border: 1px solid #50b7e8;
    padding: 10px;
    background-image: linear-gradient(#5eabec, #50b7e8);
    color: #fff;
    box-shadow: 0px 0px 3px 0px #50b7e8;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer
}