 <main class="bg-grey mrgn_tp_60">
    <div class="main-section mrgn-tp-42">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                            <div class="user-data full-width pd-btm-6">
                                <div class="user-profile">
                                    <div class="username-dt" *ngIf="activeUserAllData">
                                        <div class="usr-pic" *ngIf="profilePic">
                                            <img [src]="profilePic" width="100" height="100" alt="">
                                        </div>
                                        <div class="usr-pic img-circle name-init" *ngIf="!profilePic">
                                            <span *ngIf="activeUserAllData[0]" style="font-weight:600">{{activeUserAllData[0].first_name[0].toUpperCase()
                                                + activeUserAllData[0].last_name[0].toUpperCase()}}</span>
                                        </div>
                                    </div>
                                    <!--username-dt end-->
                                    <div class="user-specs">

                                        <h4 *ngIf="activeUserAllData[0]?.user_full_text_name">
                                            <a class="cursor capital" (click)="openProfilePage('profile')">{{activeUserAllData[0].user_full_text_name}}</a>
                                        </h4>
                                        <div>
                                            <small *ngIf="activeUserEducationalData?.institution_id" class="capital">{{activeUserEducationalData.institution_id}}</small>
                                            &nbsp;
                                        </div>
                                        <div>
                                            <small *ngIf="activeUserPersonalData" class="capital"> {{city}}</small>
                                        </div>
                                        <div>
                                            <small *ngIf="activeUserAllData">
                                                <a class="cursor capital" (click)="openSettingPage()">complete profile</a>
                                            </small>
                                        </div>
                                        <div class="mb-2" *ngIf="profilePercentage">
                                            <progressbar max="100" [value]="profilePercentage" [striped]="false"
                                                [animate]="true">
                                                <i>{{profilePercentage}}%</i>
                                            </progressbar>
                                        </div>

                                    </div>
                                </div>

                                <ul class="user-fw-status left-side-bar mrgn-btm-2">
                                    <li>

                                        <!--<button type="button" class="btn btn-primary" style="margin-right: 2px">Followers <span class="badge">7</span></button>
                    <button type="button" class="btn btn-primary">Following <span class="badge">3</span></button>-->
                                    </li>
                                </ul>
                            </div>

                            <div class="" *ngIf="friendsForSuggestoion">
                                <div class="sg-title">
                                    Suggestions

                                </div>

                                <div *ngFor='let user of friendsForSuggestoion; let i= index "[attr.data-index]=i"'>
                                    <app-suggestionlist [receivedSuggestoinList]="user"></app-suggestionlist>

                                </div>
                                <div class="view-more">
                                    <a title="" (click)="viewMore(1,5)">View More</a>
                                </div>

                            </div>
                        </div>
                        <!--main-left-sidebar end-->
                    </div>

                    <div class="col-lg-6 col-md-8 no-pd">

                        <div class="main-ws-sec">


                            <div class="panel-group fi-panel" *ngIf="allPosts.length && allUserData.length" click-outside (clickOutside)="onClickOutside($event)" style="margin-bottom: 9px;">
                                <div class="panel panel-primary">
                                    <div class="panel-heading pd-change" style="background-color:#006cb5">
                                        <h4 class="panel-title">
                                            <a #filterpanel (click)="exFilter = !exFilter" data-toggle="collapse" href="#collapse1">
                                                <mat-icon>
                                                    filter_list
                                                </mat-icon>
                                                <span class="filter-btn">Filter Posts</span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="class">Level:</label>
                                                        <select name="fi-level" class="form-control" [(ngModel)]="curLevel"
                                                            (change)="changeLevel($event)">
                                                            <option value="all">-All-</option>
                                                            <option *ngFor="let level of allLevels" value="level.level_id">{{level.level_name}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="section">Tag:</label>
                                                        <select name="fi-tag" class="form-control" [(ngModel)]="curTag">
                                                            <option value="all">-All-</option>
                                                            <option *ngFor="let tag of allTags" value="tag.tag_id">{{tag.tag_name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-10">
                                                    <div class="form-group form-inline">
                                                        <label for="email">Date Between</label>&nbsp;&nbsp;
                                                        <input type="text" style="border: 1px solid" name="post-date"
                                                            bsDaterangepicker [bsConfig]="datePickerConfig" class="form-control"
                                                            [(ngModel)]="bsRangeValue" placeholder="Select Date">&nbsp;
                                                        <select name="post-default" [(ngModel)]="selected_date"
                                                            (change)="changeDate()" class="form-control ht-38" id="dt">
                                                            <option [value]="1">last one day</option>
                                                            <option [value]="2">last 2 days</option>
                                                            <option [value]="7">last week</option>
                                                            <option [value]="15">last 15 days</option>
                                                            <option [value]="30">last month</option>
                                                        </select>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    Sort By:
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="posts" [checked]="isLikes"
                                                            (change)="isLikes = !isLikes;isComments = false;isShares = false">Likes
                                                    </label>
                                                    <div *ngIf="isLikes" class="btn btn-sm btn-primary sort-btn"
                                                        (click)="likeArrow = !likeArrow">
                                                        <i class="fa fa-arrow-down" *ngIf="likeArrow"></i><i class="fa fa-arrow-up"
                                                            *ngIf="!likeArrow"></i>
                                                    </div>
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="posts" [checked]="isComments"
                                                            (change)="isComments = !isComments;isShares = false;isLikes = false">Comments
                                                    </label>
                                                    <div *ngIf="isComments" class="btn btn-sm btn-primary sort-btn"
                                                        (click)="comArrow = !comArrow">
                                                        <i class="fa fa-arrow-down" *ngIf="comArrow"></i><i class="fa fa-arrow-up"
                                                            *ngIf="!comArrow"></i>
                                                    </div>
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="posts" [checked]="isShares"
                                                            (change)="isShares = !isShares;isLikes = false;isComments = false">Shares
                                                    </label>
                                                    <div *ngIf="isShares" class="btn btn-sm btn-primary sort-btn"
                                                        (click)="shareArrow = !shareArrow">
                                                        <i class="fa fa-arrow-down" *ngIf="shareArrow"></i><i class="fa fa-arrow-up"
                                                            *ngIf="!shareArrow"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mrgn-tp-20">
                                                <div class="col-lg-12 col-xs-12">
                                                    <div class="form-group form-inline">
                                                        <label for="class">Search By Name:</label>
                                                        <input type="text" class="form-control" name="sb-name"
                                                            [(ngModel)]="sByName">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="only-friend" [checked]="isOnlyFriend"
                                                                (change)="isOnlyFriend = !isOnlyFriend">Only Friends'
                                                            Post</label>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row center-align">
                                                <col-sm-12>
                                                    <button class="btn btn-primary mrgn-rt-15" (click)="filterPosts()">Filter</button>
                                                    <button class="btn btn-danger" (click)="filterPosts()">Cancel</button>
                                                </col-sm-12>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <app-create-post *ngIf="allUserData.length" [edit]="false" [friends]="allUserData"
                                (emitPost)="getcreatedPost($event)"></app-create-post>
                            <div *ngIf="!allPosts.length" class="loader">
                                <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                                <span>Loading...Please Wait</span>
                            </div>
                            <div class="alert alert-info alert-dismissible post-noti" *ngIf="newPostCreated">
                                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Congrats!</strong> Post created successfully.You will be able to see it after
                                review.
                            </div>
                            <div *ngIf="allPosts.length && allUserData" class="posts-section search-results"
                                infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="50" (scrolled)="onScroll($event)">
                                <!-- allUserData.length -->


                                <div *ngFor="let singlePost of allPosts; index as i" class="post-bar">

                                    <app-post [singlePost]="singlePost" [friendData]="allUserData" (editPost)="editPost($event)"
                                        (emitShared)="includeShared($event)"></app-post>

                                </div>

                            </div>

                            <div *ngIf="noMorePosts" class="no-more">
                                <h3>No More Posts</h3>
                            </div>
                            <!--posts-section end-->
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</main>