.showpopup {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}


/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v46/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.hidepopup {
    visibility: hidden;
}

.suggestions-list {
    float: left;
    width: 100%;
    padding: 0px 0 0px 0;
    box-shadow: 0px 0px 1px 0px #5B5757;
}

.view-more {
    color: #006cb5
}

.view-more a {
    cursor: pointer
}

.suggestions {
    box-shadow: 0px 0px 1px 0px #5B5757;
}

.postheader {
    width: 3%;
    background-color: #006cb5
}

.view-more a {
    color: #006cb5
}

.txt-area {
    max-width: 100%;
}

.re-li-post {
    display: inline-block;
    width: 9%;
    padding: 2px 2px;
}

.custm_btn {
    padding: 2px 6px;
}

#myModal .modal-dialog {
    width: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.custom_box {
    position: relative;
}

.red {
    background-color: red !important;
}

.blue {
    background-color: blue !important;
}

.blue .search-header {
    background-color: green !important;
}

.yellow {
    color: yellow;
}

#mceu_32 {
    display: none;
}

.mce-flow-layout {
    background-color: #eaeaea;
}

.left-side-bar {
    padding-left: 0;
}

.mrgn-tp-30 {
    margin-top: 30px
}

.bg-grey {
    background-color: #e9ebee;
}

.mrgn-tp-42 {
    margin-top: 4px
}

.pd-bt-10 {
    padding-bottom: 0px !important
}

.mat-icon {
    margin-right: 5px
}

a {
    text-decoration: none;
}

.more-comments {
    padding-left: 20px
}

.comment div {
    display: table-cell
}

.max {
    position: fixed;
    z-index: 10003;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.post-create {
    margin-left: 7px;
    margin-top: 13px;
}

.mat-form-field {
    width: 100%
}

.back-btn {
    width: 100%
}

.mrgn-left-30 {
    margin-left: 30px
}

.mrgn-left-5 {
    margin-left: 5px
}

.follow-head {
    margin-top: 4px;
    margin-bottom: 7px;
}

.mrgn-btm-2 {
    margin-bottom: 2px;
}

.pd-btm-6 {
    padding-bottom: 6px
}

.sug-center {
    margin-left: 25%
}

.mrgn-btm-3 {
    margin-bottom: 3px
}

.mrgn-tp-10 {
    margin-top: 10px
}

.sg-title {
    padding: 6px;
    font-size: medium;
    font-weight: bold;
}

.pro-popup {
    border: 1px solid #c5c5c5;
    box-shadow: 0px 0px 1px 2px #c5c5c5;
    width: 250px;
    height: 150px
}

.pro-popup::before {
    content: '';
    position: absolute;
    visibility: visible;
    bottom: -1px;
    left: -10px;
    border: 10px solid transparent;
    border-bottom: 10px solid #4486bf;
}

.pro-popup::after {
    content: '';
    position: absolute;
    visibility: visible;
    bottom: 0px;
    left: -8px;
    border: 10px solid transparent;
    border-bottom: 10px solid #4486bf;
    clear: both;
}

.mrgn-tp-0 {
    margin-top: 0px
}

.auto-capital {
    text-transform: capitalize;
}

.mrgn-tp-10 {
    margin-top: 10px
}

.mrgn-rt-5 {
    margin-right: 5px
}


/* added for emoijis */

.emojiPicker {
    width: 50%;
    height: auto;
    overflow: auto;
}

.emojiHeading {
    margin-top: 25px;
    font-size: 18px;
    color: #666666;
    font-family: calibri;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
    display: inline-block;
}

.emojiPicker .emojiBody>div {
    width: 50%;
    float: left;
    height: 30px;
    text-align: center;
    padding: 5px;
}

.emojiPicker .emojiBody>div>span {
    display: inline-block;
    width: 17px;
}

.emojiPicker .emojiBody div img {
    width: 25px;
}

.emojiInput {
    width: 50%;
    height: 30px;
    border: 1px solid #CCC;
    padding: 5px;
    display: inline-block;
    box-sizing: border-box;
}

.emojiInput img {
    width: 28px;
}

.emojiBody {
    width: 100%;
    float: none;
    display: block;
}

.emojiBody::after {
    content: ' ';
    display: block;
    clear: both;
}

.red {
    background-color: red !important;
}

.blue {
    background-color: #006cb5 !important;
}

.blue .search-header {
    background-color: green !important;
}


/* end added for emoijis */

.btn-info {
    background-color: #e6e6e6
}

.btn-primary {
    background-color: #006cb5
}

.widget img {
    background-color: #006cb5
}

.loader {
    color: #f60a0a;
    float: left;
    width: 36%;
    margin-left: 138px;
    margin-top: 30px;
}

.pad-top-8 {
    padding-top: 8px
}

.btn-left {
    padding-right: 2px;
    padding-left: 10px;
}

.btn-mid {
    padding-right: 2px;
    padding-left: 5px;
}

.btn-right {
    padding-right: 22px;
    padding-left: 5px;
}

.pr-shr-btn {
    padding-left: 29px;
    padding-right: 0px;
}

.bk-cr {
    padding-left: 13px;
}

.pad-top-15 {
    padding-top: 15px
}

.customtitle {
    float: left;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.custmjobslist {
    float: left;
    width: 100%;
}

.customjobinfo {
    float: left;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.job-details h3 {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 7px;
    text-transform: uppercase;
}


/* by dheeraj css */

.comon_grp {
    font-size: 20px;
    /* padding-top: 5px; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.fi-panel {
    float: left;
    width: 100%;
}

.pd-change {
    padding: 2px 20px;
}

.filter-btn {
    top: -4px;
    left: 0px;
    position: relative;
}

.no-more {
    float: left;
    width: 100%;
    text-align: center
}

.sort-btn{
    margin-left: 3px;
    margin-right: 16px;
}

.pd-tp-8 {
    padding-top: 8px
}

.mrgn-tp-20 {
    margin-top:20px
}

.name-init {
    background-color: darkslategrey;
    color: #fff;
    font-size: 40px;
    padding-top: 20px;
}

.post-noti {
    float: left;
    width: 100%;
    background-color: #006cb5;
    color: #fff;
}

.mrgn_tp_60{
    margin-top:60px;
  }
