<div  class="col-md-12 bg grey mrgn-tp-60" *ngIf="!edit && !share">
        <div *ngIf="singleForumPost.post_type=='SHARED' && userDetail" class="share">
            <span>{{userDetail.user_full_text_name}}</span> shared <span *ngIf="originalUser">
                {{originalUser.user_full_text_name + "'s post"}} </span>
        </div>
        <div class="post_topbar">
            <div class="usy-dt">
                <img *ngIf = "profilePic" [src]="profilePic" width="50" height="50" alt="">
                <div *ngIf = "!profilePic" class="img-container img-circle">
                    <span *ngIf="firstName || lastName">{{firstName[0].toUpperCase() + lastName[0].toUpperCase()}}</span>
                </div>
                <div class="usy-name">
                    <h3 *ngIf="userDetail" (click)="seeFriendProfile(userDetail.user_id)" class="cursor">{{userDetail.user_full_text_name}}</h3>
                    <mat-icon>access_alarm</mat-icon>
                    <span class="btn-relative">{{singleForumPost.creation_timestamp | date:'medium':'+0530'}}</span>
                </div>
            </div>
            <div class="ed-opts">
           <!--    <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon style="color: black">more_vert</mat-icon>
                </button> -->
            </div>
        </div>
        <div class="job_descp wb">
            <div class="post-title">{{singleForumPost.heading}}</div>
            <p #msgpara class="msg-para" [innerHTML]="singleForumPost.formatted_message | slice:0:2000"> </p><span (click)="expandMsg(msgpara)" *ngIf="!expanded && singleForumPost.formatted_message && singleForumPost.formatted_message.length>2000">...
                <a class="see-more">See More</a></span>
        </div>
        
        <div *ngIf="isSearch" class="extra-content ta-cent"><mat-icon class="cursor" (click)="isSearch = !isSearch">keyboard_arrow_down</mat-icon></div>
        <div *ngIf ="!isSearch" class="extra-content">
             <div #appendOGraph style="padding:15px"></div>
    
            <div *ngIf="previewVideo" style="margin-top: 20px" class="video-container">
                <video *ngIf="!showVideo" class="fullwidth" (click)="showVideo = !showVideo">
                    <source [src]="URLChange(previewVideo.video_storage_url)" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <video *ngIf="showVideo" class="fullwidth" controls autoplay>
                    <source [src]="URLChange(previewVideo.video_storage_url)" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div *ngIf="previewPdf" class="pdf-preview">
                <canvas #pdfpreview class="pdf-canvas" style="display:none" *ngIf="!showPdf" (click)="showPdf = !showPdf"></canvas>
                <div *ngIf="showPdf" [class.max]="ifMax" class="view-pdf">
                    <div class="pdf-btn-container"><button (click)="showPdf = !showPdf" class="btn btn-info">Minimize</button>
                        <button (click)="ifMax = !ifMax" class="btn btn-info">Maximize</button></div>
          <!--- <ngx-extended-pdf-viewer [src]="URLChange(previewPdf.pdf_storage_url)" height="500px" backgroundColor="#e8e8ef" [mobileFriendlyZoom]="mobileFriendlyZoom" [showZoomButtons]="true" [showSidebarButton]="showSidebar" [useBrowserLocale]="true" [showSidebarOnLoad]="true"
                        delayFirstView="50" [(zoom)]="zoom" showPresentationModeButton="true">
                    </ngx-extended-pdf-viewer> -->
                </div>
            </div>
            <div *ngIf="singleForumPost._albums" class="image-gallery mrgn-tp-20">
                <div *ngFor="let image of singleForumPost._albums; let i=index" class="img-row">
                    <img *ngIf="image.is_preview" class="img-frame" width="100%" height="150" [src]="image.thumb" [title]="image.caption" (click)="open(i,singleForumPost._albums )" />
                    <img *ngIf="!image.is_preview && i<5" class="img-frame" width="60" height="90" [src]="image.thumb" [title]="image.caption" (click)="open(i,singleForumPost._albums )" />
                    <div *ngIf="!image.is_preview && i==5" (click)="open(i,singleForumPost._albums )" class="pic-plus cursor"><mat-icon>add</mat-icon><span class="fs-20">{{singleForumPost._albums.length-5}}</span></div>
                </div>
            </div>
            <div *ngIf="singleForumPost._pdfs" [class.w-100]="!hidden" class="fl-left mrgn-tp-20">
                <div *ngFor="let pdf of singleForumPost._pdfs; let i=index" [class.w-100]="!hidden" class="fl-left">
                    <div *ngIf="hidden" class="image-gallery">
                        <div (click)="hidden = !hidden" class="pdf" style="background-image: url('assets/images/pdf.png')">
                            <span class="pdf-size">
                                <span></span>
                            </span>
                        </div>
                        <div>
                            <small class="mrgn-tp-0 ">{{pdf.pdf_name}}</small>
                        </div>
                    </div>
                    <div *ngIf="!hidden" [class.max]="ifMax" class="view-pdf">
                        <div class="pdf-btn-container"><button (click)="hidden = !hidden" class="btn btn-info">Minimize</button>
                            <button (click)="ifMax = !ifMax" class="btn btn-info">Maximize</button></div>
           <!---           <ngx-extended-pdf-viewer [src]="URLChange(pdf.pdf_storage_url)" height="500px" backgroundColor="#e8e8ef" [mobileFriendlyZoom]="mobileFriendlyZoom" [showZoomButtons]="true" [showSidebarButton]="showSidebar" [useBrowserLocale]="true" [showSidebarOnLoad]="true"
                            delayFirstView="50" [(zoom)]="zoom" showPresentationModeButton="true">
                        </ngx-extended-pdf-viewer> -->
                    </div>
                </div>
            </div>
            <video *ngFor="let video of singleForumPost._videos; let i=index" class="mrgn-rt-5 mrgn-tp-20" width="30%" height="94" controls controlsList="nodownload">
                <source [src]="URLChange(video.video_storage_url)" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            
         <app-forum_post-snapshot *ngIf ="singleForumPost.post_type=='SHARED' && originalPost && originalUser" [forum_postToShare] = "originalPost" [forum_postUser]="originalUser"></app-forum_post-snapshot> 
        
            <ng-template #template>
                
                <div class="modal-header">
                    <h4 class="modal-title pull-left">All</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
         <div *ngFor="let item of likedDataForTooltip">
                    <app-like-modal [likeModalData]="item.from_user_id" (closeModal)='closeModal($event)'></app-like-modal>
                </div>  
            </ng-template>
            <div class="job-status-bar pd-bt-10 rel">
                <ng-template #likepopTemplate>Like<br>
                    <span *ngIf="likedDataForTooltip.length">
                        <small class="grp_nm  capital " *ngFor="let item of likedDataForTooltip | slice:startIndex:endIndex">
                            <app-like-tooltip [likeData]='item'></app-like-tooltip>
                        </small>
                        <small *ngIf="likedDataForTooltip.length>10" (click)="seeMore(startIndex,endIndex)">see more</small>
                    </span>
                </ng-template>
                <ng-template #commentpopTemplate>Comments<br>
                    <span *ngIf="showCommentLoader">Loading...</span>
                    <span *ngIf="commentdataDataForTooltip.length" (gotComment)='displayCommentCounter($event)'>
                        <small class="grp_nm  capital " *ngFor="let item of commentdataDataForTooltip | slice:startIndex:endIndex">
                            <app-comment-tooltip [commentData]='item'></app-comment-tooltip>
                        </small>
                        <small *ngIf="commentdataDataForTooltip.length>10" (click)="seeMore(startIndex,endIndex)">see more</small>
                    </span>
                </ng-template>
                <ng-template #sharepopTemplate> Share<br>
                    <span *ngIf="!sharedDataForTooltip.length">Loading...</span>
                    <span *ngIf="sharedDataForTooltip.length">
                        <small class="grp_nm  capital " *ngFor="let item of sharedDataForTooltip | slice:startIndex:endIndex">
                            <app-share-tooltip [shareData]='item'></app-share-tooltip>
                        </small>
                        <small *ngIf="sharedDataForTooltip.length>10" (click)="seeMore(startIndex,endIndex)">see more</small>
                    </span>
                </ng-template>
                <ng-template #reportpopTemplate>Report<br>
                    <span *ngIf="!reportdataDataForTooltip.length">Loading...</span>
                    <span *ngIf="reportdataDataForTooltip.length">
                        <small class="grp_nm capital" *ngFor="let item of reportdataDataForTooltip">
                            <app-report-tooltip [reportData]='item'></app-report-tooltip>
                        </small>
                    </span>
                </ng-template> 
                <div class="row">
                    <div class="col-sm-6 pd_liked_sec" *ngIf="singleForumPost.likes_counter">
                         <span class="cursor" [tooltip]="likepopTemplate">  
                            <a class="like-opt" (click)="openModal(template)">
                                <span class="glyphicon glyphicon-heart fs-24" ></span>
                            </a>
                            <span class="icon_post_like">
                                <span *ngIf="!you_like && singleForumPost.likes_counter">
                                    {{singleForumPost.likes_counter}}
                                </span>
                        <span *ngIf="you_like == true">you
                                    <span *ngIf="singleForumPost.likes_counter > 1">and
                                        {{singleForumPost.likes_counter-1}} others
                                    </span>
                                   
                        </span>
                        <span> like </span>
                        </span>
                      </span>  
                    </div>
                   <div *ngIf="comments" class="col-sm-12">
                         <ul class="like-com right_like_share text-right">
                            <li [tooltip]="commentpopTemplate" *ngIf="singleForumPost.comments_counter">
                                <a (click)="showComments = !showComments" title="" class="com post-l-c-s">{{singleForumPost.comments_counter}}
                                Comments </a></li>
                            <li [tooltip]="sharepopTemplate" *ngIf="singleForumPost.shares_counter">
                                <a title="" class="com post-l-c-s">{{singleForumPost.shares_counter}}
                                Shares </a></li>
                            <li *ngIf="singleForumPost.views_counter"><a class="com post-l-c-s">{{singleForumPost.views_counter}} Views
                                </a></li>
                            <li [tooltip]="reportpopTemplate" *ngIf="singleForumPost.reports_counter">
                                <a class="com post-l-c-s">{{singleForumPost.reports_counter}}
                                Reports </a></li>
                        </ul> 
                    </div>
                </div>
            </div>
            <div class="com-status-bar l-c-s">
                <div class="row">
                    <div class="col-xs-4 col-md-4 col-lg-4 text-center" [class.col-xs-6]="singleForumPost.user_id != userID">
                        <a (click)="increaseLikes(singleForumPost.forum_post_id)" class="lcs-opt">
                            <mat-icon class="md-inactive">
                                thumb_up
                            </mat-icon>
                            <span class="icon_post_show">Like</span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-md-4 col-lg-4 text-center" [class.col-xs-6]="singleForumPost.user_id != userID" (click)="focusComment()">
                        <a class="lcs-opt">
                            <mat-icon class="md-inactive">
                                insert_comment </mat-icon>
                            <span class="icon_post_show">Comment</span>
                        </a>
                    </div>
                    <div *ngIf="singleForumPost.user_id != userID" class="col-xs-4 col-md-4 col-lg-4 text-center">
                        <a (click)="userDetail?share = !share:null" class="lcs-opt">
                            <mat-icon class="md-inactive">share</mat-icon>
                            <span class="icon_post_show">Share</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="comment-section">
                <div *ngIf="comments && showComments" class="comment-sec">
                    <div *ngIf="comments_counter > 2" class="com-status-bar">
                        <span><a class="see-more more-comments" (click)="loadMoreComments()">view previous comments</a></span>
                    </div>
                    <ul>
                        <li *ngFor="let comment of comments">
                            <app-forum_post-comment [comment]="comment" [friendData]="friendData" [counter]="comments_counter" (notReply)="notReply = false"></app-forum_post-comment>
                        </li>
                    </ul>
                </div>
                <!--comment-sec end-->
                <div class="post-comment" *ngIf="notReply">
                    <div class="cm_img" *ngIf="notReply">
                        <img *ngIf = "activeprofilePic" class="img-circle" [src]="activeprofilePic" width="40" height="40" alt="">
                        <div *ngIf = "!activeprofilePic" class="img-container-3 img-circle">
                            {{uFirstName[0].toUpperCase() + uLastName[0].toUpperCase()}}
                        </div>
                    </div>
                    <div class="comment_box outline_remove">
                    
                        <div #commentBox class="com-box outline_remove" contenteditable="true" data-text="write your comment" (keyup)="searchFriend($event)">
                        </div>
                        <div *ngIf="tagFound && filteredFriends.length" class="friend_list">
                            <ul>
                                <li *ngFor="let filteredFriend of filteredFriends" (click)="selectFriend(filteredFriend)"><img
                                src="assets/images/male.jpg" width="30" height="30" alt="" class="img-circle">
                                <span class="mrgn-left-5">{{filteredFriend.user_full_text_name}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--post-comment end-->
            </div>
        </div>
        <!--comment-section end-->
       <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="singleForumPost.user_id == userID" (click)="edit = !edit">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button (click)="submitReport()" mat-menu-item *ngIf="singleForumPost.user_id != userID">
                <mat-icon>report</mat-icon>
                <span>Report</span>
            </button>
        </mat-menu> 
    
   <app-create-forum_post *ngIf="edit" [postToEdit]="singleForumPost" (emitState)="edit = !edit" (emitUpdate)="updatePost($event)" [edit]="true"></app-create-forum_post>
    <app-share-forum_post *ngIf="share" [forum_postToShare]="singleForumPost" [forum_postUser]="userDetail" (emitState)="share = !share" (emitShare)="increaseShares($event)"></app-share-forum_post>