.chat-box{
    position:relative;
    width:288px;
    height:328px;
    border:1px solid grey;
    border-bottom: 0;
    background-color: aliceblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float:right;
    margin-right: 20px;
    bottom:0;
    
}

.chat-header {
    height: 200px;
    color: #006cb5;
    height: 11%;
    width: 100%;
    font-weight: bolder;
    border-bottom: 4px solid #999;
    background-color: #ffffff;
    font-size: 16px;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    text-transform: capitalize;
}

.header-name:nth-child(1){

    margin-left:20px;
    
}

.header-content span.pull-right span {

    margin-right:5px;

}

.chat-body{

    width:100%;
    height: 259px;
    overflow-y: scroll

}
.chat-bottom{

    position:absolute;
    bottom:0;
    width:100%;
    border-top:1px solid #c5c5c5;
    max-height: 150px;
}

.chat-textbox {
    width:85%;
    padding:10px;
    border:0;
    
}

.send-btn {
           color:#4267b2   
}

.inline{
         display:inline-block;
}

.com-box {
    width: 100%;
    border: 1px solid grey;
    padding: 5px;
    max-height: 150px;
    overflow-y: scroll;
    background-color: #fff;
  }

  .mrgn-left-5 {
    margin-left: 5px
  }

  .friend_list{
	
    width:200px;
    background-color: white;
    border: 1px solid grey;
    border-radius:5px;
  
    }
  
   .friend_list ul li{
  
      padding: 10px 5px;
      
    }
  
    .friend_list ul{
  
      padding-left:0;
  
    }
    [contentEditable=true]:empty:not(:focus):before{
        content:attr(data-text)
    }

    .chat-box-img img {
        border-radius: 100px;
        position: relative;
        top:-4px;
        width: 20px;
        height: 20px;
        margin: 5px 5px 5px 0px;
        border: 2px solid #c4c4c4;
        border-radius: 100px;
    }