    <div class="chat-box">
    <div class="chat-header">
        <div class="header-content">
            <!-- <span class="header-name">{{user.first_name}}</span> -->
            <span class="chat-box-img">
                <img  alt="" height="25" width="25" [src]="userImage?userImage:'assets/images/img-avatar.png'">
            </span>
            <span *ngFor="let curUser of allUsers; index as i" class="header-name"><a><span class="cursor" *ngIf="i==0"
                        (click)='seeFriendProfile(curUser.user_id)'>{{curUser.first_name}}</span></a><a><span class="cursor"
                        *ngIf="i==1" (click)='seeFriendProfile(curUser.user_id)'>,{{curUser.first_name}}</span></a>
                <span *ngIf="i==2">...</span>
            </span>
            <span class="pull-right"><!--<span> <i class="material-icons">
            videocam
            </i></span><span><i class="material-icons">
              phone_in_talk
              </i></span> -->
            <span class="cursor"><i class="material-icons" (click)='triggerMenu()' [matMenuTriggerFor]="menu" aria-hidden="true">
            settings
            </i></span> <span class="cursor" (click)="remove()"><i class="material-icons">
              cancel
              </i></span>
            </span>
        </div>
    </div>

    <div #chatBody class="chat-body">

        <section *ngIf="createChatGroup">

            <app-auto-complete [allFriends]="friends" (valueChange)='getSelectedTempfriendsforChatGroup($event)'> </app-auto-complete>


        </section>
        <div *ngIf="user[0].messages" style="width:100%">
            <div *ngFor="let msg of user[0].messages" style="width:100%">
                <app-chat-message [msg]="msg" (emitmsg)="getMsg($event)"></app-chat-message>
            </div>
        </div>


    </div>

    <div class="chat-bottom">
        <!-- <form #chatForm="ngForm" (ngSubmit)="submitChat();">

          <input type="text" class="form-control" name="msgbox" [(ngModel)] = "currentMsg" placeholder="start conversation">
          
       </form> -->
        <div *ngIf="tagFound && filteredFriends.length " class="friend_list">

            <ul>
                <li *ngFor="let filteredFriend of filteredFriends" (click)="selectFriend(filteredFriend)"><img src="assets/images/img-avatar.png" width="30" height="30" alt="" class="img-circle"><span class="mrgn-left-5">{{filteredFriend.user_full_text_name}}</span></li>
            </ul>
        </div>
        <div #chatBox class="com-box" contenteditable="true" data-text="start conversation" (keyup)="searchFriend($event)">

        </div>

        <div class="chat-emoji"></div>
    </div>

</div>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="createChatGroup = !createChatGroup">
 
      <mat-icon>person_add</mat-icon>
    <span>Create Group</span>
  </button>
    <button mat-menu-item>
   
      <mat-icon>notifications_off</mat-icon>
    <span>Mute Conversation</span>
  </button>
    <button mat-menu-item>
    <mat-icon>voicemail</mat-icon>
    <span>Ignore Messages</span>
  </button>
    <button mat-menu-item>
    <mat-icon>report</mat-icon>
    <span>Block</span>
  </button>
</mat-menu>