.example-button-toggle-label {
    display: inline-block;
    margin: 16px;
}

.example-small-box,
.example-large-box {
    align-items: center;
    justify-content: center;
    margin: 16px;
    border-radius: 8px;
}

.example-small-box {
    min-height: 100px;
    min-width: 300px;
    max-width: 400px;
}

.people-row {
    border: 1px solid #c5c5c5;
    padding: 3px;
    border-radius: 6px;
    margin-bottom: 12px;
    box-shadow: 0px 0px 7px 1px #c5c5c5;
}

.pad {
    padding: 0px 20px;
}

.avatar {
    padding-left: 10px;
    margin: auto;
    padding-top: 10px;
}

.mrgn_0 {
    margin-left: 0px;
    margin-right: 0px;
}

.pad_0 {
    padding: 0px;
}

.req_btn {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10px;
}

.nm_request {
    color: black;
    text-transform: capitalize;
}

.pad_tp_6 {
    padding-top: 6px;
}

.example-button-toggle-label {
    display: inline-block;
    margin: 16px;
}

.pd_left {
    padding-left: 15px;
}

.alert {
    padding: 6px;
}

.black {
    color: black;
    margin: unset;
    padding: unset;
}