<div class="row">
    <div class="col-md-12">
       <h3 style="margin-bottom:0"><a class="cursor" (click) = "sendModule()">{{module.module_name}}:[{{module.course}}]</a></h3>
    </div>
    <div class="col-md-12">
       <p>{{module.module_description}}</p>
    </div>
    
 </div>
 