<body>

    <div class="row headermain">
        <div class="container">
            <div class="col-md-7 mrgn_1">

                <a title=""><img src="assets/images/scholars_logo.png" width="300" height="30" alt=""></a>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="container mrgn_40">
            <div class="col-md-6 col-md-offset-3">
                <div class="brder bx_shdw">
                    <div class="row">
                        <div class="col-md-12">


                            <h3 class="">Verify your Account</h3>

                            <div class="row  alert-success wrongpassword" *ngIf="passnotmatch==true">
                                <div class="col-md-12">
                                    <strong>Entered password don't match</strong>
                                </div>
                            </div>
                            <div class="row  alert-success wrongpassword" *ngIf="passChanged==true">
                                <div class="col-md-12">
                                    <strong>Your password has been changed</strong>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 pad_20">

                            <form #verifyForm="ngForm" class="group-form" *ngIf="formVisible==true">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input class="form-control" autocomplete="off" type="password" placeholder="new password" name="newPassword" [(ngModel)]="newPassword" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input class="form-control" autocomplete="off" type="password" placeholder="Re-enter your password" name="repeatPassword" [(ngModel)]="repeatPassword" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input class="form-control" autocomplete="off" placeholder="Mobile no" type="text" name="mobileno" [(ngModel)]="mobileno" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-9 col-xs-8 text-right pad_20">
                                        <div class="form-group">

                                            <button class="btn btn-primary btn_clr_blue" type="button" (click)="verifyUser();" [disabled]="!verifyForm.form.valid">submit</button>

                                        </div>
                                    </div>

                                </div>
                            </form>


                        </div>

                        <div class="" *ngIf="isVisible==true">
                            <form #otpForm="ngForm" class="group-form">
                                <div class="form-group">
                                    <div class="pd_btm_20">Please enter OTP sent to your mobile no.</div>
                                    <input type="text" placeholder="Enter your OTP" class="form-control col-md-5" #input id="input" required>

                                </div>
                                <div class="col-md-9 col-xs-8 text-right pad_20">
                                    <div class="form-group">

                                        <button type="button" class="btn btn-primary fnt_12" (click)="checkUser(input.value);otpForm.reset();" [disabled]="!otpForm.form.valid">Verify</button>

                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-2 text-right pad_20">
                                    <div class="form-group">
                                        <!-- <button type="button" (click)="cancelUser()" class="btn btn-default fnt_12 form-control"> Cancel</button> -->
                                        <button type="button" class="btn btn-success fnt_12" (click)="cancelUser()"> Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>




        </div>


    </div>
    <div class="footy-sec footer_Sticky headermain">
        <div class="container mrgn_20_tp_btm">
            <ul>
                <li>
                    <a href="#" title="">Help Center</a>
                </li>
                <li>
                    <a href="#" title="">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" title="">Community Guidelines</a>
                </li>
                <li>
                    <a href="#" title="">Cookies Policy</a>
                </li>
                <li>
                    <a href="#" title="">Career</a>
                </li>
                <li>
                    <a href="#" title="">Forum</a>
                </li>
                <li>
                    <a href="#" title="">Language</a>
                </li>
                <li>
                    <a href="#" title="">Copyright Policy</a>
                </li>
            </ul>
            <p>
                <img src="assets/images/copy-icon.png" alt="">Copyright 2018</p>
        </div>
    </div>
    <!--footy-sec end-->



</body>