.logo i {
    font-size: 31px;
    margin-right: 4px;
    word-spacing: 14px;
}

.logo {
    color: white;
    margin: 0;
    font-size: 30px;
    padding: 4px 0;
    padding-bottom: 15px;
}

.max_height_30 {
    max-height: 30px;
}

.clr_wt {
    color: #fff;
}

.mrgn_tp_20 {
    margin-top: 20px;
}

.mrgn_tp_3 {
    margin-top: 3px;
}

.mrgn_tp_40 {
    margin-top: 40px;
}

.mrgn_tp_20 {
    margin-top: 20px;
}

.mrgn_tp_0 {
    margin-top: 0px;
}

.headermain {
    background-color: #006cb5;
}

.fnt_12 {
    font-size: 12px;
}

.mrgn_20_tp_btm {
    margin-top: 15px;
    margin-bottom: 15px;
}

.formsection {
    margin-top: 10px;
    padding-top: 10px;
}

.form-control-login {
    width: 100%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
}

.wrongpassword {
    background-color: #006cb5;
    border: 0;
    border-radius: 2px;
    border: 1px solid #c5c5c5;
    box-shadow: 0 0 7px 1px #c5c5c5;
    color: #fff;
    padding: 6px
}

.passchange {
    background-color: lightgreen;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
    color: #fff;
}

.pdt-28 {
    padding-top: 28px;
    padding-left: 12%;
}

.mrgn_1 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.btn-login {
    padding: 1px 7px;
}

.nav-container {
    margin-bottom: 20px;
}

.multibox {
    padding-left: 0px;
    padding-bottom: 10px;
}

.clr_white {
    color: #fff
}

.customborder {
    border-block-end: black;
    text-align: center;
    left: 25%;
}

.bx_shdw {
    box-shadow: 0px 0px 7px 0px #4d4949;
    padding-left: 20px;
    padding-right: 20px;
}

.brder {
    border: 1px solid #36323299;
}

.mrgn_40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.brder_btm {
    border-bottom: 1px solid #36323299;
}

.tex_white {
    color: white;
}

.pad_20 {
    padding-top: 20px;
    padding-bottom: 4px;
}

.pd_btm_20 {
    padding-bottom: 20px;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

.input {
    margin: 0%;
}

.bg-image {
    background-image: url("src/assets/images/scholor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width:320px) {
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
    }
}

.container {
    padding-bottom: 8px;
}


/* mobile in landscape  mode */

@media only screen and (min-width:321px) and (max-width:480px) {
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
    }
}


/* tablets */

@media only screen and (min-width:768px) and (max-width:1024px) {
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
        position: fixed;
    }
}


/* desktop and laptop  devices */

@media only screen and (min-width:1224px) {
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
        position: fixed;
    }
}


/* very large devices */

@media only screen and (min-width:1824px) {
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
        position: fixed;
    }
}