<div class="container">
  <div class="panel panel-info mrgn-tp-20">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Groups You Manage</a>
      </h4>

    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">

        <div>
          <ul>
            <li *ngFor="let group_detail of group_details">
              <a [routerLink]="['admingroup',group_detail.group_id]">{{group_detail.group_name}}</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
    
  </div>
  <router-outlet></router-outlet>
</div>