.mrgn-rt-5 {
    margin-right: 5px
}

.pdf {
     float: left
}

.fl-lt {
    float: left;
}

.img-cont {
    position: relative
}

.preview {
    position: absolute;
    top: 10px;
    color:white;
    background-color: #868cb3;
    width: 86%;
    border-radius: 8px;
}

.prev-img {
    width: 100%;
    height: 150px
}