    <div *ngIf="receivedUserDocumentData._albums">
        <div *ngFor="let image of receivedUserDocumentData._albums; let i=index" class="item img-row">
            <img class="img_ups" [src]="image.thumb" [title]="image.caption" (click)="open(i, receivedUserDocumentData._albums)" />
            <button type="button" class="btn  btn-edit download" (click)="downloadImage(image.id)">
                <i class="material-icons">save_alt</i>
                <a [href]="href"><span class="btn-relative">Download</span></a>
            </button>
        </div>
    </div>
    <ng-container *ngIf = "pdfContains">
            <div *ngFor="let pdf of pdfalbums" class="item img-row">
                    <a [href]="pdf.src" target="_blank"><img class="img_ups pdf" title='view pdf' src='assets/images/pdf.png' (click)="showPdf()" style="background-image: url('assets/images/pdf.png')" /></a>
                    <span class="caption">{{receivedUserDocumentData?.doc_name_by_user}}</span>
                    <button type="button" class="btn btn-edit" (click)="downloadPdf(pdf.pdfid)">
                            <i class="material-icons">save_alt</i>
                        <a [href]="pdfhref"><span class="btn-relative">Download</span></a>
                    </button>
            </div>
    </ng-container>
   


