.profilerow {
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid rgb(180, 180, 180)
}

.rowvalue {
    text-align: center
}

.editbox {
    background-color: grey;
}

.custom_container {
    margin-top: 8PX;
}

.float_right {
    float: right
}

.account-tabs-setting {
    margin-top: 6px;
}

.see-more {
    color: #676792;
    cursor: pointer;
}

.see-more:hover {
    text-decoration: underline
}

.img-row {
        display: table-caption;
}

.pdf {
    position: relative;
    width: 60px;
    height: 76px;
    cursor: pointer;
    border: 1px solid #fff;
}

.pdf-size {
    position: absolute;
    top: 10%;
    left: 7px;
    color: cornflowerblue
}

.pdf-btn-container {
    width: 100%;
    text-align: center;
    background-color: #474747
}

.image-gallery {
    float: left;
    padding: 0 6px 0px 20px;
    width: 100%;
}

.video-container {
    margin-top: 10px;
    float: left;
    padding: 5px 10px;
    text-align: center;
}

.fullwidth {
    width: 100%;
    height: 200px
}

.halfwidth {
    width: 50%;
    height: 200px
}

.com-status-bar {
    float: left;
    width: 100%;
    padding: 4px 10px;
}

.l-c-s {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5
}

.post-l-c-s {
    cursor: pointer;
}

.lcs-opt {
    cursor: pointer;
    color: initial
}

.lcs-opt:hover {
    text-decoration: none
}

.lcs-post {
    list-style-type: none;
    padding-top: 5px;
    margin-bottom: 0px
}

.lcs-post li {
    display: inline-block;
    margin-right: 18%;
    vertical-align: 5px
}

.img-frame {
    margin: 2px;
    border: 1px solid #fff;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.img-frame:hover,
.img-frame:focus,
.img-frame:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.pdf {
    position: relative;
    width: 60px;
    height: 76px;
    cursor: pointer;
    border: 1px solid #fff;
}

.pdf-size {
    position: absolute;
    top: 10%;
    left: 7px;
    color: cornflowerblue
}

.pdf-btn-container {
    width: 100%;
    text-align: center;
    background-color: #474747
}

.view-pdf {
    float: left;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (min-width:360px) and (max-width:740px) {
    .account-tabs-setting {
        margin-top: 54px;
    }
    fieldset {
        float: left;
        width: 100%;
    }
}

@media only screen and (min-width:375px) and (max-width:667px) {
    .account-tabs-setting {
        margin-top: 43px;
    }
    fieldset {
        float: left;
        width: 100%;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .account-tabs-setting {
        margin-top: -13px;
    }
    fieldset {
        float: left;
        width: 100%;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .account-tabs-setting {
        margin-top: -18px;
    }
    fieldset {
        float: left;
        width: 100%;
    }
}

.mrgin_top {
    margin-top: 32px;
}

.mrgn_top {
    margin-top: 200px;
}

.img_ups {
    border: 2px solid #cdcdcd;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    float: none;
}

.clr_wt {
    color: white;
}

.profile_set_issue {
    border-left: unset !important;
    box-shadow: unset !important;
    border-right: unset !important;
    border-bottom: unset !important;
    margin-bottom: 20px;
}

.inner_lists {
    padding: 10px;
    border: 1px solid #f5e3e3;
    box-shadow: 0px 0px 6px 0px #a5a2a2;
    border-radius: 12px;
    margin-bottom: 20px;
}

.break {
    word-break: break-all;
}

.pdf-btn-container {
    width: 100%;
    text-align: center;
    background-color: #474747
}

.profile_set_issue {
    border-left: unset !important;
    box-shadow: unset !important;
    border-right: unset !important;
    border-bottom: unset !important;
    margin-bottom: 20px;
}

.mg_tp {
    margin-top: 10px;
}

.error {
    color: red;
}
/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #ffffff; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }
  .td-200{
    width: 142px !important;
}

.image-gallery{
    float: left;
    padding: 0 24px 0px 20px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
    float:none;
}

.caption {
    display: block;
    text-align: center;
    clear:both;
    text-transform: capitalize;
}
.btn-relative{
    top: -3px;
    position: relative;
    font-weight: bold;
    color: #505050;
}
.btn-edit {
    background-color: #ffffff;
    border-color: #dedede;
    border-radius: 5px;
    color: #505050;
    padding: 2px 10px 2px 3px;
    font-size: small;
    width: 111px;
}
p {
    font-size: 12px !important;
    line-height: 15px !important;
    color: #666666;

}
table td {
    vertical-align: middle !important;
}

.mrgn-tp-5 {
    margin-top: 5px
}

.download {
    display: block;
    margin: auto;
    margin-top: 10px;
}