<div *ngIf="freindDetail" (mouseenter)="active = !active" (mouseleave)="active = !active">
    <div (click)="createBox();" class="tooltip1">
        <div class="button" *ngIf="friend.friendsMsges.length">
            <span class="popup-windows button__badge">{{friend.friendsMsges.length}}</span>
        </div>

        <img *ngIf = "profilePic" class="img-circle chat_image" [src]="profilePic" alt="">
        <div *ngIf = "!profilePic" class="img-container-3 img-circle">
            <span *ngIf = "firstName || lastName">{{firstName[0].toUpperCase() + lastName[0].toUpperCase()}}</span>
         </div>
        <span class="frnd_nm cursor capital">{{freindDetail.user_full_text_name}}</span>
        <span _ngcontent-c5="" class="tooltiptext">
            <div class="row mrgn_0">
                <div class="col-md-3 text-right">
                    <img _ngcontent-c5="" *ngIf = "profilePic" class="img-circle img_tool" [src]="profilePic">
                    <div *ngIf = "!profilePic" class="img-container-3 img-circle">
                        <span *ngIf = "firstName || lastName">{{firstName[0].toUpperCase() + lastName[0].toUpperCase()}}</span>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="capt">
                        <span class="capital">{{freindDetail.user_full_text_name}}</span>
                    </div>
                    <div>
                        <h4 class="grp_nm capital" *ngIf="activeUserEducationalData?.institution_id">{{activeUserEducationalData.institution_id}}</h4>
                        <h4 class="grp_nm capital" *ngIf="activeUserPersonalData?.address_id">{{city}}</h4>
                    </div>
                </div>
            </div>
        </span>
    </div>
</div>