.pro-popup {
    border: 1px solid #c5c5c5;
    box-shadow: 0px 0px 1px 2px #c5c5c5;
    width: 250px;
    height: 150px
}

.status {
    height: 6px;
    width: 6px;
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
}

.vm {
    vertical-align: middle;
}

.bg-success {
    background-color: #0fd793 !important;
}


/* by dheeraj */

.chat_image {
    min-height: 35px;
    max-width: 35px;
    border: 1px solid #02c61e;
    padding: 2px;
}

.frnd_nm {
    position: relative;
    top: 5px;
    left: 8px;
    text-transform: capitalize;
    font-size: 14px;
}

.tooltip1 {
    cursor: pointer;
}

.img_tool {
    width: 100%;
    min-height: 40px;
    min-width: 40px;
}

.capt {
    text-transform: capitalize;
}

.grp_nm {
    font-size: 10px;
    margin-top: 0px;
}

.mrgn_0 {
    margin-right: 0px;
    margin-left: 0px;
}

.tooltip1 .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #4aa5da;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: fixed;
    right: 200px;
    /* Position the tooltip */
    z-index: 1;
}

.tooltip1:hover .tooltiptext {
    visibility: visible;
}

.fl {
    float: left
}

.button {
    color: white;
    display: inline-block;
    position: relative;
    /* padding: 2px 5px; */
    right: 42px;
}


/* Make the badge float in the top right corner of the button */

.button__badge {
    background-color: #fa3e3e;
    border-radius: 10px;
    color: white;
    padding: 1px 3px;
    font-size: 10px;
    top: -15px;
    /* right: 22px; */
}