<div class=" row max mrgn" *ngIf="video">
    <div class="col-sm-12">
        <img class="align" id={{video.ext_video_data_id}} class="cursor" width="600" height="400" (click)="playVideo(ev,video.ext_video_data_id,video.video_id)" [src]="video.standard_thumbnail_url?video.standard_thumbnail_url:video.medium_thumbnail_url">

        <iframe class="align" id={{video.video_id}} style="display:none" width="400" height="200" frameborder="0" allowfullscreen="1" title="YouTube video player" [src]="video.video_url|safe"></iframe>



    </div>
    <div class="col-sm-12 ">

        <h4 class=" group inner list-group-item-heading">
            {{video.title }}</h4>
        <p class="group inner break list-group-item-text">
            {{video.description |slice:0:400}}</p>



    </div>
</div>