<div class="chat-box">
  <div class="chat-header">
      <div class="header-content">

         <span class="header-name">Vijay</span> <span class="pull-right"><span><i class="fa fa-video-camera" aria-hidden="true"></i></span><span><i class="fa fa-phone" aria-hidden="true"></i></span>  
         <span><i class="fa fa-cog" aria-hidden="true" [matMenuTriggerFor]="menu"></i></span>
        
         <span (click)="remove()"><i class="fa fa-times" aria-hidden="true"></i></span>
           </span>
      </div>

   
    
  </div>  

   <div class="chat-body">
     
<!-- <section id='chipdisplay'>
 <app-auto-complete [allFriends]="friends"> 

    <button mat-stroked-button color="primary"(click)='mainCreateChatGroup()' >Done</button>
 </app-auto-complete>

 
                        </section>

      -->

      <p>Hello groups </p>

   </div>

   <div class="chat-bottom">

     <div class="chat-textbox inline" contenteditable="true" [textContent]="currentMsg" (input)="currentMsg = $event.target.textContent">

         Insert your text 
         
     </div>
     <div class="send-btn inline">
       <button><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
     </div>
     <div class="chat-emoji"></div>
   </div>

</div>






<mat-menu #menu="matMenu">
<button mat-menu-item>

    <mat-icon>person_add</mat-icon>
  <span>Create Group</span>
</button>
<button mat-menu-item >
 
    <mat-icon>notifications_off</mat-icon>
  <span>Mute Conversation</span>
</button>
<button mat-menu-item >
  <mat-icon>voicemail</mat-icon>
  <span>Ignore Messages</span>
</button>
<button mat-menu-item>
  <mat-icon>report</mat-icon>
  <span>Block</span>
</button>
</mat-menu>