

.mrgn-lt-5 {
    float: right;
    color: white
}

 li {

    background-color: #11346e;
    padding: 4px 7px 4px 7px;
    display: block;
    margin-bottom: 4px;
  }
  
   li>span>a {
  
  color: white;
  text-decoration: none;
  cursor: pointer;
  }

  .pointer {
      cursor: pointer
  }