<div class="row">
   <div class="col-md-12">
      <h3 style="margin-bottom:0"><a class="cursor" (click) = "sendCourse()" >{{course.course_name}}</a></h3>
   </div>
   <div class="col-md-12">
      <p>{{course.course_description}}</p>
   </div>
   
</div>
