<mat-form-field class="example-chip-list" >
  <mat-chip-list #chipList>

     
    <mat-chip
      *ngFor="let friend of friends;let index = index"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(friend,index)">
      {{friend.first_name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="search"
      #friendInput
      [formControl]="friendCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
      
      >


  </mat-chip-list>


  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let friend of filteredFriends | async" [value]="friend">
      {{friend.first_name}}
    </mat-option>
  </mat-autocomplete>
  <button mat-button color="primary" class="done" (click)="sendSelectedDatatoTempChatbox();">Done</button> 
</mat-form-field>

