
<mat-card class="container mrgn-tp-80 mrgn-bt-100 mat-elevation-z12">
  <mat-tab-group [color]="color" [backgroundColor]="bgColor">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">home</mat-icon>
        Home
      </ng-template>
    
    
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 ">
            <div class="row">
              <h1 class="course-head">Forum Manager</h1>
              <div class="col-md-12" *ngIf="forumAdded">
                <div class="alert alert-dismissible alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong> Congrats!</strong> Forum Added Successfully.
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
          <mat-card class="col-md-2 course-side mat-elevation-z6">
            <h3>My Forums
            </h3>
            <li *ngFor="let forum of userForums">
              <a (click)="curForum = forum">{{forum.forum_name}}</a>
      
            </li>
          </mat-card>
          <div class="col-md-8">
          <div class="panel-group" *ngIf="newForum" style="margin-top:80px">
            <div class="panel panel-default" style="padding:20px">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse1">New Forum</a>
                </h4>
              </div>
              <app-forum-view *ngIf="curForum" [forum]="curForum"></app-forum-view>
              
            
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row course-main">
                    <div class="col-md-12 pd-tp-10">
                      <form [formGroup]="basicGroup">
                        <mat-form-field class="example-full-width mrgn-2-per" appearance="outline">
                          <mat-label>Forum Name</mat-label>
                          <input matInput placeholder="Enter Forum Name" value="" formControlName="basicCtrl" required>
                        </mat-form-field>
                        <mat-form-field class="example-full-width mrgn-2-per" appearance="outline">
                          <mat-label>Forum Description</mat-label>
                          <input matInput placeholder="Enter Forum Description" value="" formControlName="basicCtrl1"
                            required>
                        </mat-form-field>
                        <mat-form-field class="example-full-width mrgn-2-per" appearance="outline">
                          <mat-label>Custom Tag Line</mat-label>
                          <input matInput placeholder="Enter Custom Tag Line" value="" formControlName="basicCtrl2" required>
                        </mat-form-field>
                        <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
                          <mat-label>Forum Type</mat-label>
                          <select matNativeControl formControlName="detailCtrl3" required>
                            <option value="open">Open</option>
                            <option value="Closed">Closed</option>
                            <option value="paid">Activated</option>
                            <option value="paid">Unactivated</option>
      
                          </select>
                        </mat-form-field>
                        <mat-form-field class="example-full-width mrgn-2-per" appearance="outline">
                          <mat-label>enabled_for_groups</mat-label>
      
                          <select matNativeControl formControlName="detailCtrl3" required>
                            <option value="Public">Public</option>
                            <option value="Private">Private</option>
      
      
                          </select>
      
                        </mat-form-field>
      
                        <div class="quart-width " style="display:inline">
      
                          <button mat-raised-button color="primary" (click)="clickUpload()">Forum Image</button>
                          <input #upload type='file' name="file" accept="image/*" style="display:none" (change)="coMoIMG(upload)" />
                          <ng-container *ngIf="imgResponse.message">
                            <div *ngIf="imgResponse.message >0" style="border:1px solid grey; width:100%;margin-top: 5px">
                              <div class="up-progress" role="progressbar" [style.width.%]="imgResponse.message" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">
                                {{imgResponse.message}}
                              </div>
                            </div>
                          </ng-container>
                        </div>
                        <div>
                          <button (click)="createForum()">Submit</button>
                        </div>
                        <!-- <div class="mrgn-tp-10">
                          <app-course-thumbnail *ngFor="let imageSRC of imageSRCS; index as i" [info]="imageSRC" [edit]="false"
                            [index]="i"></app-course-thumbnail>
                        </div> -->
                        <!-- <button (click)="forumpostview()">forum post</button> -->
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        <mat-card class="col-md-2 course-side mat-elevation-z6">
        <h1>My joined Forums</h1>
        <li *ngFor="let forum of dataForJoinedForums">
          <a (click)="curForum = forum">{{forum.forum_name}}</a>
  
        </li>
        </mat-card>
        <br />
       
        </div>
        </div>
       
      </div>
      
    </mat-tab>
    </mat-tab-group>
    </mat-card>