.mrgn-tp-80 {
    margin-top: 80px
}

.course-home {
    background-color: #f2f5f9;
    padding: 10px
}

.example-form {
   width: 100%;
  }
  
  .example-full-width {
    width: 48%;
    
  }

  .mrgn-2-per {
      margin-right: 2%
  }

  .mrgn-tp-20 {
      margin-top: 20px
  }

  .mrgn-tp-10 {
      margin-top: 10px
  }

  .course-form {
    border: 1px solid grey;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    
 }

 .mrgn-rt-18 {
     margin-right: 18px
 }

 .course-side {
     height: auto;
     border: 1px solid grey;
     border-radius: 5px;
 }

 .course-main {
      border: 1px solid grey
 }

 .course-head {
    text-align: center;
    background-color: #006cb5;
    padding: 10px;
    color: #fff;
    margin-bottom: 0;
 }
  
 .pd-tp-10 {
    padding-top: 10px;
    padding-bottom: 10px;
 }

 .course-full-width {
     width: 100%
 }

 .quart-width {
     width: 24%
 }

 .mrgn-1-per {
     margin-right: 1%
 }

 .width-30 {
    width: 30%
 }

 .course-side li {
     cursor: pointer;
     padding: 2px;
    font-size: medium;
    background-color: lightgray;
    margin-bottom: 2px;
    border-radius: 8px;
    font-weight: 600;
 }

 .mrgn-bt-100 {
     margin-bottom: 100px
 }

 .course-list li{
    float: left;
    display: block;
    padding: 7px;
    background-color: #bacfcf;
    border-radius: 5px;
    margin-right: 25px;
    width: 253px;
    font-size: 24px;
    text-align: center;
    
}

.course-menu {
    color: #fff;
    display: inline-block;
    cursor: pointer;
}
 
.menu-container {
    background-color: darkslategrey;
    padding: 2px;
    margin-bottom: 10px;
}

.last-btn {
    margin-left: 5px;
    margin-right: 13px;
}

.path-span {
    font-size: 16px
}

.path-icon {
    top: 6px
}

.path-cont {
    padding-top: 2px;
    padding-bottom: 2px;
}
.course-list a:link {
    color: initial;
  }
  
  /* visited link */
.course-list a:visited {
    color: initial;
  }
  
  /* mouse over link */
  .course-list a:hover {
    color: hotpink;
  }
  
.course-list a:active {
    color: red !important
}

.red-link {
    color: red
}