<div class="comment-list">
    <div class="bg-img">
        <img *ngIf="userPic" [src]="userPic" width="40" height="40" alt="">
        <div *ngIf="!userPic" class="img-container-3 img-circle">
            <span *ngIf="uFirstName || uLastName">{{uFirstName[0].toUpperCase() + uLastName[0].toUpperCase()}}</span>
        </div>
    </div>
    <div class="comment">

        <div class="com-upper">
            <div>
                <h3 *ngIf="userDetail">{{userDetail.user_full_text_name}}</h3>
            </div>
            <div>
                <p [innerHTML]="comment.message"></p>
            </div>
            <span *ngIf="comment.like_counter" class="like-of-com">
        <a class="lcs-opt">
          <mat-icon>thumb_up</mat-icon>
        </a>
        <span *ngIf="!you_like && comment.like_counter">{{comment.like_counter }}</span>
            <span *ngIf="you_like">you
          <span *ngIf="comment.like_counter > 1">and {{ comment.like_counter - 1 }} other </span>
            </span>like</span>
        </div>
        <div>
            <a class="re-li-post cursor" (click)="likeComment()">Like</a>
            <a class="re-li-post cursor" (click)="showReplies = !showReplies;showBox = !showBox; emitReply()">Reply</a>
            <a class="re-li-post fs-10"> {{comment.creation_timestamp |date:'medium'}}</a>
        </div>

    </div>
</div>
<!--comment-list end-->

<ul>
    <li class="reply-link" *ngIf="replies.length">
        <i class="fa fa-undo fa-rotate-180"></i>
        <a (click)=" showReplies = !showReplies">{{replies.length}} replies
    </a>
    </li>
    <ng-template [ngIf]="showReplies && replies.length">

        <li *ngFor="let reply of replies">

            <!-- <app-reply [reply] = "reply"></app-reply> -->

            <app-forum_post-comment [comment]="reply" [friendData]="friendData" [counter]="counter" (notReply)="showBox = false"></app-forum_post-comment>
            <!--comment-list end-->
        </li>

    </ng-template>
    <li>
        <div *ngIf="showBox" class="row reply-box">
            <div class="col-sm-2">
                <img *ngIf="profilePic" class="img-circle" [src]="profilePic" width="40" height="40" alt="">
                <div *ngIf="!profilePic" class="img-container-3 img-circle">
                    {{firstName[0].toUpperCase() + lastName[0].toUpperCase()}}
                </div>
            </div>
            <!-- <form #commentInside="ngForm" (ngSubmit)="submitReply()" autocomplete="off">
    
        <input type="text" [(ngModel)]="reply.$message" name="reply" placeholder="reply">
        
      </form> -->
            <div class="comment_box outline_remove col-sm-10">
                <div #replyBox class="com-box outline_remove" contenteditable="true" data-text="reply" (keyup)="searchFriend($event)">
                </div>
                <div *ngIf="tagFound && filteredFriends.length" class="friend_list">

                    <ul>
                        <li *ngFor="let filteredFriend of filteredFriends" (click)="selectFriend(filteredFriend)">
                            <img src="assets/images/img-avatar.png" width="30" height="30" alt="" class="img-circle">
                            <span class="mrgn-left-5">{{filteredFriend.user_full_text_name}}</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </li>
</ul>