.mrgn-tp-80 {
    margin-top: 80px
}

.course-home {
    background-color: #f2f5f9;
    padding: 10px

}
.caret {
    display: none;
  }
 

.container-fluid{
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    
}

.example-form {
   width: 100%;
  }
  
  .example-full-width {
    width: 48%;
    -webkit-appearance: none;
    -moz-appearance: none
    
  }

  .mrgn-2-per {
      margin-right: 2%
  }

  .mrgn-tp-20 {
      margin-top: 20px
  }

  .mrgn-tp-10 {
      margin-top: 10px
  }

  .course-form {
    border: 1px solid grey;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    
 }

 .mrgn-rt-18 {
     margin-right: 18px
 }

 .course-side {
     height: 700px;
     border: 1px solid grey;
     border-radius: 5px;
 }

 .course-main {
      border: 1px solid grey
 }

 .course-head {
    text-align: center;
    background-color: #006cb5;
    padding: 10px;
    color: #fff;
 }
 select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
  .caret {
    display: none;
  }
 .pd-tp-10 {
    padding-top: 10px;
    padding-bottom: 10px;
 }

 .course-full-width {
     width: 100%
 }

 .quart-width {
     width: 24%
 }

 .mrgn-1-per {
     margin-right: 1%
 }

 .width-30 {
    width: 30%
 }

 .course-side li {
     cursor: pointer;
     padding: 2px;
    font-size: medium;
    background-color: lightgray;
    margin-bottom: 2px;
    border-radius: 8px;
    font-weight: 600;
 }

 .mat-input-element {
     font-size: 14px !important;
     color: unset !important
   
 }

 mat-label {
     color: green !important
 }

 .mrgn-bt-10 {
     margin-bottom: 10px
 }

 .mrgn-tp-100 {
     margin-top:100px
 }

 .course-list li{
    float: left;
    display: block;
    padding: 7px;
    background-color: #bacfcf;
    border-radius: 5px;
    margin-right: 25px;
    width: 253px;
    font-size: 24px;
    text-align: center;
    
}

.red-link {
    color: red
}

.path-icon {
    top: 6px
}

.has-path {
    background-color: #006cb5;
    color: #fff
}