<mat-card class = "mat-elevation-z10">
<form  [formGroup]="basicGroup">
<div class="col-md-10">
  <div class="row">
    <div class="col-md-2">
        <div *ngIf="coursePic" style="float: right;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">
            <img [src]="coursePic" alt="" width="60" height="60">
          </div>
    </div>
  <div class="col-md-10">
  <h1 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;margin-right: 180px;height: 71px;">{{this.course.course_name}}</h1>
</div>
</div>
</div>
</form>
<div class="container-fluid ">
  <div class="row mrgn-bt-10 mrgn-tp-100" *ngIf = "!readable">
    <div class="col-md-12">
      <button mat-raised-button color="primary" style="margin-right:10px" (click)="joinCourse()">Join Course</button>
    </div>
  </div>
 <div *ngIf = "!courseModules" class="row course-main">
    <div class="col-md-12 pd-tp-10">
      <form [formGroup]="basicGroup">
        <mat-form-field class="example-full-width mrgn-2-per" appearance="outline">
          <mat-label>Course Name</mat-label>
          <input matInput placeholder="" formControlName="basicCtrl"  required value={{this.course.course_name}}>
        </mat-form-field>
       
        <mat-form-field class="example-full-width mrgn-2-per" appearance="outline">
          <mat-label>Heading</mat-label>
          <input matInput placeholder="" formControlName="imgCtrl1" required>
        </mat-form-field>
         
        <div *ngIf="coursePic" style="float: right;">
          <img [src]="coursePic" alt="" width="60" height="60">
        </div>
      

        <form [formGroup]="descGroup" style="margin-top: 15px">

          <mat-form-field class="course-full-width" appearance="outline">
            <mat-label>Course Description</mat-label>
            <textarea matInput placeholder="" formControlName="descCtrl1"></textarea>
          </mat-form-field>
        </form> 
         <div class="row" style="padding:15px">
          <div class="col-md-12" style="border:1px solid grey;padding-bottom:7px">
            <div class="row">
              <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Content(if
                any)</h4>
  
            </div>
            <div class="row">
              <div class="col-md-6">
               
  
              </div>
  
              <div class="col-md-6" *ngIf = "!edit && video">
                <h5 style="text-align:center">External Videos</h5>
                <img width="348"  class=" cursor" *ngIf="!showExt" (click)="showExt = !showExt" height="180" [src]="video.default_thumbnail_url?video.default_thumbnail_url:video.medium_thumbnail_url">
                <iframe  *ngIf="showExt" frameborder="0" allowfullscreen="1" title="YouTube video player"
                  width="348" height="180" [src]="video.video_url |safe"></iframe>
              </div>
  
             <div class="col-md-6">
              <form [formGroup]="extData">
                <mat-form-field class="course-full-width mrgn-2-per" appearance="outline">
                  <mat-label>External Video Links</mat-label>
                  <input matInput placeholder="" value="" formControlName="extDataCtrl1">
                </mat-form-field>
               </form>
             </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  

    
   

  <div class="row" *ngIf = "!courseModules">
    <div class="col-md-12 course-main mrgn-tp-10 pd-tp-10" style="margin-bottom:100px">
      <form [formGroup]="imgGroup">

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Course Type</mat-label>
          <select  matNativeControl formControlName="basicCtrl2" required>
            <option value="PRIVATE">Private</option>
            <option value="PUBLIC">Public</option>
          </select>
        </mat-form-field>

        <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
          <mat-label>Status</mat-label>
          <select matNativeControl formControlName="imgCtrl2" required>
            <option value="ACTIVE">ACTIVE</option>
            <option value="BLOCKED">BLOCKED</option>
            <option value="UNDER_REVIEW">UNDER_REVIEW</option>
            <option value="NON_ACTIVE">NON_ACTIVE</option>
            <option value="INITIATED">INITIATED</option>

          </select>
        </mat-form-field>

        <form [formGroup]="detailGroup" style="border:1px solid grey">
          <div class="row">
            <div class="col-md-12">
              <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Details</h4>
  
            </div>
          </div>
          <mat-form-field class="quart-width mrgn-2-per" style="margin-left:10px" appearance="outline">
            <mat-label>Category</mat-label>
            <input matInput placeholder="" formControlName="detailCtrl1" required>
          </mat-form-field>
  
          <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
            <mat-label>Is Educational</mat-label>
            <select matNativeControl formControlName="detailCtrl2" required>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </mat-form-field>
  
          <mat-form-field class="quart-width mrgn-2-per" appearance="outline">
            <mat-label>Language</mat-label>
            <select matNativeControl formControlName="detailCtrl3" required>
              <option value="Hindi">Hindi</option>
              <option value="English">English</option>
              <option value="Urdu">Urdu</option>
            </select>
          </mat-form-field>
  
        </form>
  
        <form [formGroup]="courseGroup" style="border:1px solid grey;margin-top: 15px">
          <div class="row">
            <div class="col-md-12">
              <h4 style="text-align:center;color:#fff;background-color: #006cb5;padding: 5px;margin-top: 0;">Course
                For</h4>
  
            </div>
          </div>
          <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
            <mat-label>Course</mat-label>
            <input matInput placeholder="" formControlName="courseCtrl1" required>
          </mat-form-field>
  
          <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
            <mat-label>Stream</mat-label>
            <input matInput placeholder="" formControlName="courseCtrl2" required>
          </mat-form-field>
  
          <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
            <mat-label>Class</mat-label>
            <input matInput placeholder="" formControlName="courseCtrl3" required>
          </mat-form-field>
  
          <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
            <mat-label>Sub-Class</mat-label>
            <input matInput placeholder="" formControlName="courseCtrl4" required>
          </mat-form-field>
  
          <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
            <mat-label>Subject</mat-label>
            <input matInput placeholder="" formControlName="courseCtrl5" required>
          </mat-form-field>
  
          <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
            <mat-label>Chapter</mat-label>
            <input matInput placeholder="" formControlName="courseCtrl6" required>
          </mat-form-field>
  
          <mat-form-field class="width-30 mrgn-2-per" style="margin-left:10px" appearance="outline">
            <mat-label>Concept</mat-label>
            <input matInput placeholder="" formControlName="courseCtrl7" required>
          </mat-form-field>
  
  
  
        </form>

      </form>
     
     

     

     <!-- Module List-->
     <hr>
      <ng-container>
        <h3>Modules List</h3>
        <div *ngIf="arrOfModules">
          <ul>
            <li *ngFor="let i of arrOfModules">
               <a >{{i.module_name}}</a> 
               <!-- <span *ngIf=""></span> -->
               <ul *ngFor="let j of i">
                <a (click)="moduleView(j)">{{j.module_name}}</a> 
                <div *ngIf="arrOfSubModules && (j.module_name == this.currentModule) ">
                  <li *ngFor="let k of arrOfSubModules[0]">
            <!---      <a>
                      {{k.module_name}}
                     </a> -->
                     <ul> 
                  
                       <a (click) ="moduleView(k)">---{{k.module_name}}</a>
                    
                      </ul>
                    
                  </li>
                </div>
               </ul>
            </li>
          </ul>
        </div>
        <hr>
        <app-course-search-module-view *ngIf="moduleShow" [module]="curModule"></app-course-search-module-view>
      </ng-container>
 </div>
 </div>
 </div>
 </div>
 </mat-card>
