<body>
    <div class="row headermain">
        <div class="container">
            <div class="col-md-7 mrgn_1">

                <a title=""><img class="img-responsive" src="assets/images/scholars_logo.png" width="300" height="30" alt=""></a>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="container mrgn_40">
            <div class="col-md-6 col-md-offset-3">
                <div class="brder bx_shdw" *ngIf="showLoginAlertSection==false">
                    <div *ngIf="showPassSection==true">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="">Reset Your Password</h3>
                                <div *ngIf="passnotmatch==true" class="row  alert-success wrongpassword">
                                    <div class="col-md-12">
                                        <strong>Entered password don't match</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12  pad_20">
                                <div class="form-group">
                                    <input type="password" class="form-control col-md-5" [(ngModel)]="password" placeholder="New Password">
                                </div>
                            </div>
                            <div class="col-md-12   pad_20">
                                <div class="form-group">
                                    <input type="password" class="form-control col-md-5" id="resetpass" #resetpass placeholder="Confirm Password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9 col-xs-8  text-right pad_20">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary fnt_12" (click)="updatePassword(password, resetpass.value)">Submit</button>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2 text-right pad_20">
                                <div class="form-group">
                                    <button type="button" class="btn btn-success fnt_12" (click)="cancelUser()"> Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showOtpSection==true">
                        <div class="row">


                            <div class="col-md-12">
                                <h3 class="">OTP Verification</h3>
                                <div *ngIf="otpnotmatch==true" class="row  alert-success wrongpassword">

                                    <div class="col-md-12">

                                        <strong>Entered OTP don't match</strong>


                                    </div>
                                </div>

                                <p>OTP sent to your registerd Email. Please check your Email</p>
                            </div>
                            <div class="col-md-12 pad_20">
                                <div class="form-group">

                                    <input type="text" class="form-control col-md-5" id="otp" #otp placeholder="Enter Your OTP">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-10 col-xs-8  text-right pad_20">
                                <div class="form-group">

                                    <button type="button" class="btn btn-primary fnt_12" (click)="verifyOtp(otp.value)">Verify</button>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2  text-right pad_20">
                                <div class="form-group">
                                    <button type="button" class="btn btn-success fnt_12" (click)="cancelUser()"> Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>






                <div *ngIf="showLoginAlertSection==true" class="alert alert-info alrt" role="alert">
                    <h4 class="alert-heading">Congratulations</h4>
                    <p>You have reset your password successfully. Now you can <strong>Log in </strong> &nbsp; with your new password.
                    </p>
                    <hr>
                    <p class="mb-0">want to log in? click <a class="alert-link" (click)="navigateToLogin()">Here</a></p>
                </div>




            </div>
        </div>
    </div>
    <div class="footy-sec footer_Sticky headermain">
        <div class="container mrgn_20_tp_btm">
            <ul>
                <li>
                    <a href="#" title="">Help Center</a>
                </li>
                <li>
                    <a href="#" title="">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" title="">Community Guidelines</a>
                </li>
                <li>
                    <a href="#" title="">Cookies Policy</a>
                </li>
                <li>
                    <a href="#" title="">Career</a>
                </li>
                <li>
                    <a href="#" title="">Forum</a>
                </li>
                <li>
                    <a href="#" title="">Language</a>
                </li>
                <li>
                    <a href="#" title="">Copyright Policy</a>
                </li>
            </ul>
            <p>
                <img src="assets/images/copy-icon.png" alt="">Copyright 2018</p>
        </div>
    </div>
    <!--footy-sec end-->
</body>