<section class="profile-account-setting capital">
    <div class="container custom_container">
        <div class="account-tabs-setting">
            <div class="row">
                <div *ngIf="update_message" class="row alert alert-dismissible alert-success">
                    <div class="col-md-12">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Well done!</strong> User Details Updated Successfuly.
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="acc-leftbar">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a (click)="activeMenu = '1'" [ngClass]="{active : activeMenu === '1'}" id="nav-user-tab"
                                data-toggle="tab" href="#nav-user" role="tab" aria-controls="nav-user" aria-selected="true">
                                <i class="material-icons">
                                    account_box
                                </i>
                                <span class="btn-relative-lrg">Personal Details</span>
                            </a>
                            <a (click)="activeMenu = '2'" [ngClass]="{active : activeMenu === '2'}" id="nav-edu-tab"
                                data-toggle="tab" href="#nav-edu" role="tab" aria-controls="nav-edu" aria-selected="true">
                                <i class="material-icons">
                                    book
                                </i>
                                <span class="btn-relative-lrg">Education Details</span>
                            </a>
                            
                            <!-- <a class="nav-item nav-link " (click)="activeMenu = '3'" [ngClass]="{active : activeMenu === '3'}" id="nav-acc-tab" data-toggle="tab" href="#nav-acc" role="tab" aria-controls="nav-acc" aria-selected="true"><i class="la la-cogs"></i>Account Setting</a>
                            <a class="nav-item nav-link" (click)="activeMenu = '4'" [ngClass]="{active : activeMenu === '4'}" id="nav-status-tab" data-toggle="tab" href="#nav-status" role="tab" aria-controls="nav-status" aria-selected="true"><i class="fa fa-line-chart"></i>Status</a> -->
                            <a (click)="activeMenu = '5'" [ngClass]="{active : activeMenu === '5'}" id="nav-password-tab"
                                data-toggle="tab" href="#nav-password" role="tab" aria-controls="nav-password"
                                aria-selected="true">
                                <i class="material-icons">
                                    lock
                                </i>
                                <span class="btn-relative-lrg">Change Password</span>
                            </a>
                            <!-- <a class="nav-item nav-link" (click)="activeMenu = '6'" [ngClass]="{active : activeMenu === '6'}" id="nav-notification-tab" data-toggle="tab" href="#nav-notification" role="tab" aria-controls="nav-notification" aria-selected="true"><i class="fa fa-flash"></i>Notifications</a>
                            <a class="nav-item nav-link" (click)="activeMenu = '7'" [ngClass]="{active : activeMenu === '7'}" id="nav-requests-tab" data-toggle="tab" href="#nav-requests" role="tab" aria-controls="nav-requests" aria-selected="true"><i class="fa fa-group"></i>Requests</a>
                            <a class="nav-item nav-link" (click)="activeMenu = '8'" [ngClass]="{active : activeMenu === '8'}" id="security-login-tab" data-toggle="tab" href="#security-login" role="tab" aria-controls="security-login" aria-selected="true"><i class="fa fa-user-secret"></i>Security
                                and Login</a>
                            <a class="nav-item nav-link" (click)="activeMenu = '9'" [ngClass]="{active : activeMenu === '9'}" id="privacy-tab" data-toggle="tab" href="#privacy" role="tab" aria-controls="privacy" aria-selected="true"><i class="fa fa-paw"></i>Privacy</a>
                            <a class="nav-item nav-link" (click)="activeMenu = '12'" [ngClass]="{active : activeMenu === '12'}" id="blockking-tab" data-toggle="tab" href="#blockking" role="tab" aria-controls="blockking" aria-selected="true"><i class="fa fa-cc-diners-club"></i>Blocking</a>
                            <a class="nav-item nav-link" (click)="activeMenu = '11'" [ngClass]="{active : activeMenu === '11'}" id="nav-deactivate-tab" data-toggle="tab" href="#nav-deactivate" role="tab" aria-controls="nav-deactivate" aria-selected="true"><i class="fa fa-random"></i>Deactivate
                                Account</a> -->
                        </div>
                    </div>
                    <!--acc-leftbar end-->
                </div>
                <div class="col-lg-9">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade in active" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
                            <div class="acc-setting" *ngIf="!edittogle">
                                <h3>Personal Details
                                    <span style="float:right">
                                        <button class="btn btn-edit" title="edit details" type="button" (click)="update_message = false;toggleme(); get_all_interests()">
                                            <i class="material-icons">
                                                edit
                                            </i>
                                            <span class="btn-relative">Edit Details</span>
                                        </button>
                                    </span>
                                </h3>
                                <div class="row profilerow">
                                    <div class="col-lg-3 col-xs-6">
                                        <i class="material-icons">
                                            face
                                        </i>
                                        <span class="btn-relative">Name</span>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 rowvalue capital" *ngIf="receivedUserData?.first_name">{{receivedUserData?.first_name
                                        +' '+receivedUserData?.last_name}}
                                    </div>
                                </div>
                                <div class="row profilerow">
                                    <div class="col-lg-3  col-xs-6">
                                        <i class="material-icons">
                                            settings_phone
                                        </i>
                                        <span class="btn-relative">Contact</span>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 rowvalue" *ngIf="receivedUserPersonalData?.mobile_number">{{receivedUserPersonalData?.mobile_number}}</div>
                                </div>
                                <div class="row profilerow">
                                    <div class="col-lg-3 col-xs-6">
                                        <i class="material-icons">
                                            email
                                        </i>
                                        <span class="btn-relative">Email</span>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 rowvalue" *ngIf="receivedUserAuthData?.email">{{receivedUserAuthData.email}}</div>
                                </div>
                                <div class="row profilerow">
                                    <div class="col-lg-3 col-xs-6">
                                        <i class="material-icons">
                                            cake
                                        </i>
                                        <span class="btn-relative">DOB</span>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 rowvalue" *ngIf="receivedUserPersonalData?.date_of_birth">{{receivedUserPersonalData?.date_of_birth
                                        | date:'medium':'+0530'}}</div>
                                </div>
                                <div class="row profilerow">
                                    <div class="col-lg-3 col-xs-6">
                                        <i class="material-icons">
                                            supervised_user_circle
                                        </i>
                                        <span class="btn-relative">Gender</span>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 rowvalue " *ngIf="receivedUserPersonalData?.gender_type">{{receivedUserPersonalData?.gender_type}}</div>
                                </div>
                                <div class="row profilerow">
                                    <div class="col-lg-3 col-xs-6">
                                        <i class="material-icons">
                                            home
                                        </i>
                                        <span class="btn-relative">Address</span>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 rowvalue" *ngIf="receivedUserPersonalData?.address_id">{{city}}</div>
                                </div>
                                <div class="row profilerow">
                                    <div class="col-lg-3 col-xs-6">
                                        <i class="material-icons">
                                            headset
                                        </i>
                                        <span class="btn-relative">Interests</span>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 rowvalue " *ngIf="receivedUserPersonalData?.interests_list">
                                        <label class="lbl capital" *ngFor="let item of receivedUserPersonalData.interests_list">{{item}},&nbsp;</label>
                                    </div>
                                </div>
                            </div>
                            <div class="" *ngIf="edittogle">
                                <form *ngIf="receivedUserPersonalData && receivedUserData && receivedUserAuthData">
                                    <fieldset>
                                        <legend>Edit Details:</legend>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="fname">First Name:</label>
                                                    <input type="text" name="fname" class="form-control" [(ngModel)]="receivedUserData.first_name">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="lname">Last Name:</label>
                                                    <input type="text" name="lname" class="form-control" [(ngModel)]="receivedUserData.last_name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="email">Email:</label>
                                                    <input type="email" class="form-control" name="email" [(ngModel)]="receivedUserAuthData.email">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="cnumber">Contact No:</label><br>
                                                    <ngx-intl-tel-input nationalMode=false autoHideDialCode=true
                                                        [preferredCountries]="['in','us','gb']" placeholder="mobile no"
                                                        [enablePlaceholder]="true" #phone="ngModel"
                                                        [enableAutoCountrySelect]="false" name="phone" [(ngModel)]="mobile_number"></ngx-intl-tel-input>
                                                    <span style="color:red" *ngIf="phone.touched && phone.errors ">
                                                        enter 10 digit mobile number
                                                    </span>
                                                    <!-- <input type="text" class="form-control" name="cnumber" *ngIf="receivedUserPersonalData" [(ngModel)]="receivedUserPersonalData.mobile_number"> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="dob">DOB:</label>
                                                    <input type="text" bsDatepicker [bsConfig]="datePickerConfig" class="form-control"
                                                        name="dob" *ngIf="receivedUserPersonalData" [(ngModel)]="receivedUserPersonalData.date_of_birth">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group" *ngIf="showaddress==false">
                                                    <label for="adress">Address &nbsp;</label>
                                                    <i (click)="showMoreOptions()" class="more-less glyphicon glyphicon-plus float_right"></i>
                                                </div>
                                                <div class="form-group " *ngIf="showaddress==true">
                                                    <label for="adress">Address &nbsp;</label>
                                                    <i (click)="hideMoreOptions()" class="more-less glyphicon glyphicon-minus float_right"></i>
                                                </div>
                                            </div>
                                            <div class="col-lg-6" *ngIf="showaddress==true">
                                                <div class="form-group">
                                                    <label for="cnumber">Street</label>
                                                    <input type="text" class="form-control" [(ngModel)]="street" name="street">
                                                </div>
                                            </div>
                                            <div class="col-lg-6" *ngIf="showaddress==true">
                                                <div class="form-group">
                                                    <label for="email">Area</label>
                                                    <input type="text" class="form-control" [(ngModel)]="area" name="area">
                                                </div>
                                            </div>
                                            <div class="col-lg-6" *ngIf="showaddress==true">
                                                <div class="form-group">
                                                    <label for="email">Landmark</label>
                                                    <input type="text" class="form-control" [(ngModel)]="landmark" name="landmark">
                                                </div>
                                            </div>
                                            <div class="col-lg-6" *ngIf="showaddress==true">
                                                <div class="form-group">
                                                    <label for="email">Plot no</label>
                                                    <input type="text" class="form-control" [(ngModel)]="plotno" name="plotno">
                                                </div>
                                            </div>

                                            <div class="col-lg-6" *ngIf="showaddress==true">
                                                <div class="form-group">
                                                    <label for="email">City</label>
                                                    <input type="text" class="form-control" [(ngModel)]="city" name="city">
                                                </div>
                                            </div>
                                            <div class="col-lg-6" *ngIf="showaddress==true">
                                                <div class="form-group">
                                                    <label for="cnumber">State</label>
                                                    <input type="text" class="form-control" [(ngModel)]="state" name="state">
                                                </div>
                                            </div>

                                            <div class="col-lg-6" *ngIf="showaddress==true">
                                                <div class="form-group">
                                                    <label for="zipcode">Zip Code</label>
                                                    <input type="text" class="form-control" [(ngModel)]="zip" name="zip">
                                                </div>
                                            </div>
                                            <div class="col-lg-6" *ngIf="showaddress==true">
                                                <div class="form-group">
                                                    <label for="cnumber">Country</label>
                                                    <input type="text" class="form-control" [(ngModel)]="country" name="country">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label for="dob">Interests:</label>
                                                    <!-- <label *ngFor="let userInterest of receivedUserPersonalData.interests_list" class="checkbox-inline">
                                                        <input type="checkbox" value="">{{userInterest}}
                                                    </label> -->
                                                    <mat-form-field>
                                                        <mat-select [formControl]="interests" multiple>
                                                            <mat-option *ngFor="let interest of interestsList" [value]="interest">{{interest}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 ">
                                                <div class="form-group">
                                                    <label class="radio-inline">
                                                        <input type="radio" name="gender" value="MALE" [(ngModel)]="receivedUserPersonalData.gender_type">Male
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="gender" value="FEMALE" [(ngModel)]="receivedUserPersonalData.gender_type">Female
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mrgn-tp-20">
                                            <div class="col-lg-6 ">
                                                <div class="form-group">
                                                    <button type="submit" (click)="updateuserDetails(); toggleme();"
                                                        class="btn btn-primary">Submit</button> &nbsp;&nbsp; &nbsp;
                                                    &nbsp;
                                                    <button (click)="toggleme(); " type="button" class="btn btn-success">Cancel</button>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>


                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-edu" role="tabpanel" aria-labelledby="nav-edu-tab">
                            <div class="acc-setting" *ngIf="!edittogle">


                                <h3>Education Details
                                    <span style="float:right">
                                        <button class="btn btn-edit" title="edit details" type="button" (click)="update_message = false; toggleme();">
                                            <i class="material-icons">
                                                edit
                                            </i>
                                            <span class="btn-relative">Edit Details</span>
                                        </button>
                                    </span>
                                </h3>

                                <div class="row profilerow">
                                    <div class="col-lg-3 col-xs-6">
                                        <i class="material-icons">
                                            school
                                        </i>
                                        <span class="btn-relative">
                                            Education Type
                                        </span>
                                    </div>
                                    <div class="col-lg-6  col-xs-6 rowvalue" *ngIf="receivedUserEducationalData">{{receivedUserEducationalData?.education_type_id}}</div>


                                </div>
                                <div class="row profilerow">
                                    <div class="col-lg-3 col-xs-6">
                                        <i class="material-icons">
                                            business
                                        </i>
                                        <span class="btn-relative">
                                            Institute
                                        </span>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 rowvalue" *ngIf="receivedUserEducationalData">{{receivedUserEducationalData?.institution_id}}</div>
                                </div>


                                <div class="row profilerow">
                                    <div class="col-lg-3 col-xs-6">
                                        <i class="material-icons">
                                            assignment
                                        </i>
                                        <span class="btn-relative">
                                            Course
                                        </span></div>
                                    <div class="col-lg-6 col-xs-6 rowvalue" *ngIf="receivedUserEducationalData">{{receivedUserEducationalData?.course_id}}</div>


                                </div>

                                <div class="row profilerow">
                                    <div class="col-lg-3 col-xs-6">
                                        <i class="material-icons">
                                            view_module
                                        </i>
                                        <span class="btn-relative">
                                            Stream
                                        </span></div>
                                    <div class="col-lg-6 col-xs-6 rowvalue" *ngIf="receivedUserEducationalData">{{receivedUserEducationalData?.stream_id}}</div>


                                </div>

                                <div class="row profilerow">
                                    <div class="col-lg-3 col-xs-6">
                                        <i class="material-icons">
                                            assessment
                                        </i>
                                        <span class="btn-relative">
                                            Class
                                        </span></div>
                                    <div class="col-lg-6 col-xs-6 rowvalue" *ngIf="receivedUserEducationalData">{{receivedUserEducationalData?.class_id}}</div>


                                </div>

                                <div class="row profilerow">
                                    <div class="col-lg-3 col-xs-6">
                                        <i class="material-icons">
                                            ballot
                                        </i>
                                        <span class="btn-relative">
                                            Section
                                        </span></div>
                                    <div class="col-lg-6 col-xs-6 rowvalue" *ngIf="receivedUserEducationalData">{{receivedUserEducationalData?.section_id}}</div>


                                </div>
                            </div>
                            <div class="" *ngIf="edittogle">
                                <form>
                                    <fieldset>
                                        <legend>Edit Details:</legend>
                                        <div class="row">
                                            <div class="col-lg-6 col-xs-12">
                                                <div class="form-group">




                                                    <label for="edutype">Education Type:</label>
                                                    <select name="edutype" class="form-control" [(ngModel)]="receivedUserEducationalData.education_type_id">
                                                        <option>-select your course-</option>

                                                        <option *ngFor="let edu_type of edu_types" [value]="edu_type.education_type_name">{{edu_type?.education_type_name}}</option>

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="institute">Institute:</label>
                                                    <select name="institute" class="form-control" [(ngModel)]="receivedUserEducationalData.institution_id">
                                                        <option>-select your Institute-</option>
                                                        <option *ngFor="let institute_type of institute_types" [value]="institute_type.institution_type_name">{{institute_type.institution_type_name}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="course">Course:</label>
                                                    <select name="course" class="form-control" id="course" [(ngModel)]="receivedUserEducationalData.course_id">
                                                        <option>-select your course-</option>
                                                        <option *ngFor="let course_type of course_types" [value]="course_type.course_name">{{course_type?.course_name}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="stream">Stream:</label>
                                                    <select name="stream" class="form-control" id="stream" [(ngModel)]="receivedUserEducationalData.stream_id">
                                                        <option>-select your stream-</option>
                                                        <option *ngFor="let stream_type of stream_types" [value]="stream_type.stream_name">{{stream_type?.stream_name}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="class">Class:</label>
                                                    <select name="class" class="form-control" id="class" [(ngModel)]="receivedUserEducationalData.class_id">
                                                        <option>-select your class-</option>
                                                        <option *ngFor="let class_type of class_types" [value]="class_type.class_name">{{class_type?.class_name}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="section">Section:</label>
                                                    <select name="section" class="form-control" id="section"
                                                        [(ngModel)]="receivedUserEducationalData.section_id">
                                                        <option>-select your section-</option>
                                                        <option *ngFor="let section_type of section_types" [value]="section_type.section_name">{{section_type?.section_name}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <button type="button" (click)="updateUserEducationDetails(); toggleme();" class="btn btn-primary">Submit</button>
                                        &nbsp;&nbsp; &nbsp; &nbsp;
                                        <button (click)="toggleme()" type="button" class="btn btn-success">Cancel</button>
                                    </fieldset>
                                </form>


                            </div>
                        </div>

                        
                        <div class="tab-pane fade" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
                            <div class="acc-setting">
                                <h3 clas>Account Setting</h3>
                                <form>
                                    <div class="notbar ">
                                        <h4>Notification Sound</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium
                                            nulla quis erat dapibus, varius hendrerit neque suscipit. Integer in ex
                                            euismod, posuere lectus id</p>
                                        <div class="toggle-btn">
                                            <a href="# " title=" ">
                                                <img src="assets/images/up-btn.png " alt=" ">
                                            </a>
                                        </div>
                                    </div>
                                    <!--notbar end-->
                                    <div class="notbar ">
                                        <h4>Notification Email</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium
                                            nulla quis erat dapibus, varius hendrerit neque suscipit. Integer in ex
                                            euismod, posuere lectus id</p>
                                        <div class="toggle-btn ">
                                            <a href="# " title=" ">
                                                <img src="assets/images/up-btn.png " alt=" ">
                                            </a>
                                        </div>
                                    </div>
                                    <!--notbar end-->
                                    <div class="notbar ">
                                        <h4>Chat Message Sound</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium
                                            nulla quis erat dapibus, varius hendrerit neque suscipit. Integer in ex
                                            euismod, posuere lectus id</p>
                                        <div class="toggle-btn ">
                                            <a href="# " title=" ">
                                                <img src="assets/images/up-btn.png " alt=" ">
                                            </a>
                                        </div>
                                    </div>
                                    <!--notbar end-->
                                    <div class="save-stngs">
                                        <ul>
                                            <li>
                                                <button type="submit ">Save Setting</button>
                                            </li>
                                            <li>
                                                <button type="submit ">Restore Setting</button>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--save-stngs end-->
                                </form>
                            </div>
                            <!--acc-setting end-->
                        </div>
                        <div class="tab-pane fade" id="nav-status" role="tabpanel" aria-labelledby="nav-status-tab">
                            <div class="acc-setting">
                                <h3>Profile Status</h3>
                                <div class="profile-bx-details ">
                                    <div class="row ">
                                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                                            <div class="profile-bx-info ">
                                                <div class="pro-bx ">
                                                    <img src="assets/images/pro-icon1.png " alt=" ">
                                                    <div class="bx-info ">
                                                        <h3>$5,145</h3>
                                                        <h5>Total Income</h5>
                                                    </div>
                                                    <!--bx-info end-->
                                                </div>
                                                <!--pro-bx end-->
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                            </div>
                                            <!--profile-bx-info end-->
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                                            <div class="profile-bx-info ">
                                                <div class="pro-bx ">
                                                    <img src="assets/images/pro-icon2.png " alt=" ">
                                                    <div class="bx-info ">
                                                        <h3>$4,745</h3>
                                                        <h5>Widthraw</h5>
                                                    </div>
                                                    <!--bx-info end-->
                                                </div>
                                                <!--pro-bx end-->
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                            </div>
                                            <!--profile-bx-info end-->
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                                            <div class="profile-bx-info ">
                                                <div class="pro-bx ">
                                                    <img src="assets/images/pro-icon3.png " alt=" ">
                                                    <div class="bx-info ">
                                                        <h3>$1,145</h3>
                                                        <h5>Sent</h5>
                                                    </div>
                                                    <!--bx-info end-->
                                                </div>
                                                <!--pro-bx end-->
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                            </div>
                                            <!--profile-bx-info end-->
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                                            <div class="profile-bx-info ">
                                                <div class="pro-bx ">
                                                    <img src="assets/images/pro-icon4.png " alt=" ">
                                                    <div class="bx-info ">
                                                        <h3>130</h3>
                                                        <h5>Total Projects</h5>
                                                    </div>
                                                    <!--bx-info end-->
                                                </div>
                                                <!--pro-bx end-->
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                            </div>
                                            <!--profile-bx-info end-->
                                        </div>
                                    </div>
                                </div>
                                <!--profile-bx-details end-->
                                <div class="pro-work-status ">
                                    <!-- <h4>Work Status  -  Last Months Working Status</h4> -->
                                </div>
                                <!--pro-work-status end-->
                            </div>
                            <!--acc-setting end-->
                        </div>
                        <div class="tab-pane fade" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                            <div class="acc-setting ">
                                <h3>Account Setting</h3>



                                <form class="pdng" *ngIf="showPassSection==true">
                                    <div class="alert alert-success" role="alert" *ngIf="passchange==true">
                                        Password Changed
                                    </div>
                                    <div class="alert alert-danger" role="alert" *ngIf="passnotmatch==true">
                                        Entered Password don't match
                                    </div>

                                    <div class="cp-field ">
                                        <h5>New Password</h5>
                                        <div class="cpp-fiel ">
                                            <input type="password" name="new-password " placeholder="New Password "
                                                [(ngModel)]="newPassword">
                                            <i class="fa fa-lock "></i>
                                        </div>
                                    </div>
                                    <div class="cp-field ">
                                        <h5>Repeat Password</h5>
                                        <div class="cpp-fiel ">
                                            <input type="password" name="repeat-password " placeholder="Repeat Password "
                                                [(ngModel)]="repeatPassword">
                                            <i class="fa fa-lock "></i>
                                        </div>
                                    </div>

                                    <div class="save-stngs pd2 ">
                                        <ul>
                                            <button class="btn btn-sm btn-primary pull-right group-add" title="proceed"
                                                (click)="changePassword(newPassword,repeatPassword);">Proceed</button>
                                            <!-- <li><button type="submit ">Restore Setting</button></li> -->
                                        </ul>
                                    </div>
                                    <!--save-stngs end-->
                                </form>

                                <div *ngIf="showOtpSection==true">
                                    <div class="">


                                        <div class="col-md-12">
                                            <h3 class="">OTP Verification</h3>
                                            <div *ngIf="otpnotmatch==true" class="row  alert-success wrongpassword">

                                                <div class="col-md-12">

                                                    <strong>Entered OTP don't match</strong>


                                                </div>
                                            </div>

                                            <p>OTP sent to your registerd mobileno. Please enter sent OTP</p>
                                        </div>
                                        <div class="col-md-12 pad_20">
                                            <div class="form-group">

                                                <input type="text" class="form-control col-md-5" id="otp" #otp
                                                    placeholder="Enter Your OTP">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-10 col-xs-8  text-right pad_20">
                                            <div class="form-group">

                                                <button type="button" class="btn btn-primary fnt_12" (click)="verifyOtp(otp.value)">Change
                                                    Password</button>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-xs-2  text-right pad_20">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-success fnt_12" (click)="cancelUser()">
                                                    Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--acc-setting end-->
                        </div>
                        <div class="tab-pane fade" id="nav-notification" role="tabpanel" aria-labelledby="nav-notification-tab">
                            <div class="acc-setting">
                                <h3>Notifications</h3>
                                <div class="notifications-list">
                                    <div class="notfication-details">
                                        <div class="noty-user-img ">
                                            <img src="http://via.placeholder.com/35x35 " alt=" ">
                                        </div>
                                        <div class="notification-info ">
                                            <h3>
                                                <a href="# " title=" ">Jassica William</a> Comment on your project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <!--notfication-details end-->
                                    <div class="notfication-details ">
                                        <div class="noty-user-img ">
                                            <img src="http://via.placeholder.com/35x35 " alt=" ">
                                        </div>
                                        <div class="notification-info ">
                                            <h3>
                                                <a href="# " title=" ">Poonam Verma</a> Bid on your Latest project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <!--notfication-details end-->
                                    <div class="notfication-details ">
                                        <div class="noty-user-img ">
                                            <img src="http://via.placeholder.com/35x35 " alt=" ">
                                        </div>
                                        <div class="notification-info ">
                                            <h3>
                                                <a href="# " title=" ">Tonney Dhman</a> Comment on your project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <!--notfication-details end-->
                                    <div class="notfication-details ">
                                        <div class="noty-user-img ">
                                            <img src="http://via.placeholder.com/35x35 " alt=" ">
                                        </div>
                                        <div class="notification-info ">
                                            <h3>
                                                <a href="# " title=" ">Jassica William</a> Comment on your project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <!--notfication-details end-->
                                    <div class="notfication-details ">
                                        <div class="noty-user-img ">
                                            <img src="http://via.placeholder.com/35x35 " alt=" ">
                                        </div>
                                        <div class="notification-info ">
                                            <h3>
                                                <a href="# " title=" ">Jassica William</a> Comment on your project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <!--notfication-details end-->
                                    <div class="notfication-details ">
                                        <div class="noty-user-img ">
                                            <img src="http://via.placeholder.com/35x35 " alt=" ">
                                        </div>
                                        <div class="notification-info ">
                                            <h3>
                                                <a href="# " title=" ">Poonam Verma </a> Bid on your Latest project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <!--notfication-details end-->
                                    <div class="notfication-details ">
                                        <div class="noty-user-img ">
                                            <img src="http://via.placeholder.com/35x35 " alt=" ">
                                        </div>
                                        <div class="notification-info ">
                                            <h3>
                                                <a href="# " title=" ">Tonney Dhman</a> Comment on your project</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <!--notfication-details end-->
                                    <div class="notfication-details ">
                                        <div class="noty-user-img ">
                                            <img src="http://via.placeholder.com/35x35 " alt=" ">
                                        </div>
                                        <div class="notification-info ">
                                            <h3>
                                                <a href="# " title=" ">Jassica William</a> Comment on your project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <!--notfication-details end-->
                                </div>
                                <!--notifications-list end-->
                            </div>
                            <!--acc-setting end-->
                        </div>
                        <div class="tab-pane fade " id="nav-requests " role="tabpanel " aria-labelledby="nav-requests-tab ">
                            <div class="acc-setting ">
                                <h3>Requests</h3>
                                <div class="requests-list ">
                                    <div class="request-details ">
                                        <div class="noty-user-img ">
                                            <img src="http://via.placeholder.com/35x35 " alt=" ">
                                        </div>
                                        <div class="request-info ">
                                            <h3>Jessica William</h3>
                                            <span>Graphic Designer</span>
                                        </div>
                                        <div class="accept-feat ">
                                            <ul>
                                                <li>
                                                    <button type="submit " class="accept-req ">Accept</button>
                                                </li>
                                                <li>
                                                    <button type="submit " class="close-req ">
                                                        <i class="la la-close "></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--accept-feat end-->
                                    </div>
                                    <!--request-detailse end-->
                                    <div class="request-details ">
                                        <div class="noty-user-img ">
                                            <img src="http://via.placeholder.com/35x35 " alt=" ">
                                        </div>
                                        <div class="request-info ">
                                            <h3>John Doe</h3>
                                            <span>PHP Developer</span>
                                        </div>
                                        <div class="accept-feat ">
                                            <ul>
                                                <li>
                                                    <button type="submit " class="accept-req ">Accept</button>
                                                </li>
                                                <li>
                                                    <button type="submit " class="close-req ">
                                                        <i class="la la-close "></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--accept-feat end-->
                                    </div>
                                    <!--request-detailse end-->
                                    <div class="request-details ">
                                        <div class="noty-user-img ">
                                            <img src="http://via.placeholder.com/35x35 " alt=" ">
                                        </div>
                                        <div class="request-info ">
                                            <h3>Poonam</h3>
                                            <span>Wordpress Developer</span>
                                        </div>
                                        <div class="accept-feat ">
                                            <ul>
                                                <li>
                                                    <button type="submit " class="accept-req ">Accept</button>
                                                </li>
                                                <li>
                                                    <button type="submit " class="close-req ">
                                                        <i class="la la-close "></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--accept-feat end-->
                                    </div>
                                    <!--request-detailse end-->
                                    <div class="request-details ">
                                        <div class="noty-user-img ">
                                            <img src="http://via.placeholder.com/35x35 " alt=" ">
                                        </div>
                                        <div class="request-info ">
                                            <h3>Bill Gates</h3>
                                            <span>C & C++ Developer</span>
                                        </div>
                                        <div class="accept-feat ">
                                            <ul>
                                                <li>
                                                    <button type="submit " class="accept-req ">Accept</button>
                                                </li>
                                                <li>
                                                    <button type="submit " class="close-req ">
                                                        <i class="la la-close "></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--accept-feat end-->
                                    </div>
                                    <!--request-detailse end-->
                                    <div class="request-details ">
                                        <div class="noty-user-img ">
                                            <img src="http://via.placeholder.com/35x35 " alt=" ">
                                        </div>
                                        <div class="request-info ">
                                            <h3>Jessica William</h3>
                                            <span>Graphic Designer</span>
                                        </div>
                                        <div class="accept-feat ">
                                            <ul>
                                                <li>
                                                    <button type="submit " class="accept-req ">Accept</button>
                                                </li>
                                                <li>
                                                    <button type="submit " class="close-req ">
                                                        <i class="la la-close "></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--accept-feat end-->
                                    </div>
                                    <!--request-detailse end-->
                                    <div class="request-details ">
                                        <div class="noty-user-img ">
                                            <img src="http://via.placeholder.com/35x35 " alt=" ">
                                        </div>
                                        <div class="request-info ">
                                            <h3>John Doe</h3>
                                            <span>PHP Developer</span>
                                        </div>
                                        <div class="accept-feat ">
                                            <ul>
                                                <li>
                                                    <button type="submit " class="accept-req ">Accept</button>
                                                </li>
                                                <li>
                                                    <button type="submit " class="close-req ">
                                                        <i class="la la-close "></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--accept-feat end-->
                                    </div>
                                    <!--request-detailse end-->
                                </div>
                                <!--requests-list end-->
                            </div>
                            <!--acc-setting end-->
                        </div>
                        <div class="tab-pane fade " id="nav-deactivate " role="tabpanel " aria-labelledby="nav-deactivate-tab ">
                            <div class="acc-setting ">
                                <h3>Deactivate Account</h3>
                                <form>
                                    <div class="cp-field ">
                                        <h5>Email</h5>
                                        <div class="cpp-fiel ">
                                            <input type="text " name="email " placeholder="Email ">
                                            <i class="fa fa-envelope "></i>
                                        </div>
                                    </div>
                                    <div class="cp-field ">
                                        <h5>Password</h5>
                                        <div class="cpp-fiel ">
                                            <input type="password " name="password " placeholder="Password ">
                                            <i class="fa fa-lock "></i>
                                        </div>
                                    </div>
                                    <div class="cp-field ">
                                        <h5>Please Explain Further</h5>
                                        <textarea></textarea>
                                    </div>
                                    <div class="cp-field ">
                                        <div class="fgt-sec ">
                                            <input type="checkbox " name="cc " id="c4 ">
                                            <label for="c4 ">
                                                <span></span>
                                            </label>
                                            <small>Email option out</small>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium
                                            nulla quis erat dapibus, varius hendrerit neque suscipit. Integer in ex
                                            euismod, posuere lectus id,</p>
                                    </div>
                                    <div class="save-stngs pd3 ">
                                        <ul>
                                            <li>
                                                <button type="submit ">Save Setting</button>
                                            </li>
                                            <li>
                                                <button type="submit ">Restore Setting</button>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--save-stngs end-->
                                </form>
                            </div>
                            <!--acc-setting end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--account-tabs-setting end-->
    </div>
</section>


