.profilerow {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(180, 180, 180)
}

.rowvalue {
    text-align: left;
}

.editbox {
    background-color: grey;
}

.custom_container {
    margin-top: 8PX;
}

.float_right {
    float: right
}

.btn-97 {
    width: 97%
}



.brad-15 {
    border-radius: 15px
}

.account-tabs-setting {
    margin-top: 6px;
}

@media only screen and (min-width:360px) and (max-width:740px) {
    .account-tabs-setting {
        margin-top: 54px;
    }
    fieldset {
        float: left;
        width: 100%;
    }
}

@media only screen and (min-width:375px) and (max-width:667px) {
    .account-tabs-setting {
        margin-top: 43px;
    }
    fieldset {
        float: left;
        width: 100%;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .account-tabs-setting {
        margin-top: -13px;
    }
    fieldset {
        float: left;
        width: 100%;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .account-tabs-setting {
        margin-top: -18px;
    }
    fieldset {
        float: left;
        width: 100%;
    }
}


/* dheeraj css */



.btn_color_blue {
    background-color: #318cc1;
    color: #fff;
}

.brdr_btm_unset {
    border-bottom: unset;
}

.pad_0 {
    padding: 0px;
}

.mrgn_btm_0 {
    margin-bottom: 0px;
}


.srch_result_overlay {
    z-index: 10000;
    background: #fff;
    width: 100%;
    border: 1px solid #006cb5;
    border-radius: 4px;
}

.srch_result_overlay ul {
    padding: unset;
}

.srch_result_overlay ul li {
    padding-left: 10px;
    text-transform: capitalize;
}

.frend_list_overlay {
    z-index: 1;
}

.activetwo {
    background-color: #DCDCDC;
    position: relative;
    width: 100%;
}

.activetwo:hover {
    background-color: white;
    position: relative;
    width: 100%;
}

li:hover {
    height: 40px;
    border-radius: 5px;
    /* padding: 2px 12px 0px 13px; */
    /* box-shadow: 0 0 10px 100px #015086 inset; */
}


.unset {
    margin: unset;
}

.lbl {
    font-weight: unset;
}

.logo i {
    font-size: 31px;
    margin-right: 4px;
    word-spacing: 14px;
}

.logo {
    color: white;
    margin: 0;
    font-size: 30px;
    padding: 4px 0;
    padding-bottom: 15px;
}

.max_height_30 {
    max-height: 30px;
}

.clr_wt {
    color: #fff;
}

.mrgn_tp_20 {
    margin-top: 20px;
}

.mrgn_tp_3 {
    margin-top: 3px;
}

.mrgn_tp_40 {
    margin-top: 40px;
}

.mrgn_tp_20 {
    margin-top: 20px;
}

.mrgn_tp_0 {
    margin-top: 0px;
}

.headermain {
    background-color: #006cb5;
}

.fnt_12 {
    font-size: 12px;
}

.mrgn_20_tp_btm {
    margin-top: 15px;
    margin-bottom: 15px;
}

.pdt-28 {
    padding-top: 28px;
    padding-left: 12%;
}

.mrgn_1 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.wrongpassword {
    background-color: #006cb5;
    border: 0;
    border-radius: 2px;
    border: 1px solid #c5c5c5;
    box-shadow: 0 0 7px 1px #c5c5c5;
    color: #fff;
    padding: 6px
}

.passchange {
    background-color: lightgreen;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
    color: #fff;
}

.bx_shdw {
    box-shadow: 0px 0px 7px 0px #4d4949;
    padding-left: 20px;
    padding-right: 20px;
}

.brder {
    border: 1px solid #36323299;
}

.mrgn_40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.brder_btm {
    border-bottom: 1px solid #36323299;
}

.tex_white {
    color: white;
}

.pad_20 {
    padding-top: 20px;
    padding-bottom: 4px;
}

.pd_btm_20 {
    padding-bottom: 20px;
}

@media only screen and (width: 600px) {
    .pdt-28 {
        padding-top: 4px;
        padding-left: 24%;
    }
}

.pdng {
    padding-left: 5px;
    padding-right: 5px;
}
/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */

  th { 
    background: #fff;
    color: #505050;
    font-weight: bold;
    text-align: center !important;
    height: 38px;
    border-bottom: 10px solid #505050;
    vertical-align: middle;
    
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
    vertical-align: middle !important;
  }
  .th-200{
    max-width: 24.5px;
}

.btn-relative {
    top: -2px;
    left: 3px;
    position: relative;
    font-weight: bold;
}
.btn-relative-lrg {
    top: -7px;
    left: -7px;
    color: #505050;
    position: relative;
    font-weight: bold;
}

.btn-edit {
    color: #505050;
    background-color: #ffffff;
    border-color: #505050;
    padding: 2px 10px 2px 3px;
    font-size: small;
    min-width: 113px;
}

.confrm {
  margin-top: 12px
}

.confrm span {
    display: block;
}

