.crd_bg_clr {
    background-color: white;
    box-shadow: snow;
    box-sizing: border-box;
    position: relative;
}

.profilePic {
    margin-top: -95px;
    margin-left: 31px;
}

.profilePic p {
    font-family: Lato;
}

.no-border {
    border-bottom: 0px solid #e5e5e5 !important;
}

.profilePic img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.hoverable {
    position: relative;
    display: block;
    height: 200px;
    width: 200px;
    border: 3px solid #006cb5;
    border-radius: 50%;
}

.hoverable .hover-text {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hoverable .background {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
}

.hoverable:hover .hover-text {
    display: block;
}

.hoverable:hover .background {
    display: block;
}

#fileInput {
    display: none;
}

.profilePic {
    margin-top: -95px;
    margin-left: 57px;
}

.profilePic p {
    font-family: Lato;
}

.profilePic img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.hoverable {
    position: relative;
    display: block;
    height: 150px;
    width: 150px;
    border: 5px solid #ffffff;
    border-radius: 50%;
}

.hoverable .hover-text {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hoverable .background {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
}

.hoverable:hover .hover-text {
    display: block;
}

.hoverable:hover .background {
    display: block;
}

#fileInput {
    display: none;
}

#profileImage {
    font-size: 50px;
    color: #fff;
    text-align: center;
    line-height: 150px;
    margin: 20px 0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    float: none;
}

.img_siz img {
    height: 100px;
    padding-left: 42px;
}

.custom_span {
    padding-left: 103px
}

.mrgn_top {
    margin-top: 4px;
}

.bx_shdw {
    box-shadow: 0px 0px 0px 1px #d4cfcf;
    padding-right: 37px;
    padding-bottom: 16px;
}

.suggestlist {
    background-color: lightgrey;
}

.custom_button {
    background-color: #eeeeee;
}

.cust_txt {
    color: #006cb5
}

.float_right {
    float: right;
}

.suggestlist_custom {
    float: left;
    width: 100%;
    padding: 10px 0 2px 0;
    box-shadow: 0 0px 0px 1px #006cb5;
}

.custom_img {
    height: -moz-available;
    width: -moz-fit-content;
    max-width: 100px;
}

.dropdown-content {
    position: absolute;
    background-color: #eeeeee;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.custom li:hover {
    box-shadow: 0 0 10px 100px #DCDCDC inset;
}

@media only screen and (min-width:360px) and (max-width:740px) {
    .cover-sec {
        margin-top: 109px;
    }
    .cust_usd {
        margin-top: -19px;
    }
    .suggestion-usd {
        margin-top: -19px;
        float: left;
        width: 100%;
        padding: 19px 2px;
    }
    .custom_sec {
        padding-top: 65px;
        padding-left: 48px;
        margin-bottom: -11px;
    }
}

@media only screen and (min-width:760px) and (max-width:1024px) {
    .cover-sec {
        margin-top: 60px;
    }
    .sgt-text {
        float: left;
        padding-left: 155px;
    }
    .cust_usd {
        margin-top: -19px;
    }
    .ed-opts {
        top: -17px;
    }
    .custom_btn {
        margin-left: 133px;
    }
    .custom_sec {
        margin-top: 16px;
    }
}

@media only screen and (width:734px) {
    .cover-sec {
        margin-top: 60px;
    }
    .sgt-text {
        float: left;
        padding-left: 124px;
    }
    .custom_sec {
        padding-top: 20px;
        padding-left: 388px;
        margin-bottom: -11px;
    }
}

@media only screen and (width:684px) {
    .cover-sec {
        margin-top: 60px;
    }
    .sgt-text {
        float: left;
        padding-left: 124px;
    }
    .custom_sec {
        padding-top: 20px;
        padding-left: 388px;
        margin-bottom: -11px;
    }
}

@media only screen and (width:667px) {
    .cover-sec {
        margin-top: 60px;
    }
    .sgt-text {
        float: left;
        padding-left: 124px;
    }
    .custom_sec {
        padding-top: 20px;
        padding-left: 388px;
        margin-bottom: -11px;
    }
}

@media only screen and (width:736px) {
    .cover-sec {
        margin-top: 60px;
    }
    .sgt-text {
        float: left;
        padding-left: 124px;
    }
    .custom_sec {
        padding-top: 20px;
        padding-left: 388px;
        margin-bottom: -11px;
    }
}


/* card */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}

.card .card-body {
    padding: 1em 0.95em;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.media {
    font-size: 0.9em;
}

.media {
    display: flex;
    align-items: flex-start;
    width: 95%;
}

.media-body {
    margin-left: 38px;
}

.media figure {
    margin-right: 15px;
    position: relative;
}

.avatar-50 {
    height: 50px;
    width: 50px;
}

.avatar {
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    position: relative;
}

.ed-opts {
    float: right;
    position: relative;
    top: -62px;
}

pf-gallery img {
    width: 100%;
    padding: 3px;
    border: 2px black solid;
    border-radius: 14px;
    margin-right: 0px;
}

.sg-title {
    padding: 8px;
    font-size: medium;
    font-weight: bold;
    background: #f5f5f5;
    border-top: 2px solid #006cb5;
}

.profilerow {
    margin: 0;
    padding: 2px 10px 2px 10px;
    font-size: 12px;
    color: #4e4e4c;
}

.btn-relative {
    top: -4px;
    left: 3px;
    position: relative;
    font-weight: bold;
}

.left {
    float: left;
    left: 0;
    padding: 0;
    width: 76px;
    text-align: left;
}

.text-relative {
    float: left;
    top: 4px;
    left: 10px;
    position: relative;
    font-weight: bold;
}

.loading {
    position: relative;
    top: -4px;
    left: 10px;
}

.ta-center {
    text-align: center
}