<section class="cover-sec coverPic">
    <img (mouseenter)="seeUpload()" src="assets/images/cover.png" width="1600px" height="400px" alt="">
</section>


<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="main-left-sidebar">
                            <div class="user_profile" (mouseenter)="showEdit = !showEdit" (mouseleave)="showEdit = !showEdit">
                                <div class="profilePic cursor">


                                    <label class="hoverable" for="fileInput">

                                        <img *ngIf = "profilePic" [src]="profilePic">
                                        <div *ngIf = "!profilePic" class="img-container-2"> {{firstName[0].toUpperCase() + lastName[0].toUpperCase()}} </div>

                                        <div class="hover-text">Change Pic</div>
                                        <div class="background"></div>
                                    </label>

                                    <input id="fileInput" type='file' (change)="onSelectFile($event)">

                                </div>
                                <div class="user_pro_status cursor">
                                    <small *ngIf="userDetail">{{userDetail.user_full_text_name}}</small>
                                    <mat-icon *ngIf="showEdit" (click)="goToAccountSetting()" style="margin-left:10px">edit</mat-icon>
                                </div>

                                <div>
                                    <small *ngIf="activeUserEducationalData?.institution_id" class="capital">{{activeUserEducationalData.institution_id}}</small>
                                </div>
                                <div><small *ngIf="city" class="capital"> {{city}}</small>
                                </div>
                                <div class="acc-setting">


                                    <div class="row profilerow">
                                        <div class="left">
                                            <i class="material-icons">
                                                settings_phone
                                            </i>
                                            <span class="btn-relative">Contact</span>
                                        </div>
                                        <div class="text-relative" *ngIf="receivedUserPersonalData?.mobile_number">{{receivedUserPersonalData?.mobile_number}}</div>
                                    </div>
                                    <div class="row profilerow">
                                        <div class="left">
                                            <i class="material-icons">
                                                email
                                            </i>
                                            <span class="btn-relative">Email</span>
                                        </div>
                                        <div class="text-relative" *ngIf="receivedUserAuthData?.email">{{receivedUserAuthData.email}}</div>
                                    </div>
                                    <div class="row profilerow">
                                        <div class="left">
                                            <i class="material-icons">
                                                cake
                                            </i>
                                            <span class="btn-relative">DOB</span>
                                        </div>
                                        <div class=" text-relative" *ngIf="receivedUserPersonalData?.date_of_birth">{{receivedUserPersonalData?.date_of_birth
                                            | date:'medium':'+0530'}}</div>
                                    </div>
                                    <div class="row profilerow">
                                        <div class="left">
                                            <i class="material-icons">
                                                supervised_user_circle
                                            </i>
                                            <span class="btn-relative">Gender</span>
                                        </div>
                                        <div class=" text-relative " *ngIf="receivedUserPersonalData?.gender_type">{{receivedUserPersonalData?.gender_type}}</div>
                                    </div>
                                    <div class="row profilerow">
                                        <div class="left">
                                            <i class="material-icons">
                                                home
                                            </i>
                                            <span class="btn-relative">Address</span>
                                        </div>
                                        <div class="text-relative" *ngIf="receivedUserPersonalData?.address_id">{{city}}</div>
                                    </div>

                                </div>

                            </div>
                            <!--user_profile end-->
                            <div class="suggestions full-width">
                                <div class="sg-title">
                                    <span>Friends</span>
                                </div>
                                <div class="card mb-2" *ngFor='let friendlist of receivedFriendList; let i= index " [attr.data-index]=i"'>
                                    <app-userfriend *ngIf="i<5" [friendlist]="friendlist"></app-userfriend>

                                </div>

                                <div *ngIf="receivedFriendList.length>5" (click)="gotoAllFriends()" class="ta-center cursor">
                                    <span>View All</span>
                                </div>
                            </div>
                            <!--suggestions end-->
                        </div>
                        <!--main-left-sidebar end-->
                    </div>
                    <div class="col-lg-6">
                        <div class="main-ws-sec">
                            <div class="user-tab-sec">
                                <!-- <h3 *ngIf="userDetail">{{userDetail.user_full_text_name}}</h3> -->
                                <!-- <div class="star-descp">
                                    <span>Software  developer </span>
                                </div> -->
                            </div>

                            <div *ngIf="!allPosts.length && Message=='default';" class="loader">
                                <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i> <span class="loading">Loading...Please
                                    Wait</span>
                            </div>
                            <div *ngIf="!allPosts.length && Message!='default'">{{Message}}</div>
                            <div *ngIf="allPosts.length && allUserData.length" class="posts-section">

                                <div *ngFor="let singlePost of allPosts; index as i" class="post-bar">

                                    <app-post [singlePost]="singlePost" [friendData]="allUserData" (editPost)="editPost($event)"></app-post>

                                </div>

                            </div>

                        </div>
                        <!--main-ws-sec end-->
                    </div>


                </div>
            </div>
            <!-- main-section-data end-->
        </div>
    </div>
</main>
<div class="overview-box" id="create-portfolio">
    <div class="overview-edit">
        <h3>Create Portfolio</h3>
        <form>
            <input type="text" name="pf-name" placeholder="Portfolio Name">
            <div class="file-submit">
                <input type="file" name="file">
            </div>
            <div class="pf-img">
                <img src="http://via.placeholder.com/60x60" alt="">
            </div>
            <input type="text" name="website-url" placeholder="htp://www.example.com">
            <button type="submit" class="save">Save</button>
            <button type="submit" class="cancel">Cancel</button>
        </form>
        <a title="" class="close-box"><i class="la la-close"></i></a>
    </div>
    <!--overview-edit end-->
</div>
<!--overview-box end-->