<div class="nott-list mrgin">

    <div class="notfication-details" *ngFor="let item of allEventsForUser">

        <div *ngIf="item.event_type_id=='comment' && item.from_user_id">


            <div class="notification-info text cursor" (click)='seeEventNotif(item.from_user_id,item.entity_id)'>

                <app-user-detail [userId]='item.from_user_id'></app-user-detail>

                Commented on your post on {{item.last_updated_timestamp | date:'medium':'+0530'}}

            </div>



        </div>


        <div *ngIf=" item.event_type_id=='like' && item.from_user_id">



            <div class="notification-info text cursor" (click)='seeEventNotif(item.from_user_id,item.entity_id)'>

                <app-user-detail [userId]='item.from_user_id'></app-user-detail>

                liked your post on {{item.last_updated_timestamp | date:'medium':'+0530'}}

            </div>


        </div>

        <div *ngIf="item.event_type_id=='share' && item.from_user_id">


            <div class="notification-info text cursor" (click)='seeEventNotif(item.from_user_id,item.entity_id)'>

                <app-user-detail (click)='seeEventNotif(item.from_user_id,item.entity_id)' [userId]='item.from_user_id'></app-user-detail>

                shared your post on {{item.last_updated_timestamp | date:'medium':'+0530'}}

            </div>


        </div>

    </div>



</div>