<div class="mrgn-tp-72 mrgn_tp_60">
  
    <div class="admin-bar">
        <ul class="nav nav-tabs textcapital" *ngIf="dynamicTabs.length > 1">
  
            <li *ngFor="let tab of dynamicTabs"  [ngClass]="{'active':(tab.label=='dashboard')}"><a class="admin-tab" data-toggle="tab" href="#{{tab.label}}">{{tab.label}}</a></li>
            
          </ul>
  
    </div>
    
    
    <div class="tab-content">
  
          <div id="{{tab.label}}" *ngFor="let tab of dynamicTabs" class="tab-pane fade" [ngClass]="{'in active':(tab.label=='dashboard')}">
  
              <ng-container *ngComponentOutlet="tab.component">
                </ng-container>
          </div> 
      </div> 
  
  </div> 
  <router-outlet></router-outlet>
  