.showpopup{

    opacity: 1;
	visibility: visible;
	z-index: 999;
	-webkit-transform: scale(1) translateX(-50%) translateY(-50%);
}

.hidepopup {

    visibility: hidden;
}


.postheader {

	width:3%;
	background-color: azure
}

.mrgn-tp-72{

	margin-top: 72px
}

@media only screen and (max-width:1200px){

  .mrgn-tp-72{

    margin-top: 50px
  }

}

@media only screen and (max-width:576px){

  .mrgn-tp-72{

    margin-top: 145px
  }

}
/* by dheeraj css */
.mrgn_tp_60{
  margin-top:60px;
}
.textcapital li{
  text-transform: capitalize;
}



