<div class="suggestions-list">
    <div class="suggestion-usd rel" *ngIf="receivedSuggestoinList.user_full_text_name!=null">
        <div class="row">
            <div class="col-md-4 col-xs-4 suggestion-mini">
                <img *ngIf="profilePic" (mouseenter)="active = !active" (mouseleave)="active = !active" [src]="profilePic"
                    width="70" height="70" alt="">
                <div *ngIf="!profilePic" class="img-container img-circle mr-bt-7" (mouseenter)="active = !active"
                    (mouseleave)="active = !active">

                    {{receivedSuggestoinList.first_name[0].toUpperCase() +
                    receivedSuggestoinList.last_name[0].toUpperCase()}}
                </div>
            </div>
            <div class="col-md-8 col-xs-8 ">
                <div class="auto-capital">
                    <small (click)="seeFriendProfile(receivedSuggestoinList.user_id)" (mouseenter)="active = !active"
                        (mouseleave)="active = !active">
                        <a *ngIf="receivedSuggestoinList?.user_full_text_name" title="view profile" class='cursor capital sugg-name'>{{receivedSuggestoinList.user_full_text_name}}</a>
                    </small>
                </div>
                <p>
                    <a *ngIf="activeUserEducationalData?.institution_id">{{activeUserEducationalData.institution_id}}</a>
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <button type=button class="btn btn-simple custm_btn right" id={{receivedSuggestoinList.user_id}}
                    (click)="sendFriendRequest(receivedSuggestoinList.user_id)">
                    <mat-icon>person_add</mat-icon>
                    <span class="btn-relative" id="{{'sending' + receivedSuggestoinList.user_id}}"> Send Request </span>
                </button>
                <button type="button" class="btn btn-simple custm_btn left" id="{{'remove'+receivedSuggestoinList.user_id}}"
                    (click)='removeFromSuggestList(receivedSuggestoinList.user_id)'>
                    <mat-icon>
                        delete_forever
                    </mat-icon>
                    <span class="btn-relative"> Remove </span>
                </button>
            </div>

        </div>

        <div [class.active]="active" class="pro-popup ed-options" style="position: absolute; left:65px;top:-100px;background-color: #3e6281;border-radius: 17px;padding: 7px;">
            <img class="img-circle" [src]="profilePic ? profilePic:'assets/images/male.jpg'" width="50" height="50" alt="">

            <div class="showme capital " title="view profile" *ngIf="receivedSuggestoinList?.user_full_text_name">&nbsp;
                <span>
                    <a class="white">{{receivedSuggestoinList.user_full_text_name}}</a>
                </span>
            </div>
            <div>
                <h4 class="capital white" *ngIf="activeUserEducationalData?.institution_id">{{activeUserEducationalData.institution_id}}</h4>
            </div>
        </div>
    </div>
</div>