.card-body {
    flex: 1 1 auto;
    padding: 2px 5px 2px 5px;
}


.media {
    font-size: 0.9em;
}

.media {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.media-body {
    margin-left: 10px;
    font-size: 20px;
}
.sugg-name {
    font-size: 12px;
    font-weight: bold;
    color: #4e4e4e;
    position: relative;
    top: 10px;
}

.media-body a{
    cursor: pointer
}

.media figure {
    margin-right: 15px;
    position: relative;
}

element.style {
}
.friend-img img {
    border: 2px solid #006cb5;
    border-radius: 5px !important;
    cursor: pointer;
    margin-bottom: 2px;
    padding: 2px;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.friend-list {
    float: left;
    width: 97%;
    padding: 2px 5px;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin: 3px;
    border: 2px solid #f5f5f5;
    box-shadow: 1px 3px 2px 0px rgba(0,0,0,0.75);
}
.friend-list img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-color: 10px solid #c4c4c4;
    border-radius: 100px;
    width: 80px;
    left: -15px;
    position: relative;
    height: 80px;
    margin: 5px 0px 5px 0px;
    border: 1px solid #c4c4c4;
    border-radius: 50px;
}