<div class="card-body" *ngIf="receivedUserFriendData">
    <div class="friend-list">
        <div class="col-md-4 col-xs-4 ">
            <img *ngIf="friendProfilePicUrl" [src]="friendProfilePicUrl" alt="" height="80px" width="80px">
            <div *ngIf="!friendProfilePicUrl" class="img-container-4 img-circle">
                <span *ngIf="firstName || lastName">{{firstName[0].toUpperCase() + lastName[0].toUpperCase()}}</span>
            </div>
        </div>
        <div class="col-md-8 col-xs-8 ">
            <div class="auto-capital">
                <small>
                    <a class="my-0 mt-1 capital cursor sugg-name" (click)="seeFriendProfile(receivedUserFriendData.user_id)">{{receivedUserFriendData?.user_full_text_name}}</a>
                </small>
            </div>
            <p>
                <small *ngIf="activeUserEducationalData?.institution_id" class="capital">{{activeUserEducationalData.institution_id}}</small>
            </p>
            <p>
                <small *ngIf="activeUserPersonalData?.address_id" class="capital">{{city}}</small>
            </p>
        </div>
    </div>
</div>