<div class="col-lg-6 mrgn">
    <div class="main-ws-sec">

        <div *ngIf="!allPosts" class="loader">
            <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i> <span>Loading...Please Wait</span>
        </div>
        <div *ngIf="!allPosts">{{Message}}</div>
        <div *ngIf="allPosts" class="posts-section">

            <div class="post-bar">

                <app-post [singlePost]="allPosts" [isNotif] = "true" [friendData]="friendData" (editPost)="editPost($event)"></app-post>

            </div>

        </div>

    </div>
    <!--main-ws-sec end-->
</div>