<img class="img-circle" src="http://via.placeholder.com/35x35" alt=""><span>{{friend.user_full_text_name}}</span><div class="pull-right"><input type="checkbox" (change)="checkBoxChecked($event)" [checked]="isChecked"></div>
