<div class="fr-card" style="background-color: #fff">
    <div class="col-sm-8 col-xs-12 fr-pad">
        <div class="row">
            <div class="col-md-3">
                <img class="img-circle" [src]="profilePic ? URLChange(profilePic): 'https://www.w3schools.com/howto/img_avatar.png'"
                    width="35" height="35" alt="">
            </div>
            <div class="col-md-9">

                <div class="row">
                    <span> <a *ngIf="this.searchedUser.user_id!=activeUserId" class="cursor" (click)="seeFriendProfile(searchedUser.user_id)">{{searchedUser.first_name
                            + " " +searchedUser.last_name}}</a>
                        <a *ngIf="this.searchedUser.user_id==activeUserId" class="cursor" (click)="seeProfile()">{{searchedUser.first_name
                            + " " +searchedUser.last_name}}</a>
                    </span>
                </div>
                <div class="row">
                    <p class="ln-height-19" *ngIf="activeUserEducationalData?.institution_id"><span>{{activeUserEducationalData.institution_id}}</span>&nbsp;
                        <span *ngIf="activeUserPersonalData?.address_id">{{city }}</span></p>


                </div>

            </div>



        </div>


    </div>
    <div class="col-sm-4 col-xs-12 fr-pad" *ngIf="this.searchedUser.user_id!=activeUserId">
        <div class="btn-group right-float" >


            <!-- *ngIf="i!=2 && i!=5 " -->
            <ng-container *ngIf="sentFriendRequestListids && sentFriendRequestListids!=undefined && sentFriendRequestListids.includes(searchedUser.user_id);else second">
                <button type="button" class="btn btn-xs btn-default">
                    <i class="material-icons fs-23"> </i><span class="middle">Request Sent</span> </button>

            </ng-container>
            <ng-template #second>

                <ng-container *ngIf="friendids && friendids.includes(searchedUser.user_id);else third">

                    <button type="button" class="btn btn-xs btn-default">
                        <i class="material-icons fs-23"> person_add </i><span class="middle">Already Friend</span>
                    </button>

                </ng-container>
            </ng-template>
            <ng-template #third>

                <button type="button" id={{searchedUser.user_id}} class="btn btn-xs btn-default" (click)=sendFriendRequest(searchedUser.user_id,searchedUser.group_id[0])>
                    <i class="material-icons fs-23">person_add </i><span class="middle">Add Friend</span> </button>
            </ng-template>

            

        </div>


        
    </div>

</div>