.headermain {
    background-color: #4267b2;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-card {
    background-color: aliceblue;
    box-shadow: 0px 0px 1px 0px #5B5757;
}

.video-card {
    max-width: 100%;
    color: #4267b2;
    background-color: rgb(240, 252, 255);
    box-shadow: 0px 0px 1px 0px #5B5757;
}

.video-card h1 {
    color: #000;
}

.video-card p {
    color: darkblue;
}

.post_result_card,
.post_result_card img {
    border: none;
    width: inherit;
    float: right;
    margin-bottom: 5px;
}

mat-card-avatar {
    height: 68px;
    width: 66px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.people-card {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    background-color: aliceblue;
    box-shadow: 0px 0px 1px 0px #5B5757;
}

.people-card a {
    color: #365899;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.carddemoBasicUsage .card-media {
    background-color: #999999;
}

.srch_box {
    z-index: 1;
    position: absolute;
}

.srch_result_overlay {
    z-index: 1;
    background: rgb(214, 202, 202);
    margin-top: 42px;
    position: absolute;
    width: 20.90%;
}

.frend_list_overlay {
    z-index: 1;
}

.custom_mat_btn {
    margin: 0 8px;
    margin-top: 0px;
    margin-right: 8px;
    margin-bottom: 0px;
    margin-left: 52%;
}

.custom_mat_btn_one {
    margin: 0;
}

.activetwo {
    background-color: #DCDCDC;
    position: relative;
    width: 100%;
}

.activetwo:hover {
    background-color: white;
    position: relative;
    width: 100%;
}

li:hover {
    box-shadow: 0 0 10px 100px #DCDCDC inset;
}

.frnd_cntr {
    text-align: center;
}

.profilerow {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(180, 180, 180)
}

.rowvalue {
    text-align: center
}

.editbox {
    background-color: grey;
}

.pointer {
    cursor: pointer;
    ;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: rgb(91, 214, 19);
    border-radius: 50%;
    display: inline-block;
}

.additional_search {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.mat-tab-body-content {
    height: 100%;
    overflow: auto;
    padding-left: 5px;
    padding-right: 5px;
}

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html,
body {
    height: calc(100% + 1px)
}

body {
    font: 100% 'Arimo', sans-serif;
}

.filter-wrapper,
.keyword-wrapper {
    display: flex;
    justify-content: center;
}

.filter-wrapper {
    min-height: 100%;
    flex-flow: column wrap;
    ;
    position: relative
}

.keyword-wrapper {
    width: 100%;
    position: relative;
}

#keyword {
    border: 1px solid #ccc;
    padding: 10px;
    font: 1.5em 'Arimo', sans-serif;
    width: 50%;
    outline: none;
    transition: border 0.5s ease-in-out
}

#keyword:focus {
    border-color: rgba(81, 203, 238, 1);
    ;
}

#keyword-button {
    position: absolute;
    right: 26%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.7em;
    color: #8DB9ED
}

#keyword-button:hover {
    color: #ccc
}

.filter-select {
    width: 50%;
    list-style: none;
    font-size: 1.1em;
    color: rgb(105, 105, 105);
    border: 1px solid #ccc;
    border-top: none;
    /*so things don't jump around*/
    position: absolute;
    left: 25%;
    top: calc(50% + 25px);
    max-height: calc(50% - 15px);
    overflow-y: auto;
    background: #fff
}

.filter-select-list img {
    margin-right: 30px;
}

.tags {
    font-size: 12px;
    font-style: italic;
    color: #c6c6c6;
    margin-right: 10px;
    position: relative;
    top: -10px;
}

.filter-select-list:hover .tags {
    color: #fff;
}

.filter-select-list {
    cursor: pointer;
    padding: 5px 10px;
}

.artist-name {
    display: inline-block;
    position: absolute;
}

.filter-select-list:hover {
    background: #C0C0C0;
    color: #fff
}

.list-highlight,
.list-highlight:hover {
    background: rgb(55, 55, 55);
    color: #fff
}

.youtubeplayer {
    height: 200px;
    width: 370px
}

.mrgn_left {
    margin-left: 25px;
}

.container-pos {
    margin-top: 70px;
}

.custom_tab {
    padding-left: 5px;
    padding-right: 5px;
}

.right-float {
    float: right
}

.middle {
    vertical-align: super;
}

.fs-23 {
    font-size: 23px
}

.mat-card {
    padding: 23px;
    border-radius: 0px
}

.ln-height-19 {
    line-height: 19px
}

.error {
    color: red;
    font-size: 20px;
}

.customrow {
    margin-right: 0px;
    margin-left: 0px;
    width: 50%;
}

mat-card {
    width: 100%
}

.row img {
    border-radius: 50%;
    padding-top: 2Px 2px 2px 2px;
    border: 2px solid slategrey;
}

card-body img {
    border-radius: 50%;
    padding-top: 2Px;
    padding-bottom: 2Px;
    padding-right: 2Px;
    padding-left: 2Px;
}

.row button {
    padding-right: 5px;
}

.custom_img {
    height: 60px;
    width: 60px;
}

.customContainer {
    background-color: lightgray;
    position: relative;
    overflow-y: scroll;
}


/* grid and list */

.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.list-group-item {
    padding: 5px 5px
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover,
.item.list-group-item:hover {
    background: #afbfce;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
    margin-left: 358px;
}

.item.list-group-item .people-row {
    padding: 9px 9px 0px 9px;
    margin-left: 20px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before,
.item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

.min-height-400 {
    min-height: 400px;
}

.min-height-137 {
    min-height: 137px
}

.list-group-item {
    min-height: unset
}

.list-group-item .center-text {
    text-align: unset
}

.list-group-item .people-row .col-md-12 {
    width: 50%
}

.list-group-item .people-row .col-md-12 .btn-pos {
    left: 60%
}

.float-left {
    float: left
}

.grid-border {
    border: 1px solid #c5c5c5;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 0px 0px 7px 1px #c5c5c5;
}

.list-group-item .grid-border {
    border: unset;
    box-shadow: unset
}

.thumbnail {
    border: unset;
    background-color: unset
}

.myPlayer {
    float: left
}

.center-text {
    text-align: center
}

.middle-text {
    text-align: middle
}

.bg-blue {
    background-color: #488ecd;
    color: #fff
}

.ver-al {
    vertical-align: top
}


/* end grid and list */


/**
  for post section 
  */

.showpopup {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.hidepopup {
    visibility: hidden;
}

.suggestions-list {
    float: left;
    width: 100%;
    padding: 0px 0 0px 0;
    box-shadow: 0px 0px 1px 0px #5B5757;
}

.view-more {
    box-shadow: 0px 0px 1px 0px #5B5757;
    color: blue
}

.suggestions {
    box-shadow: 0px 0px 1px 0px #5B5757;
}

.postheader {
    width: 3%;
    background-color: azure
}

.txt-area {
    max-width: 100%;
}

.re-li-post {
    display: inline-block;
    width: 9%;
    padding: 2px 2px;
}

.custm_btn {
    padding: 2px 6px;
}

#myModal .modal-dialog {
    width: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.custom_box {
    position: relative;
}

.friend_list {
    width: 200px;
    top: 40px;
    left: 0;
    background-color: white;
    z-index: 10001;
    border: 1px solid grey;
    border-radius: 5px;
}

.pos-abs {
    position: absolute;
}

.friend_list ul li {
    padding: 10px 5px;
}

.friend_list ul {
    padding-left: 0;
}

.red {
    background-color: red !important;
}

.blue {
    background-color: blue !important;
}

.blue .search-header {
    background-color: green !important;
}

.yellow {
    color: yellow;
}

#mceu_32 {
    display: none;
}

.no-border {
    border: 0
}

.post-cr-head {
    background-color: #e4e4e4;
    padding: 4px 5px;
}

.post-cr-main {
    padding-bottom: 20px
}

.left-side-bar {
    padding-left: 0;
}

.mrgn-tp-30 {
    margin-top: 30px
}

.bg-grey {
    background-color: #e9ebee;
}

.mrgn-tp-42 {
    margin-top: 4px
}

.l-c-s {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5
}

.com-status-bar {
    float: left;
    width: 100%;
    padding: 4px 10px;
}

.pd-bt-10 {
    padding-bottom: 0px !important
}

.lcs-post {
    list-style-type: none;
    padding-top: 5px;
    margin-bottom: 0px
}

.lcs-post li {
    display: inline-block;
    margin-right: 18%;
    vertical-align: 5px
}

.mat-icon {
    margin-right: 5px
}

.lcs-opt {
    cursor: pointer;
    color: initial
}

.post-l-c-s {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.see-more {
    color: #676792;
    cursor: pointer
}

.see-more:hover {
    text-decoration: underline
}

.more-comments {
    padding-left: 20px
}

.img-row {
    display: inline-block;
}

.img-frame {
    margin: 2px;
    border: 1px solid #fff;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.img-frame:hover,
.img-frame:focus,
.img-frame:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.reply-link:hover {
    cursor: pointer;
}

.reply-link a:hover {
    cursor: pointer;
    text-decoration: underline
}

.comment div {
    display: table-cell
}

.max {
    position: fixed;
    z-index: 10003;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.myModal {
    position: relative;
    background-color: #fff;
}

.myModal-backdrop {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.myModal-close {
    cursor: pointer;
    display: none;
}

.post-btns {
    margin-top: 12px;
    margin-left: 5px;
}

.post-pic {
    padding-top: 5px;
    position: relative
}

.post-textbox {
    margin-left: 10px;
    position: absolute;
    top: 10px;
    width: 81%
}

.post-create {
    margin-left: 7px;
    margin-top: 13px;
}

.mat-form-field {
    width: 100%
}

.share-btn {
    width: 50%;
    margin-top: 10px;
    margin-left: 100px;
}

.editor-bottom {
    margin-bottom: 0px;
}

.mrgn-left-5 {
    margin-left: 5px
}

.follow-head {
    margin-top: 4px;
    margin-bottom: 7px;
}

.mrgn-btm-2 {
    margin-bottom: 2px;
}

.pd-btm-6 {
    padding-bottom: 6px
}

.sug-center {
    margin-left: 25%
}

.mrgn-btm-3 {
    margin-bottom: 3px
}

.mrgn-tp-10 {
    margin-top: 10px
}

.sg-title {
    padding: 0
}

.pro-popup {
    border: 1px solid #c5c5c5;
    box-shadow: 0px 0px 1px 2px #c5c5c5;
    width: 250px;
    height: 150px
}

.pro-popup::before {
    content: '';
    position: absolute;
    visibility: visible;
    bottom: -1px;
    left: -10px;
    border: 10px solid transparent;
    border-bottom: 10px solid #4486bf;
}

.pro-popup::after {
    content: '';
    position: absolute;
    visibility: visible;
    bottom: 0px;
    left: -8px;
    border: 10px solid transparent;
    border-bottom: 10px solid #4486bf;
    clear: both;
}

.image-gallery {
    float: left;
    padding: 0 6px 0px 20px;
}

.mrgn-tp-0 {
    margin-top: 0px
}

.pdf {
    position: relative;
    width: 35px;
    height: 45px;
    cursor: pointer;
    border: 1px solid #fff;
}

.pdf-size {
    position: absolute;
    top: 10%;
    left: 7px;
    color: cornflowerblue
}

.pdf-btn-container {
    width: 100%;
    text-align: center;
    background-color: cornflowerblue
}

.view-pdf {
    float: left;
    width: 100%;
    padding: 0 6px 0px 20px;
}


/**
  for post section end
  */

.img-list-pad {
    padding-left: 3px;
    padding-right: 3px
}

.bg-alice {
    background-color: aliceblue
}

.img-text {
    position: absolute;
    top: 80%;
    left: 30%
}

@media only screen and (max-width:420px) {
    .row img {
        width: 100px;
        height: 70px
    }
    .img-text {
        position: absolute;
        top: 64%;
        left: 8%;
    }
}

@media only screen and (max-width:576px) {
    .container-pos {
        margin-top: 24vh;
    }
}

.pd-22 {
    padding: 22px
}

.fr-card{
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0;
    box-shadow: 0px 0px 5px 1px grey;
    min-height: 100px;
}

.fr-pad{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

