<mat-form-field class="example-chip-list" (focusout)="sendSelectedData()">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let friend of friends"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(friend,index)">
      {{friend.user_full_text_name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Tag Friends..."
      #friendInput
      [formControl]="friendCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
      
      >
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let friend of filteredFriends | async" [value]="friend">
      {{friend.user_full_text_name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
