<div *ngIf="info.content_type.startsWith('image/')" class="fl-lt img-cont" (mouseenter)="showPreview = !showPreview"
  (mouseleave)="showPreview = !showPreview">
  <img *ngIf ="!(isPreview && info.is_preview)" [src]="URLChange(info.image_storage_url)" [alt]="info.image_name" [title]="info.image_name" width="60" height="90"
    class="mrgn-rt-5">
    <img *ngIf ="isPreview && info.is_preview" [src]="URLChange(info.image_storage_url)" [alt]="info.image_name" [title]="info.image_name" class="prev-img">  
  
</div>
<div *ngIf="info.content_type.startsWith('video/') && edit" class="fl-lt img-cont">
  <video [src]=" URLChange(info.video_storage_url)" [title]="info.video_name" width="60" height="90" class="mrgn-rt-5"></video>
  
</div>
<div *ngIf="info.content_type.startsWith('video/') && !edit" class="fl-lt img-cont" (mouseenter)="showPreview = !showPreview"
(mouseleave)="showPreview = !showPreview">
  <img [src]="URLChange(info.video_storage_url)" [alt]="info.video_name" [title]="info.video_name" width="60" height="90"
    class="mrgn-rt-5">
  
</div>
<div *ngIf="info.content_type == 'application/pdf'" class="pdf mrgn-rt-5 img-cont" (mouseenter)="showPreview = !showPreview"
(mouseleave)="showPreview = !showPreview">

  <img src="assets/images/pdf.png" alt="" [title]="info.size">
  <div style="width:60px;word-break: break-all;clear:both">{{info.pdf_name}} </div>
  
</div>