<div class="container-fluid">
    <div class="row headermain">
        <div class="col-md-5 pdt-28">
            <a title=""><img class="img-responsive" src="assets/images/scholars_logo.png" width="300" height="30" alt=""></a>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="row mrgn_tp_20 pd-lt-63">
                <form #loginForm="ngForm" (ngSubmit)="loginmain(myemail, mypassword)">
                    <div class="col-md-4 col-xs-5 lgarea">
                        <div class="form-group mrgn-bt-12">
                            <input type="text" name="myemail" class="form-control h-26 max_height_30" [(ngModel)]="myemail"
                                autocomplete="off" placeholder="Email or Phone">

                            <div class="mrgn_tp_3 checkbox">
                                <label>
                                    <input type="checkbox" name="remember" #remember (click)="toggleEditable($event)"
                                        wraptext style="color:white">

                                    <span wraptext style="color:white">Keep me sign in</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4 lgarea">
                        <div class="form-group mrgn-bt-12">
                            <input type="password" name="password" class="form-control h-26 max_height_30" [(ngModel)]="mypassword"
                                autocomplete="on" placeholder="Password">

                            <div class="mrgn_tp_3 checkbox">
                                <span wraptext style="color:white"><a class="clr_white" routerLink="/forgetPassword">
                                        Forgot Password?</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-3 lgarea">
                        <div class="form-group">
                            <button type="submit" name="login-btn" class="btn btn-default fnt_12 form-control h-26 max_height_30"
                                [disabled]="(myemail==null && mypassword==null)">LOGIN</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row" id="bgimg">

        

        <div class="col-md-3 col-md-offset-6 custom_pad">
            <!-- <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div> -->

            <div class="mrgn_card">
                <button (click)="signInWithGoogle(template)" class="loginBtn loginBtn--google">
                    Continue with Google
                </button>


                <!-- <div class="fb-login-button" data-width="" data-size="medium" (click)="signInWithFB(template)" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="true"></div> -->
                <button class="loginBtn loginBtn--facebook" (click)="signInWithFB(template)">
                    Continue with Facebook
                </button>
            </div>



            <!-- <google-signin [clientId]="myClientId" [width]="240" [theme]="dark" scope="email profile" longTitle="true" (googleSignInSuccess)="onGoogleSignInSuccess($event)">
                      </google-signin> -->
            <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
                <div class="row">
                    <div class="col-md-12" *ngIf="wrongpassword==true">
                        <div class="alert alert-success wrongpassword">
                            The email address or phone number that you've entered doesn't match any account
                        </div>
                    </div>

                    <div class="col-md-12">
                        <h3 class="clr_wt">Sign Up</h3>
                    </div>
                </div>
                <div class="row" *ngIf="userAdded==true">
                    <div class="col-md-12">
                        <div class="alert alert-dismissible alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Congrats!</strong> You have registered successfuly.
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="error">
                    <div class="col-md-12">
                        <div class=" alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>User Already
                            exists with this email Id
                        </div>
                    </div>
                </div>
                <div class="form_inside mrgn_tp_20">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" autocomplete="off" name="firstname" pattern="^[a-zA-Z]+$"
                                    required [(ngModel)]="user.$first_name" placeholder="Firstname" #name="ngModel">
                                <span style="color:red" *ngIf="name.dirty && name.errors && name.touched">
                                    first name is required
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" autocomplete="off" name="lastname" [(ngModel)]="user.$last_name"
                                    placeholder="Lastname" #lastname="ngModel" pattern="^[a-zA-Z]+$" required>
                                <span style="color:red" *ngIf="lastname.dirty && lastname.errors && lastname.touched">
                                    last name is required
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" autocomplete="off" name="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                                    placeholder="Email" #Email="ngModel" [(ngModel)]="userAuth.email" required>
                                <span style="color:red" *ngIf="Email.errors?.pattern && Email.touched">
                                    invalid email
                                </span>
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            <ngx-intl-tel-input style="border-left: 0px solid #a94442" [preferredCountries]="['in','us','gb']"
                                placeholder="phone number" [enablePlaceholder]="false" [enableAutoCountrySelect]="false"
                                name="phone" [(ngModel)]="mobile_number" #phone="ngModel" required></ngx-intl-tel-input>
                            <span style="color:red" *ngIf="phone.touched && phone.errors ">
                                enter 10 digit mobile number
                            </span>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" autocomplete="off" name="password" required
                                    [(ngModel)]="userAuth.$password" placeholder="Password" #password="ngModel">
                                <span style="color:red" *ngIf="password.dirty && password.errors?.required">
                                    password is required
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" autocomplete="off" name="confirmpassword"
                                    appConfirmEqualValidator="password" required (ngModel)="confirmpassword"
                                    placeholder="Confirm Password" #confirmpassword="ngModel">
                                <span style="color:red" *ngIf="confirmpassword.dirty && confirmpassword.errors?.required">
                                    confirm password is required
                                </span>
                                <span style="color:red" *ngIf="confirmpassword.dirty && confirmpassword.errors?.notEqual && !confirmpassword.errors?.required">
                                    password do not match
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">


                        <div class="col-md-6 ">
                            <div class="form-group">
                                <input class="form-control" autocomplete="off" placeholder="Date Of Birth" bsDatepicker
                                    [bsConfig]="datePickerConfig" class="form-control" name="date_of_birth" [(bsValue)]="bsValue"
                                    (bsValueChange)="onValueChange($event)">


                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <label class="radio-inline" *ngFor="let gender of genders">
                                <input type="radio" name="gender" value="{{gender}}" (change)='radioChangeHandler($event)'
                                    style="color:white">{{gender}}
                            </label>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="ACTIVE" required [(ngModel)]="userPersonal.$status"
                                            name="isActive" id="c2" #isactive="ngModel">Yes, I understand and agree
                                        to the scholars book Terms & Conditions.</label>
                                    <span style="color:red" *ngIf="isactive.touched && isactive.errors?.required">Please
                                        accept terms and conditions</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="submit" value="submit" class="btn btn-default form-control" [disabled]="!userForm.form.valid">
                            </div>
                        </div>
                    </div>
                </div>
            </form>


        </div>

    </div>
</div>

<div class="footy-sec footer_Sticky headermain">

    <div class="container mrgn_20_tp_btm">
        <ul>
            <li><a href="#" title="">Help Center</a></li>
            <li><a href="#" title="">Privacy Policy</a></li>
            <li><a href="#" title="">Community Guidelines</a></li>
            <li><a href="#" title="">Cookies Policy</a></li>
            <li><a href="#" title="">Career</a></li>
            <li><a href="#" title="">Forum</a></li>
            <li><a href="#" title="">Language</a></li>
            <li><a href="#" title="">Copyright Policy</a></li>
        </ul>
        <p class="cp-line"><img src="assets/images/copy-icon.png" alt="">Copyright 2018</p>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Welcome to Scholarsbook</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="showLoader" class="loader">
            <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
            <span>Loading...Please Wait</span>
        </div>
        <div class="col-md-12">
            <h3 class="">Signup</h3>
        </div>
        <form #usermodalForm="ngForm" (ngSubmit)="addUserOnFirstGoogleLogin();">
            <div class="form_inside">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="text" class="form-control" autocomplete="off" name="firstname" pattern="^[a-zA-Z]+$"
                                required [(ngModel)]="modal_first_name" placeholder="Firstname" #modalname="ngModel">
                            <span style="color:red" *ngIf="modalname.dirty && modalname.errors && modalname.touched">
                                first name is required
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="text" class="form-control" autocomplete="off" name="lastname" [(ngModel)]="modal_last_name"
                                placeholder="Lastname" #modallastname="ngModel" pattern="^[a-zA-Z]+$" required>
                            <span style="color:red" *ngIf="modallastname.dirty && modallastname.errors && modallastname.touched">
                                last name is required
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="text" class="form-control" autocomplete="off" name="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                                placeholder="Email" #modalEmail="ngModel" [(ngModel)]="modalemail" required required>
                            <span style="color:red" *ngIf="modalEmail.errors?.pattern && modalEmail.touched">
                                invalid email
                            </span>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <ngx-intl-tel-input style="border-left: 0px solid #a94442" nationalMode=false autoHideDialCode=true
                            [preferredCountries]="['in','us','gb']" placeholder="phone number" [enablePlaceholder]="false"
                            [enableAutoCountrySelect]="false" name="phone" [(ngModel)]="modal_mobile_number"
                            #modalphone="ngModel" required></ngx-intl-tel-input>
                        <span style="color:red" *ngIf="modalphone.touched && modalphone.errors ">
                            enter 10 digit mobile number
                        </span>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="password" class="form-control" autocomplete="off" name="password" required
                                [(ngModel)]="modalpassword" placeholder="Password" #modalPassword="ngModel">
                            <span style="color:red" *ngIf="modalPassword.dirty && modalPassword.errors?.required">
                                password is required
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="password" class="form-control" autocomplete="off" name="confirmpassword"
                                appConfirmEqualValidator="password" required (ngModel)="modalconfirmpassword"
                                placeholder="Confirm Password" #modalconfirmpassword="ngModel">
                            <span style="color:red" *ngIf="modalconfirmpassword.dirty && modalconfirmpassword.errors?.required">
                                confirm Password is required
                            </span>
                            <span style="color:red" *ngIf="modalconfirmpassword.dirty && modalconfirmpassword.errors?.notEqual && !modalconfirmpassword.errors?.required">
                                password do not match
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">


                    <div class="col-md-5 ">
                        <div class="form-group">
                            <input class="form-control" autocomplete="off" placeholder="Date Of Birth" bsDatepicker
                                [bsConfig]="datePickerConfig" class="form-control" name="modal_date_of_birth"
                                [(bsValue)]="modalbsValue" (bsValueChange)="onValueChangemodal($event)">


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 ">
                        <label class="radio-inline black" *ngFor="let gender of genders">
                            <input type="radio" class="black" name="gender" value="{{gender}}" (change)='radioChangeHandlerForModal($event)'
                                style="color:white">{{gender}}
                        </label>

                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox black">
                                <label style="color:black"><input type="checkbox" value="ACTIVE" required [(ngModel)]="modalstatus"
                                        class="black" name="isActive" id="c2" #isactive="ngModel">Yes, I understand and
                                    agree to the scholars
                                    book Terms & Conditions.</label>
                                <span style="color:red" *ngIf="isactive.touched && isactive.errors?.required">Please
                                    accept terms and conditions</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5">
                            <input type="submit" value="Proceed" class="btn btn-primary form-control" [disabled]="!usermodalForm.form.valid">
                        </div>
                        <div class="col-md-5">
                            <input type="submit" value="Cancel" (click)='closeModal()' class="btn btn-danger form-control"
                                [disabled]="usermodalForm.form.valid">
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</ng-template>