.logo i {
    font-size: 31px;
    margin-right: 4px;
    word-spacing: 14px;
}

.logo {
    color: white;
    margin: 0;
    font-size: 30px;
    padding: 4px 0;
    padding-bottom: 15px;
}

.clr_white {
    color: #fff
}

.mrgn_tp_20 {
    margin-top: 20px;
}

.navbar {
    border-radius: 4px;
    margin-top: -58px;
    float: right;
}

.black {
    color: black;
}

.example-action-button {
    margin-top: 16px;
}

.wrongpassword {
    background-color: #006cb5;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
    color: #fff;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(206, 70, 176);
}

label input {
    color: white;
}

label {
    color: white;
}

#bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 85vh;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(152, 198, 219);
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav {
    float: left;
    width: 100%;
    text-align: right;
    padding-right: 13px;
    margin-top: -50px;
}

nav li,
h2 {
    color: white;
}

.max_height_30 {
    max-height: 30px;
}

.clr_wt {
    color: #fff;
}

.mrgn_tp_3 {
    margin-top: 3px;
}

.mrgn_tp_40 {
    margin-top: 5.5%;
}

.radio-inline input {
    color: white;
}

.mrgn_tp_0 {
    margin-top: 0px;
    color: white;
}

.headermain {
    background-color: #006cb5;
}

.headermain h1 {
    color: white;
}

.fnt_12 {
    font-size: 12px;
}

.mrgn_20_tp_btm {
    margin-top: 15px;
    margin-bottom: 15px;
}

.formsection {
    margin-top: 10px;
    padding-top: 10px;
}

.form-control-login {
    width: 100%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
}

.btn-login {
    padding: 1px 7px;
}

.nav-container {
    margin-bottom: 20px;
}

.multibox {
    padding-left: 0px;
    padding-bottom: 10px;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}



 
.input {
    margin: 0%;
}

.bg-image {
    background-image: url("src/assets/images/scholor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mrgn_rt_40 {
    margin-right: 40px;
}


/* mobile in :horizontal mode */

@media only screen and (max-width:320px) {
    a,
    span {
        font-size: smaller;
    }
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
    }
    .logoimg {
        width: 100%;
    }
}


/* mobile in landscape  mode */

@media only screen and (min-width:321px) and (max-width:480px) {
    .logoimg {
        width: 100%;
    }
    a,
    span {
        font-size: smaller;
    }
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
    }
}


/* tablets */

@media only screen and (min-width:768px) and (max-width:1024px) {
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
    }
    .logoimg {
        width: 100%;
    }
}

@media only screen and (width:736px) {
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
    }
    .logoimg {
        width: 100%;
    }
}

@media only screen and (width:734px) {
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
    }
    .logoimg {
        width: 100%;
    }
}

@media only screen and (width:684px) {
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
    }
    .logoimg {
        width: 100%;
    }
}


/* desktop and laptop  devices */

@media only screen and (min-width:1224px) {
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
        position: fixed;
    }
}


/* very large devices */

@media only screen and (min-width:1824px) {
    .footer_Sticky {
        bottom: 0px;
        float: bottom;
        position: fixed;
    }
}

.lgarea {
    padding-left: 5px;
    padding-right: 5px
}

.pdt-28 {
    padding-top: 28px;
    padding-left: 12%;
}

.h-26 {
    height: 26px
}

@media only screen and (min-width:799px) {
    .pd-lt-63 {
        padding-left: 63px
    }
}

.mrgn-bt-12 {
    margin-bottom: 12px
}


/* for image on log in page */

@media only screen and (max-width:800px) {
    .mrg_lft {
        margin-left: 1.5em;
    }
}

@media only screen and (width:600px) {
    .pdt-28 {
        padding-top: 28px;
        padding-left: 22%;
    }
    .mrg_lft {
        margin-left: 4.5em;
    }
}

@media only screen and (width:640px) {
    .pdt-28 {
        padding-left: 25%;
    }
    .mrg_lft {
        margin-left: 6.5em;
    }
    .mrgn_tp_20 {
        margin-top: 0px;
    }
}

@media only screen and (min-width:720px) and (max-width:800px) {
    .pd-lt-63 {
        padding-left: 411px;
        padding-top: 8px;
    }
    .mrgn_tp_20 {
        margin-top: 0px;
    }
}


/* by dheeraj css */

.custom_pad {
    padding-left: 70px;
    padding-right: 0px;
}

@media only screen and (max-width:992px) {
    .custom_pad {
        padding-left: 15px;
        padding-right: 15px;
    }
    
}

.clr_wt {
    color: #fff;
}

.wrongpassword {
    margin-top: 10px;
    margin-bottom: 0px;
}

.footer_Sticky {
    position: unset!important;
}

#bgimg {
    height: 100%;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.noborder {
    border-left: 0px solid #FFC107;
}

.bg-transparent {
    background-color: transparent;
}

 :host {
    height: 100%;
}

.photo {
    object-fit: contain;
}

.mrgn_card {
    margin-top: 20px;
}

.left {
    margin-left: 10px;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 13px;
    color: #FFF;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
    font-size: 13px;
    margin-right: 8px;
}

.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}


/* Facebook */

.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}

.cp-line {
    line-height: 17px;
    margin-top: 5px
}
