<body id="home">




    <header class="reverse">









        <nav id="main-nav" class="clearfix">
            <div id="main-nav-div-holder">
                <a id="main-nav-logo-holder" href="index.html">
                    <img class="home-nav" src="assets/images/scholars_logo.png" />
                </a>

                <div id="menu-wrapper" class="clearfix reverse-float-right">

                    <ul>
                        <li (click)="navigateToPages('main')">


                            <a>Home</a>

                        </li>
                        <li (click)="navigateToPages('about-us')">


                            <a>About Us</a>

                        </li>



                        <li>

                            <a (click)="navigateToPages('company')">
                                Company

                            </a>



                        </li>

                        <li>

                            <a (click)="navigateToPages('product')">
                                Product
                            </a>


                        </li>
                        <li>

                            <a (click)="navigateToPages('platform')">
                                Platform
                            </a>
                        </li>
                        <li (click)="navigateToPages('login')">

                            <a>
                                Log in
                            </a>
                        </li>

                    </ul>


                </div>
            </div>
        </nav>
        <nav class="active mrgn_tp" *ngIf="showNavbar==true">

               <span class="close" (click)=' closemenuoptions()'>&times;</span>

            <ul>
                <li (click)="navigateToPages('main')">


                    <a>Home</a>

                </li>
                <li (click)="navigateToPages('about-us')">


                    <a>About Us</a>

                </li>



                <li>

                    <a (click)="navigateToPages('company')">
                        Company

                    </a>



                </li>

                <li>

                    <a (click)="navigateToPages('product')">
                        Product
                    </a>


                </li>
                <li>

                    <a (click)="navigateToPages('platform')">
                        Platform
                    </a>
                </li>
                <li (click)="navigateToPages('login')">

                    <a>
                        Log in
                    </a>
                </li>

            </ul>

           
        </nav>
        <!--nav end-->
        <div id="topmostnav"  class="menu-btn midnight-blue mrgn_top ">




            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-xs-9">
                        <a id="main-nav-logo-holder" href="index.html">
                            <img class="home-nav" src="assets/images/scholars_logo.png" />
                        </a>


                    </div>
                    <div class="col-sm-3 col-xs-3">
                    <a (click)="menuClicked(showNavbar)">
                        <i class="fa fa-bars"></i>
                    </a>
                     </div>
                </div>
            </div>





        </div>
        <!--menu-btn end-->



    </header>
    <div class="mrgn_tp_30 mrgn_lr_15">
        <div class="hero row">
            <div id="loopBgImg">
           
                <div class="heroText heroTextAgain">
                    <h1>Align more with</h1>
                    <div class="mobileText">
                        <h2>Goals. <br> Outcomes. <br> Awesomeness.</h2>
                    </div>
                    <div class="loopText">
                        <h1>Awesomeness</h1>
                        <h1>Outcomes</h1>
                        <h1>Goals</h1>
                        <h1 class="showOnLoad">Learning</h1>
                    </div>
                    <p>Scholarsbook is the LMS that makes teaching and learning (and implementation and adoption and
                        customer
                        support and student success and bragging to your non-Scholarsbook-using peers) easier.</p>
                </div>

            </div>


        </div>


    <div id="ic2018a" class="resimg" >
            <img class="img-responsive" id="IC2018-date" src="assets/img/ic-18/hero-tent.svg" alt="InstructureCon Date- July 24th-26th"
                title="InstructureCon Date- July 24th-26th">
        <h2 id="IC2018-location"><span class="dashes"> </span> Scholarsbook</h2>
            <a   alt="register" aria-label="Register to Attend">Revisit
                the Fun</a>
        </div>

        <div id="higherEducation_motionBox" class="mrgin_tp row">

            <div class="group">
                <div class="section-info">
                    <h3>Scholarsbook for Higher Ed. faster, deeper, and giddier adoption than any other LMS.</h3>
                    <p>Scholarsbook is the 21st Century LMS. Adaptable. Reliable. Customizable. Easy to use. Mobile.
                        Time-saving.
                        And, perhaps most importantly, it gets used. That&rsquo;s because it&rsquo;s designed to get
                        out of
                        your way, to let you do your thing. Every last feature, every last interface is crafted to save
                        you
                        time and effort and to make teaching and learning easier. That&rsquo;s why Scholarsbook is
                        adopted faster
                        and deeper than any other LMS. HOW CAN Scholarsbook MAKE TEACHING &amp; LEARNING EASIER FOR
                        YOU? <a class="higherEducation-link" href="higher-education/index.html" aria-label="Learn more about Scholarsbook for Higher Ed">LEARN
                            MORE</a></p>
                </div>
            </div>
        </div>

        <div class="video_main row" id="video_main">
            <div class="group">
                <div class="panda-2 video-copy">
                    <span class="btn_play version-midgrey" data="main_higherEducation.html" tabindex="0">
                        <span>Play</span>
                        <span class="arrow-right video-play-1"></span>
                    </span>
                    <h2>Streamlining the world's largest<br>education system.</h2>
                    <p>Selected as the LMS for California Community Colleges Online Education Initiative, Scholarsbook
                        increases
                        access to quality online courses.</p>
                </div>
                <div class="panda-2 placeholder"></div>

                <iframe id="main_higherEducation" src="http://www.youtube.com/embed/GYkymu5BdRI" frameborder="0"
                    allowfullscreen></iframe>
            </div>

            <div class="video-matte main_higherEducation"></div>
        </div>

        <div id="k12_motionBox" data-stellar-background-ratio=".65">
            <div class="group row">
                <div class="section-info">
                    <h3>Scholarsbook for K-12. peanut butter, meet jelly. (Or honey. or chocolate. or apples. or
                        celery.
                        or&hellip;)</h3>
                    <p>Designed specifically for K-12 teachers and students, Scholarsbook is an easy-to-use,
                        cloud-based learning
                        management system (LMS) that connects all the digital tools and resources teachers use into one
                        simple place. It integrates seamlessly with hundreds of apps, empowering teachers and students
                        with
                        countless tools to make teaching and learning easier and more fun. HOW CAN Scholarsbook MAKE
                        TEACHING
                        &amp; LEARNING EASIER FOR YOU? <a class="k12-link" href="k-12/index.html" aria-label="Learn more about Scholarsbook for K through Twelve">LEARN
                            MORE</a></p>
                </div>
            </div>
        </div>

        <div class="video_main secondary container" id="california">
            <div class="group row">
                <div class="panda-2 video-copy">
                    <span class="btn_play version-red" data="mainVideo-ncdpi.html" tabindex="0">
                        <span>Play</span>
                        <span class="arrow-right video-play-2"></span>
                    </span>
                
                    <p>Selected by the North Carolina Department of Public Instruction as its statewide LMS,
                        Scholarsbook makes
                        it easy for educators throughout the state to collaborate and share resources.</p>
                </div>
                <div class="panda-2"></div>

                <iframe id="mainVideo-ncdpi" width="960" height="540" src="http://www.youtube.com/embed/8vI5p9Ez0GM"
                    frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video-matte mainVideo-ncdpi"></div>
        </div>

        <div id="testDrive">
            <div class="group drive">
                <p id="drive_it">
                    <span><a id="span" href="try-Scholarsbook.html"></a></span>
                    Get started with Scholarsbook for Free. You bring the Content and Students. We’ll provide the
                    awesome
                    platform. <a href="try-Scholarsbook.html" aria-label="Try Scholarsbook">Try it.</a>
                </p>

                <div id="testDrive_details">
                    <h2>Choosing an LMS comes<br>down to 3 simple questions.</h2>
                    <div id="compare-tabs">
                        <span id="get-used" class="selected">1. Will it get used?</span>
                        <span id="adapt-to-needs">2. Will it adapt to your needs?</span>
                        <span id="is-reliable">3. Is it reliable?</span>
                    </div>

                    <p class="compare-details get-used selected">No matter which LMS you choose, if it doesn&rsquo;t
                        get
                        used, then what&rsquo;s the point? All the features in the world mean nothing if no one uses
                        them.</p>

                    <p class="compare-details adapt-to-needs">The best platform allows your institution to expand and
                        adopt
                        new technologies as they surface, which is just another reason we believe you&rsquo;ll find
                        that
                        Scholarsbook is the best choice.</p>

                    <p class="compare-details is-reliable">Scholarsbook is native cloud, reliably hosted on Amazon AWS,
                        which
                        processes more than a million requests per second with 500,000+ servers.</p>
                </div>
            </div>
        </div>


       
        <div class="rumble-strip img-responsive" id="rumblestrip"></div>
        <div id="featurescallout" class="img-responsive">
            <div class="features-callout">
                <div class="row group ">
                    <div class="panda col-md-6 col-xs-12" style="margin-top: 5px;">
                        <a class="linked_header" href="research-education7277.html" aria-label="research">
                            <h3>WELCOME TO RESEARCH NIRVANA!</h3>
                        </a>
                        <p style="margin-top: 25px;">Do you love research? How about well-organized, super-pertinent,
                            edu-informed research? Well, then get a load of our new Research page, which we fully (and
                            soon) aim to grow into a vibrant epicenter of whitepapers, infographics, videos, and other
                            awesomeness directly from our borderline obsessive research team. Get your whitepapers (and
                            other awesomeness) <a href="research-education.html" aria-label="research education documents">HERE</a>!</p>
                    </div>
                    <div class="panda col-md-6 col-xs-12">
                        <h3>Scholarsbook App Center. LTI FTW!</h3>
                        <p id="app-center">The Scholarsbook App Center is your gateway to a world of powerful teaching
                            tools.
                            Even the least tech-savvy teachers can easily browse a library of LTI tools and install
                            them in
                            a single click—no IT help necessary. <strong>Open the door to a truly custom teaching
                                experience and more possibilities with Scholarsbook App Center.</strong></p>
                        <p class="split-links">
                            <a class="higherEd_canvasApp-link" href="higher-education/features.html#video-intro">Higher
                                Ed</a>
                            | <a class="k12_canvasApp-link" href="k-12/features.html#video-intro" aria-label="K through twelve">K-12</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="final-points" class="row clr">
            <div class="group">
                    <div class="panda-3 bottomShelf spotlightNewUI col-md-4 col-xs-4 " id="gagecallout">
                            <a href="https://www.canvaslms.com/downloads/change-is-worth-it-playbook.pdf" target="_blank"
                                aria-label="Change Is Worth It Playbook PDF"></a>
                            <h3><a href="https://www.canvaslms.com/downloads/change-is-worth-it-playbook.pdf" target="_blank">Learn
                                    how Scholarsbook makes LMS migration easier than you think.</a></h3>
                            <p>Before you decide to stick with a mediocre learning platform just to avoid change, read the new
                                e-book by Education Dive. It highlights the ease of migrating to a modern, best-in-breed LMS
                                like
                                Scholarsbook.</p>
                        </div>

                <div class="panda-3 bottomShelf spotlightEngage col-md-4 col-xs-4" id="finalpoint">
                    <a href="https://www.canvaslms.com/downloads/Advance_The_Cycle_of_Student_Engagement.pdf" target="_blank"
                        aria-label="Advance The Cycle of Student Engagment PDF"></a>
                    <h3><a href="https://www.canvaslms.com/downloads/Advance_The_Cycle_of_Student_Engagement.pdf"
                            target="_blank">Advance
                            the Cycle of Student Engagement</a></h3>
                    <p>What you do in the classroom affects students' long-term academic success—in fact, students'
                        engagement in a single course can predict program completion. But there’s more to long-term
                        success
                        than earning a diploma or degree, and in order to achieve it, students need to engage in their
                        learning experience. Scholarsbook helps teachers affect the cycle of student engagement at
                        every point.
                    </p>
                </div>

                <div class="panda-3 bottomShelf spotlightNewUI col-md-4 col-xs-4 " id="gagecanvas">
                    <a href="https://www.canvaslms.com/downloads/change-is-worth-it-playbook.pdf" target="_blank"
                        aria-label="Change Is Worth It Playbook PDF"></a>
                    <h3><a href="https://www.canvaslms.com/downloads/change-is-worth-it-playbook.pdf" target="_blank">Learn
                            how Scholarsbook makes LMS migration easier than you think.</a></h3>
                    <p>Before you decide to stick with a mediocre learning platform just to avoid change, read the new
                        e-book by Education Dive. It highlights the ease of migrating to a modern, best-in-breed LMS
                        like
                        Scholarsbook.</p>
                </div>
            </div>
        </div>
   
        <div class="contact_Us" [class.move-contact]="showContactUs">
            <button class="openbtn" (click)='showContactUs = !showContactUs'>
                <ul>
                    <li> C</li>
                    <li> O</li>
                    <li> N </li>
                    <li> T</li>
                    <li> A</li>
                    <li> C</li>
                    <li> T</li>
                    <li>&nbsp;</li>
                    <li> U</li>
                    <li> S</li>
                </ul>
            </button>

        </div>


    </div>

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2019 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Scholarsbook</a>.
                    All Rights Reserved.
                </div>
                <!-- <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </footer>

    <div class="container_contact">





        <div id="mySidebar" class=" container_contact sidebar" [class.show-contact]="showContactUs">
            
            <div style="text-align:center">
                <h2>Contact Us</h2>

            </div>
            <div class="row_contact">

                <div class="">
                    <form action="/action_page.php">
                        <label for="fname" class="col-md-12 col-xs-12 ">First Name *</label>
                        <input type="text" class="col-md-12 col-xs-12 " id="fname" name="firstname" placeholder="Your name..">
                        <label for="lname" class="col-md-12 col-xs-12 ">Last Name *</label>
                        <input type="text" class="col-md-12 col-xs-12 " id="lname" name="lastname" placeholder="Your last name..">
                        <label for="fname" class="col-md-12 col-xs-12 ">Email *</label>
                        <input type="text" class="col-md-12 col-xs-12 " id="fname" name="firstname" placeholder="Your email">
                        <label for="fname " class="col-md-12 col-xs-12 ">Company *</label>
                        <input type="text" class="col-md-12 col-xs-12 " id="fname" name="firstname" placeholder="Current Company">

                        <label for="country" class="col-md-12 col-xs-12 ">Country</label>
                        <select id="country " class="col-md-12 col-xs-12 " name="country">
                            <option value="australia">Australia</option>
                            <option value="canada">Canada</option>
                            <option value="usa">USA</option>
                        </select>

                        <label for="subject" class="col-md-12 col-xs-12 ">Subject</label>
                        <textarea id="subject" class="col-md-12 col-xs-12 " name="subject" placeholder="Write something.."
                            style="height:170px"></textarea>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>