<div class="row">
  <div class="col-md-12">
    
     <h3 style="margin-bottom:0"><a class="cursor" (click) = "sendForumPost()" data-target="#search">{{forumpost.heading}}:{{forumpost.formatted_message}}</a></h3>
  </div>
  
  
</div>
