<div class="container container-pos">
    <section style=" background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%)">
        <mat-tab-group style="background-color: white">
            <mat-tab class="custom_tab">
                <ng-template mat-tab-label>
                    <p (click)="getPostByGroupsearchtext(0,100);"> All </p>
                </ng-template>
                <div class="row ">
                    <h3>People</h3>
                    <mat-card class="people-card" *ngFor="let friend of initialFilteredUsers |slice:fromSizeforPeople:toSizeforPeople">
                        <app-search-people-card [searchedUser]='friend'></app-search-people-card>
                    </mat-card>
                    <div class="col-md-12 cursor" *ngIf="initialFilteredUsers.length>5">
                        <a style="display: block;text-align: center" (click)='seeMorePeople(fromSizeforPeople,toSizeforPeople)'>See
                            more</a>
                    </div>
                    <div *ngIf="showPeopleLoader" class="loader">
                        <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                        <span>Loading...Please Wait</span>
                    </div>
                    <div *ngIf="!initialFilteredUsers.length  && !showPeopleLoader"><span>No Results to Show</span></div>
                </div>
                <hr>
                <div class="row">
                    <h3>Posts</h3>
                    <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="allUserData.length && initialFilteredPosts.length">
                        <div *ngFor="let singlePost of initialFilteredPosts | slice:fromSizeforPost:toSizeforPost"
                            class="post-bar">
                            <app-post [singlePost]="singlePost" [isSearch] = "true" [friendData]="allUserData"></app-post>
                        </div>
                        <div class="col-md-12 cursor" *ngIf="initialFilteredPosts.length>5">
                            <a style="display: block;text-align: center" (click)='seeMorePosts(fromSizeforPost,toSizeforPost)'>See
                                more</a>
                        </div>
                    </div>
                    <div *ngIf="showPostLoader" class="loader">
                        <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                        <span>Loading...Please Wait</span>
                    </div>
                    <div *ngIf="!initialFilteredPosts.length && !showPostLoader"><span>No matching posts found</span></div>
                </div>
                <hr>
                <div class="row">
                        <h3>Courses</h3>
                        <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="groupCourses">
                            <div *ngFor="let cours of groupCourses "
                                class="post-bar" style="border:0">
                                <app-course-search [course]="cours" (emitCourse)="gotCourse = $event"></app-course-search>
                            </div>
                            <div class="col-md-12 cursor" *ngIf="groupCourses.length>5">
                                <a style="display: block;text-align: center" (click)='seeMorePosts(fromSizeforPost,toSizeforPost)'>See
                                    more</a>
                            </div>
                        </div>
                        <div *ngIf="showCourseLoader" class="loader">
                            <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                            <span>Loading...Please Wait</span>
                        </div>
                        <div *ngIf="groupCourses && groupCourses.length==0 && !showCourseLoader"><span>No matching posts found</span></div>
                </div>
                    <hr>
                    <hr>
                    <div class="row">
                            <h3> Modules of Course</h3>
                            <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="groupModules">
                                <div *ngFor="let module of groupModules "
                                    class="post-bar" style="border:0">
                                    <app-module-search [module]="module" (emitModule)="gotModule = $event"></app-module-search>
                                </div>
                                <div class="col-md-12 cursor" *ngIf="groupModules.length>5">
                                    <a style="display: block;text-align: center" (click)='seeMoreModules(fromSizeforPost,toSizeforPost)'>See
                                        more</a>
                                </div>
                            </div>
                            <div *ngIf="showModuleLoader" class="loader">
                                <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                                <span>Loading...Please Wait</span>
                            </div>
                            <div *ngIf="groupModules && groupModules.length==0 && !showModuleLoader"><span>No matching posts found</span></div>
                    </div>
                        <hr>
                <div class="row">
                    <h3>Videos</h3>
                    <div *ngFor='let video of videoArray | slice:fromSizeforVidoes:toSizeforVidoes' class="item  min-height-400 col-md-6 col-lg-4">
                        <div class="row">
                            <div class="col-sm-6 vidimg">
                                <img width="348" id={{video.ext_video_data_id}} class=" cursor" (click)="playVideo(ev,video.ext_video_data_id,video.video_id)"
                                    height="180" [src]="video.standard_thumbnail_url?video.standard_thumbnail_url:video.medium_thumbnail_url">
                                <!-- <iframe class="myPlayer" frameborder="0" allowfullscreen="1" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="348" height="180" [src]="sanitizer.bypassSecurityTrustResourceUrl(changeUrl(video.video_url))"></iframe> -->
                                <iframe id={{video.video_id}} style="display:none" frameborder="0" allowfullscreen="1"
                                    title="YouTube video player" width="348" height="180" [src]="video.video_url|safe"></iframe>
                                <!-- <a href={{video.snippet.thumbnails.default.url}} [target]="video.id.videoId"><img src={{video.snippet.thumbnails.default.url}}></a> -->
                            </div>
                            <div class="col-sm-12 ">
                                <h4 class=" group inner list-group-item-heading">
                                    {{video.title}}
                                </h4>
                                <p class="group inner list-group-item-text">
                                    {{video.description |slice:0:100}}
                                </p>
                                <ng-template id="myTooltip" #tolTemplate>
                                    Share this video with friends
                                </ng-template>

                            </div>
                            <!-- <div (mouseenter) = "showwasha(video.ext_video_data_id)" (mouseleave)="dontshowwasha(video.ext_video_data_id)" class="watch-share" style="display:none" id="{{'show'+video.ext_video_data_id}}">
                                <div class="col-lg-8">
                                    <h4>
                                        {{video.title | slice:0:50 }}
                                    </h4>
                                </div>
                                <div class="col-lg-4">

                                    <button type="button" title="watch later" class="btn btn-relative mr-10">
                                            <i class="material-icons">
                                                watch_later
                                            </i>
                                    </button>
                                    <button type="button" (click)="copyToClipBoard(video.ext_video_data_id)" title="share video"
                                        class="btn btn-relative">
                                        <i class="material-icons">
                                            share
                                        </i>
                                    </button>

                                </div>

                            </div> -->
                        </div>
                        <div class="v-share">
                            <button type="button" (click)="copyToClipBoard(video.ext_video_data_id)" class="btn btn-primary s-btn"
                                [tooltip]="tolTemplate">
                                Share
                            </button>
                        </div>
                    </div>
                    <div *ngIf="showVideoLoader" class="loader">
                        <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                        <span>Loading...Please Wait</span>
                    </div>
                    <div class="col-md-12 cursor" *ngIf="toSizeforVidoes<videoArray.length">
                        <a style="display: block;text-align: center" (click)='seeMoreVidoes(fromSizeforVidoes,toSizeforVidoes)'>See
                            more</a>
                    </div>
                    <div *ngIf="videoArray.length==0 && !showVideoLoader">
                        <p> No matching videos found</p>
                    </div>
                </div>
            </mat-tab>
            <mat-tab class="custom_tab">
                <ng-template mat-tab-label>
                    <p (click)="getDataforPeople()">People</p>
                </ng-template>
                <h3>People</h3>
                <div class="container-fluid" *ngIf="initialFilteredUsers.length">
                    <div class="well well-sm">
                        <strong>Display</strong>
                        <div class="btn-group">
                            <a (click)="listORgrid = true" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                                </span>List</a> <a (click)="listORgrid = false" id="grid" class="btn btn-default btn-sm"><span
                                    class="glyphicon glyphicon-th"></span>Grid</a>
                        </div>
                    </div>
                    <div id="products" class="row list-group">
                        <div *ngFor="let friend of allFilteredUsers; let i = index" [class.list-group-item]="listORgrid"
                            class="item col-xs-12 col-sm-6 col-md-4 list-group-item">
                            <app-search-people-card [searchedUser]='friend'></app-search-people-card>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 cursor" *ngIf="allFilteredUsers.length>5">
                    <a style="display: block;text-align: center" (click)='seeMorePeople(fromSizeforPeople,toSizeforPeople)'>See
                        more</a>
                </div>
                <div *ngIf="!initialFilteredUsers.length"><span>No Results to Show</span></div>
            </mat-tab>
            <mat-tab class="custom_tab">
                <ng-template mat-tab-label>
                    <p>Posts</p>
                </ng-template>
                <h3>Public Post </h3>
                <div class="col-md-6" *ngIf="initialFilteredPosts.length && allUserData.length">
                    <div *ngFor="let singlePost of initialFilteredPosts; index as i" class="post-bar">
                        <app-post [singlePost]="singlePost" [isSearch] = "true" [friendData]="allUserData"></app-post>
                    </div>
                    <div class="col-md-12 cursor" *ngIf="initialFilteredPosts.length>5">
                        <a style="display: block;text-align: center" (click)='seeMorePosts(fromSizeforPost,toSizeforPost)'>See
                            more</a>
                    </div>
                </div>
                <div *ngIf="showPostLoader" class="loader">
                    <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                    <span>Loading...Please Wait</span>
                </div>
                <div *ngIf="!initialFilteredPosts.length && !showPostLoader"><span>No matching posts found</span></div>
            </mat-tab>
            <mat-tab class="custom_tab">
                <ng-template mat-tab-label>
                    <p>Courses</p>
                </ng-template>
                <h3>Courses</h3>
            </mat-tab>
            <mat-tab class="custom_tab">
                <ng-template mat-tab-label>
                    <p>Videos</p>
                </ng-template>
                <h2>Videos result</h2>
                <div class="container-fluid" *ngIf="videoArray">
                    <div class="well well-sm">
                        <strong>Display</strong>
                        <div class="btn-group">
                            <a (click)="listORgrid = true" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                                </span>List</a> <a (click)="listORgrid = false" id="grid" class="btn btn-default btn-sm"><span
                                    class="glyphicon glyphicon-th"></span>Grid</a>
                        </div>
                    </div>
                    <div id="products" class="row list-group">
                        <div *ngFor='let video of videoArray |slice:fromSizeforVidoes:toSizeforVidoes'
                            [class.list-group-item]="listORgrid" class="item  min-height-400 col-md-6 col-lg-4">
                            <div class="row">
                                <div class="vidimg">
                                    <img width="348" id={{video.ext_video_data_id}} class=" cursor" (click)="playVideo(ev,video.ext_video_data_id,video.video_id)"
                                        height="180" [src]="video.standard_thumbnail_url?video.standard_thumbnail_url:video.medium_thumbnail_url">
                                    <!-- <iframe class="myPlayer" frameborder="0" allowfullscreen="1" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="348" height="180" [src]="sanitizer.bypassSecurityTrustResourceUrl(changeUrl(video.video_url))"></iframe> -->

                                    
                                    <iframe id={{video.video_id}} style="display:none" frameborder="0" allowfullscreen="1"
                                        title="YouTube video player" width="348" height="180" [src]="video.video_url|safe"></iframe>
                                    <!-- <a href={{video.snippet.thumbnails.default.url}} [target]="video.id.videoId"><img src={{video.snippet.thumbnails.default.url}}></a> -->


                                </div>
                                <div class="col-sm-12 pd-22">


                                    <p class="group inner list-group-item-text">
                                        {{video.description |slice:0:100}}</p>

                                    <ng-template id="myTooltip" #tolTemplate>
                                        Share this video with friends
                                    </ng-template>



                                </div>
                          
                                <!-- <div (mouseenter) = "showwasha(video.ext_video_data_id)" (mouseleave)="dontshowwasha(video.ext_video_data_id)" class="watch-share" style="display:none" id="{{'show'+video.ext_video_data_id}}">
                                    <div class="col-lg-8">
                                        <h4>
                                            {{video.title | slice:0:50 }}
                                        </h4>
                                    </div>
                                    <div class="col-lg-4">

                                        <button type="button" title="watch later" class="btn btn-relative mr-10">
                                                <i class="material-icons">
                                                    watch_later
                                                </i>
                                        </button>
                                        <button type="button" (click)="copyToClipBoard(video.ext_video_data_id)" title="share video"
                                            class="btn btn-relative">
                                            <i class="material-icons">
                                                share
                                            </i>
                                        </button>

                                    </div>

                                </div> -->
                            </div>

                            <div class="v-share">
                                <button type="button" (click)="copyToClipBoard(video.ext_video_data_id)" class="btn btn-primary s-btn"
                                    [tooltip]="tolTemplate">
                                    Share
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 cursor" *ngIf="videoArray.length>5">
                    <a style="display: block;text-align: center" (click)='seeMoreVidoes(fromSizeforVidoes,toSizeforVidoes)'>See
                        more</a>
                </div>
                <div *ngIf="videoArray.length==0">
                    <p> No matching videos found</p>
                </div>
            </mat-tab>
        </mat-tab-group>
    </section>
</div>

<div *ngIf="copied" class="copy-noti alert alert-success alert-dismissible">
    <a (click)="copied = !copied" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Copied to clipboard!</strong>
</div>

<!-- Modal -->
<div id="search" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Course</h4>
        </div>
       <div class="modal-body">
  
          <app-course-view *ngIf="gotCourse" [course]="gotCourse" [readable]="true"></app-course-view>
        </div>
  
      </div>
  
    </div>
  </div>