<div *ngIf="evnt.event_type_id=='comment' && evnt.from_user_id != userId">
    <div class="notification-info text cursor" (click)='seeEventNotif(evnt.from_user_id,evnt.entity_id)'>
        <app-user-detail [userId]='evnt.from_user_id'></app-user-detail>
        Commented on your post on {{evnt.last_updated_timestamp | date:'medium':'+0530'}}
    </div>
</div>

<div *ngIf=" evnt.event_type_id=='like' && evnt.from_user_id != userId">
    <div class="notification-info text cursor" (click)='seeEventNotif(evnt.from_user_id,evnt.entity_id)'>
        <app-user-detail [userId]='evnt.from_user_id'></app-user-detail>
        liked your post on {{evnt.last_updated_timestamp | date:'medium':'+0530'}}
    </div>
</div>

<div *ngIf="evnt.event_type_id=='share' && evnt.from_user_id != userId">
    <div class="notification-info text cursor" (click)='seeEventNotif(evnt.from_user_id,evnt.entity_id)'>
        <app-user-detail [userId]='evnt.from_user_id'></app-user-detail>
        shared your post on {{evnt.last_updated_timestamp | date:'medium':'+0530'}}
    </div>
</div>