.link {
    color: #006cb5;
    margin-left: 10px;
    margin-top: 10Px;
}

.mat-card-avatar {
    /* height: 0px; */
    /* width: 0px; */
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.lbl {
    text-transform: capitalize;
    padding: unset;
    margin: unset;
    font-weight: 100;
}

.clearfix {
    zoom: 1;
    margin: 10px;
}

._5i_s {
    margin-right: 16px;
    padding-left: 2px;
}

._ohe {
    float: left;
}

._8r {
    margin-right: 5px;
}

._8o,
._8o .img {
    display: block;
}

a {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
}

._2ar2 {
    position: relative;
}

._605a ._4ooo:not(._1ve7) {
    border-radius: 50%;
    overflow: hidden;
}

._8o,
._8o .img {
    display: block;
}

img {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 30px;
}

._2ar3 {
    bottom: -4px;
    height: 16px;
    padding: 0;
    position: absolute;
    right: -4px;
    width: 16px;
    z-index: 1;
}

._2p7a,
._9-- {
    height: 16px;
    width: 16px;
}

._9zc {
    display: inline-block;
    position: relative;
}

.sp_Erm1GyxvO7I.sx_72c12d {
    width: 16px;
    height: 16px;
    background-position: 0 -526px;
}

._8o,
._8o .img {
    display: block;
}

._9zc ._2p78 {
    display: block;
    left: 50%;
    margin-left: -50%;
    margin-top: -50%;
    position: absolute;
    top: 50%;
}

._42ef {
    overflow: hidden;
}

._5i_t {
    align-items: center;
    border-color: #ebedf0;
    border-style: solid;
    border-width: 0 0 1px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 12px;
}

._5j0c,
._5j0d {
    vertical-align: top;
}

._5j0c {
    flex: 1;
    padding-right: 10px;
}

._5j0e {
    margin: 5px;
}

._5j0e a {
    padding: 5px;
}

._6a {
    display: inline-block;
}

._6b {
    height: 40px;
    vertical-align: middle;
}

._6a {
    display: inline-block;
}

._5j0d {
    vertical-align: top;
}

._6a {
    display: inline-block;
}

.FriendButton {
    display: inline-block;
    vertical-align: top;
}

._4jy3._42fr:active,
._4jy3._42fr._42fs {
    line-height: 22px;
}

._517h,
._59pe:focus,
._59pe:hover {
    background-color: #f5f6f7;
    border-color: #ccd0d5;
    color: #4b4f56;
}

._4jy0 {
    transition: 200ms cubic-bezier(.08, .52, .52, 1) background-color, 200ms cubic-bezier(.08, .52, .52, 1) box-shadow, 200ms cubic-bezier(.08, .52, .52, 1) transform;
}

._4jy0 {
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 5 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}

._42ft {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    padding: 5px;
}

button {
    margin: 0;
}